.top.top-section
  %h1 AEROPUERTO INTERNACIONAL DE SAN FERNANDO
  .cierre-oscuro
.left
  .grid-8-12
    .news-inside
      .item
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/aeropuerto1.jpg")
        .data
          %p
            El Aeropuerto Internacional de San Fernando forma parte del sistema aeroportuario de Buenos Aires, y actualmente se encuentra destinado a la aviación general y a las actividades de las escuelas de vuelo.
            Su dirección es Ruta Provincial 202 (Avenida Hipólito Yrigoyen) y Balcarce y sus coordenadas son latitud 34° 27' 18" S y longitud 58° 35' 29" O.
            %br/
            %br/
            Fue creado en noviembre de 1929, por medio de un decreto presidencial que realizó la expropiación de 133 hectáreas que fueron cedidas para su instalación. En 1950, fue elevado a la categoría de Aeropuerto Internacional.