.row-fluid.subtitle
	%h1 Agenda para Medios
	.cierre-oscuro
.span8(style="margin-left:0px;")
	.news-inside
		.item
			.data
			%p
				%strong Ubicación: 
				Calle Constitución entre calle Ituzaingo y Colón entre calle Madero y Alsina.
				%br/
				%strong Tipo de obra: 
				Pavimento Urbano.
				%br/
				%strong Plazo de obra: 
				Doscientos setenta(270) días.
				%br/
				%strong Licitación bajo especificaciones: 
				Proyecto de servicios básicos municipales - BIRF 7385 - AR.
				%br/
				%strong Forma de contratación: 
				Sistema de precios.