.top.top-section
  %h1 ATENCIÓN AL VECINO
  .cierre-oscuro
.left
  .grid-8-12
    .news-inside
      .item
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/atencionalvecino1.jpg")
        .data
          %p
            %strong El Centro de Atención al Vecino atiende de lunes a viernes de 7 a 16 horas, en el hall principal del Palacio Municipal ubicado en Madero 1218, San Fernando.
            %br/
            %br/
            Este espacio especialmente destinado a promover la comunicación entre el Municipio y los vecinos, también recibe las inquietudes de los sanfernandinos a través de la línea
            telefónica gratuita
            %strong
              0800-777-6864 y del correo
              %a.link{:href => "mailto:vecinos@sanfernando.gob.ar"} vecinos@sanfernando.gob.ar.
            Los reclamos son ingresados en un sistema informático que los deriva directamente al área responsable y establece los plazos para la resolución del problema.