.row-fluid.subtitle
  %h1
    SECRETARÍA DE EDUCACIÓN, CULTURA Y
    %br/
    CONTENCIÓN SOCIAL
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h3 Lic. Alicia Noemí Aparicio
        %h5(style="margin:0px;") Secretaria
        %p
          Dirección: Constitución 1044, San Fernando.
          %br/
          Teléfono: 4725-3500 – 4725-3188 – 4746-5600
        %ul
          %li.bullet
            %p Dirección General de Empleo: Oscar Rodolfo Gerez
          %li.bullet
            %p
              Dirección General de Niñez y Adolescencia: Mónica Núñez 
              %br/
              Henri Dunant 1369
          %li.bullet
            %p Promoción y Protección de los Derechos del Niño: 4744-4314
          %li.bullet
            %p Programa de Violencia Familiar: 4580-5720
          %li.bullet
            %p Dirección del Centro Universitario Municipal (CUM): Jorge Córdoba
          %li.bullet
            %p Coordinación de Tercera Edad: Humberto Horacio Grenci
          %li.bullet
            %p Asesoría en Salud
          %li.bullet
            %p Coordinación General de Monitoreo, Articulación y Gestión Educativa
          %li.bullet
            %p Área de Servicios Educativos, Nivel Medio, Superior, Posgrados y Capacitación
          %li.bullet
            %p Área Niños, Jóvenes y Adultos con Discapacidad
          %li.bullet
            %p Área Unidades de Desarrollo Infantil
          %li.bullet
            %p Área Educación Inicial, Primaria y Secundaria
          %li.bullet
            %p Coordinación Administrativa
          %li.bullet
            %p Coordinación General de Monitoreo, Articulación y Gestión Cultural
          %li.bullet
            %p Área de Políticas Públicas
          %li.bullet
            %p Área Dispositivos Centralizados
          %li.bullet
            %p Área Interpretación Comunitaria
          %li.bullet
            %p Sub-Área de Juventud
          %li.bullet
            %p
              Área de Salud Mental y Adicciones
              %br/
              Cordero 2046
              %br/
              Casa de Día: 4575-3262
        %h4 Subsecretaría de Educación, Deportes y Contención Social
            %p Prof. Carlos Traverso
          %ul
            %li.bullet  
              %p
                Dirección de Deportes
                %br/
                Ana Aused
                %br/
                Tel. 4744-4933/3443
            %li.bullet
              %p Dirección de educación: Mariana Miola
            %li.bullet
              %p
                Oficina de Turismo
                %br/
                Rosario 1000 - Est. San Fernando R 
                %br/
                Tel. 4580-5682
