.row-fluid.subtitle
  %h1 SECRETARÍA DE ECONOMÍA
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h3 Lic. Facundo José Fernández
        %h5(style="margin:0px;") Secretario
        %p
          Dirección: Constitución 1046 San Fernando Pcia. de Buenos Aires
          %br/
          Teléfono: 4744-4091/7112
        %a.web-bullet{:href => "mailto:ffernandez@sanfernando.gov.ar"} ffernandez@sanfernando.gov.ar
        %ul
          %li.bullet
            %p
              Contaduría
              %br/
              Contador: Rubén Recalde
              %br/
              Subcontador: Jorge Zubiría
              %br/
              Teléfono: 4744-9851/9680
          %li.bullet
            %p
              Tesorería
              %br/
              Tesorero: Andrés Folino
              %br/
              Subtesorero: Mabel Duclos
              %br/
              Teléfono: 4746-6881/3217
          %li.bullet
            %p
              Director de Compras y Contrataciones
              %br/
              Santiago Ríos
              %br/
              Teléfono: 4746-7681
          %li.bullet
            %p
              Oficina Municipal de Presupuesto
              %br/
              Claudio Giordanelli
              %br/
              Teléfono: 4580-5678
          %li.bullet
            %p
              Oficina Municipal de Ingresos Públicos
              %br/
              Germán Roldán
              %br/
              Teléfono: 4746-7128
          %li.bullet
            %p
              Área de Habilitaciones
              %br/
              Estela Ríos
              %br/
              Teléfono: 4746-7059 - 4580-5680
              %br/
              Línea gratuita para Consultas: 0800-444-1199, lunes a viernes, de 8 a 12 horas.
          %li.bullet
            %p
              Área Normativa, Interpretación y Proyectos
              %br/
              Liliana Silva
              %br/
              Teléfono: 4744-4788