.row-fluid.subtitle
  %h1 SECRETARÍA DE PROTECCIÓN CIUDADANA
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h3 Hugo Giuffre
        %h5(style="margin:0px;") Secretario
        %p
          Teléfono: (5411) 4746-2857
        %a.web-bullet{:href => "mailto:hgiuffre@sanfernando.gob.ar"} hgiuffre@sanfernando.gob.ar
        %ul
          %li.bullet
            %p
              Dirección General de Control Urbano y Tránsito:
              %br/
              José Daniel Suárez
              %br/
              Colón 917 San Fernando
              %br/
              Tel. 4725-2196/1029
          %li.bullet
            %p Dirección General de Control de Servicios en la Vía Pública: Horacio Enrique Buinosquy
          %li.bullet
            %p Dirección de Patrullas (Prot. Ciudadana): Néstor Pisetta
          %li.bullet 
            %p Dirección de Defensa Civil: Roberto Pallota
          %li.bullet
            %p Área de Orden Urbano: Carlos Daniel Borello