.row-fluid.subtitle
  %h1 SECRETARÍA DE OBRAS E INFRAESTRUCTURA PÚBLICA
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h3 Santiago Rios
        %h5(style="margin:0px;") Secretario
        %p
          Dirección: Madero 1218 (B1646DXL) San Fernando Pcia. de Buenos Aires
          %br/
          Teléfono: 4746-1660/4744-1465

        %h4 Subsecretaría de Obras Públicas
        %p Arq. Gabriela D'Aquino
        %ul
          %li.bullet
            %p Dirección Gral. de Coordinación y Control de Gestión
          %li.bullet
            %p Dirección General de Obras Municipales
          %li.bullet
            %p Área de Proyectos e Inspección de Obras e Infraestructura Pública
          %li.bullet
            %p Área de Contrataciones y Licitaciones
          %li.bullet
            %p Área de Logística y Cooperativas
          %li.bullet
            %p Área Técnica, Proyectos e Inspección


        %h4 Subsecretaría de Emergencia de Red Hidráulica y Vial
        %p Subsecretario: Javier Albassini
        %p
          Dirección: Madero 1218 (B1646DXL) San Fernando Pcia. de Buenos Aires
          %br/
          Teléfono: 4746-2907/4580-5723
        %a.web-bullet{:href => "mailto:jalbasini@sanfernando.gob.ar"} jalbasini@sanfernando.gob.ar
        %ul
          %li.bullet
            %p Dirección General de Mantenimiento de la Red Hidráulica y Vial: Raul Rosalino
          