.row-fluid.subtitle
  %h1
    SECRETARÍA DE DESARROLLO SOCIAL, MEDIO
    %br/
    AMBIENTE Y SALUD PÚBLICA
  .cierre-oscuro
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h3 Gustavo Santero
        %h5(style="margin:0px;") Secretario
        %p
          Dirección: Brandsen 675 (B1646ABM) San Fernando Pcia. de Buenos Aires
          %br/
          Teléfono: 4744-2840/3952 y 4746-6137
        %a.web-bullet{:href => "mailto:gsantero@sanfernando.gob.ar"} gsantero@sanfernando.gob.ar
        %ul
          %li.bullet
            %p Área de Administración y Despacho
          %li.bullet
            %p Unidad de Recupero de Costos: Lic. Luciano Alejandro Catello
          %li.bullet
            %p Área de Residencias Médicas
          %li.bullet
            %p Área de Gestión Operativa: Jorge Alejandro Barrasa
          %li.bullet
            %p Área de Investigación y Cuidado de los Recursos Naturales
          %li.bullet
            %p Dirección General de Salud en Islas: Tec. Claudia Graciela Regenjo
          %li.bullet
            %p Área de Fiscalización Sanitaria
          %li.bullet
            %p Área de Asistencia y Promoción Social
          %li.bullet
            %p Área de Emergencias Médicas San Fernando
          %li.bullet
            %p Unidad de Programas y Vigilancia Epidemiológica
          %li.bullet
            %p Coordinación de Salud Mental
          %li.bullet
            %p Unidad de Prevención de Adicciones
          %li.bullet
            %p Área de Salud Escolar: Dr. Omar Daniel Maresca


        %h4 Subsecretaría de Desarrollo Social
        %p Subsecretario: Víctor Hugo Servetto
        %p
          Dirección: Brandsen 675 (B1646ABM) San Fernando Pcia. de Buenos Aires
          %br/
          Teléfono: 4744-2840/3952 4746-6137
        %a.web-bullet{:href => "mailto:vservetto@sanfernando.gob.ar"} vservetto@sanfernando.gob.ar
        %ul
          %li.bullet
            %p Área de Zoonosis
          %li.bullet
            %p Coordinación de Provisión de Insumos: Norma Alicia Leguizamón
          %li.bullet
            %p Dirección Gral. de Relaciones con Entidades Intermedias, Apoyo Técnico y Jurídico: Mónica Liliana Núñez
          %li.bullet
            %p Área de Relaciones con Entidades Intermedias
          %li.bullet
            %p Área de Seguridad y Salud en el Trabajo
          %li.bullet
            %p Dirección General de Deportes y Actividades Recreativas: Prof. Carlos Traverso


        %h4 Subsecretario de Medio Ambiente y Salud Pública
        %p Subsecretario: Dr. Omar Maresca
        %ul
          %li.bullet
            %p Dirección General de Zoonosis
            %br/
            %p Hernán Zubizarreta
            %br/ 4580-5732
          %li.bullet
            %p Dirección de Medio Ambiente
            %br/
            %p Gabriel Tato
          %li.bullet
            %p Coordinación de Provisión de Insumos: Norma Alicia Leguizamón
          %li.bullet
            %p Dirección Gral. de Relaciones con Entidades Intermedias, Apoyo Técnico y Jurídico: Mónica Liliana Núñez
          %li.bullet
            %p Área de Relaciones con Entidades Intermedias
          %li.bullet
            %p Área de Seguridad y Salud en el Trabajo
          %li.bullet
            %p Dirección General de Deportes y Actividades Recreativas: Prof. Carlos Traverso