.row-fluid.subtitle
  %h1 SECRETARÍA DE PROTECCIÓN CIUDADANA
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h3 Hugo Giuffre
        %h5(style="margin:0px;") Secretario
        %p
          Dirección: 3 de Febrero 1074 (B1646CVV) San Fernando Pcia. de Buenos Aires
          %br/
          Teléfono: (5411) 4746-2857
        %a.web-bullet{:href => "mailto:hgiuffre@sanfernando.gob.ar"} hgiuffre@sanfernando.gob.ar
        %ul
          %li.bullet
            %p Dirección General de Control Urbano y Tránsito: José Daniel Suárez
          %li.bullet
            %p Dirección General de Control de Servicios en la Vía Pública: Horacio Enrique Buinosquy
          %li.bullet
            %p Área de Orden Urbano: Carlos Daniel Borello