.top.top-section
  %h1
    UNIDAD DE EDUCACIÓN, CULTURA Y
    %br/
    CONTENCIÓN SOCIAL
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %h4 Alicia Noemí Aparicio
          %p Secretaria
          %p
            Dirección: Constitución 1044, San Fernando.
            %br/
            Teléfono: 4725-3500 – 4725-3188 – 4746-5600
          %ul
            %li.bullet
              %p Dirección General de Empleo: Oscar Rodolfo Gerez
            %li.bullet
              %p Coordinación de Tercera Edad: Humberto Horacio Grenci
            %li.bullet
              %p Asesoría en Salud
            %li.bullet
              %p Coordinación General de Monitoreo, Articulación y Gestión Educativa
            %li.bullet
              %p Área de Servicios Educativos, Nivel Medio, Superior, Posgrados y Capacitación
            %li.bullet
              %p Área Niños, Jóvenes y Adultos con Discapacidad
            %li.bullet
              %p Área Unidades de Desarrollo Infantil
            %li.bullet
              %p Área Educación Inicial, Primaria y Secundaria
            %li.bullet
              %p Coordinación Administrativa
            %li.bullet
              %p Coordinación General de Monitoreo, Articulación y Gestión Cultural
            %li.bullet
              %p Área de Políticas Públicas
            %li.bullet
              %p Área Dispositivos Centralizados
            %li.bullet
              %p Área Interpretación Comunitaria
            %li.bullet
              %p Sub-Área de Juventud