.top.top-section
  %h1 SECRETARÍA DE GOBIERNO
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %h4 Luis Alberto Ruiz Diaz
          %p Secretario
          %p
            Dirección: Madero 1218 (B1646DXL) San Fernando Pcia. de Buenos Aires
            %br/
            Teléfono: (5411) 4744 - 7777 / 4141 / 5151 / 4746-7148
          %a.web-bullet{:href => "mailto:gobierno@sanfernando.gob.ar"} gobierno@sanfernando.gob.ar
          %ul
            %li.bullet
              %p Dirección General de Cementerio y Salas velatorias
            %li.bullet
              %p Asesoría Letrada y Dictámenes
            %li.bullet
              %p Tribunal de Faltas
            %li.bullet
              %p Área de Despacho, Decretos y Convenios
            %li.bullet
              %p Área de Control y Ejecución Presupuestaria
            %li.bullet
              %p Área Normativa y Despacho de Gobierno
            %li.bullet
              %p Área de Mayordomía
            %li.bullet
              %p Comisión de Patrimonio Histórico
            %li.bullet
              %p UFRACC
            %li.bullet
              %p Parque Automotor
            %li.bullet
              %p Unidad de Asistencia a las Víctimas de Delitos, Reincidencia y BIen de Familia