.row-fluid.subtitle
  %h1 SECRETARÍA DE PRIVADA Y COORDINACIÓN
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %ul
          %li.bullet
            %h4 Juan Francisco Andreotti
            %p
              Secretario
              Dirección: Madero 1218 (B1646DXL) San Fernando Pcia. de Buenos Aires
              %br/
              Teléfono: (5411) 4725-1245/ 4746-3297
              %a.web-bullet{:href => "mailto:jandreotti@sanfernando.gob.ar"} jandreotti@sanfernando.gob.ar
          %li.bullet
            %h4 Subsecretaría de Privada y Coordinación
            %p
              Subsecretario: Martín Galera
              Dirección: Madero 1218 (B1646DXL) San Fernando Pcia. de Buenos Aires
              %br/
              Teléfono: (5411) 4725-1245/ 4746-3297
              %a.web-bullet{:href => "mailto:mgalera@sanfernando.gob.ar"} mgalera@sanfernando.gob.ar
          %li.bullet
            %h4 Dirección General de Comunicación Social, Prensa y Difusión: Sebastián Cañelas
            %p
              Dirección: Madero 1218 (B1646DXL) San Fernando Pcia. de Buenos Aires
              %br/
              Teléfono: (5411) 4746-1327 / 4746-1388
          %li.bullet
            %h4 Dirección General de Ceremonial: Nestor Torchia
            %p
              Dirección: Madero 1218 (B1646DXL) San Fernando Pcia. de Buenos Aires
              %br/
              Teléfono: (5411) 4744-1481
              %a.web-bullet{:href => "mailto:ceremonial@sanfernando.gob.ar"} ceremonial@sanfernando.gob.ar
          %li.bullet
            %h4 Dirección General de Servicios y Espacios Públicos
            %p
              Aldo Nelson Galeano
          %li.bullet
            %h4 Subsecretaría de Modernización de Gestión e Informática
            %p
              Subsecretario: Gonzalo Cornejo
              Dirección: 3 de Febrero 1074, 1° piso (B1646GCE) San Fernando Pcia. de Buenos Aires
              %br/
              Teléfono: (5411) 4725-1461
              %a.web-bullet{:href => "mailto:gcornejo@sanfernando.gob.ar"} gcornejo@sanfernando.gob.ar