.row-fluid.subtitle
  %h1 SECRETARÍA DE GOBIERNO
  .cierre-oscuro

.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h3 Arq. Eduardo Barbieri
        %h5(style="margin:0px;") Secretario de Gobierno
        %p
          Dirección: Madero 1218 (B1646DXL) San Fernando Pcia. de Buenos Aires
          %br/
          Teléfono: (5411) 4744 - 4545 / 4746 - 1997
        %a.web-bullet{:href => "mailto:gobierno@sanfernando.gob.ar"} gobierno@sanfernando.gob.ar
        %ul
          %li.bullet
            %p Dirección General de Cementerio y Salas velatorias
          %li.bullet
            %p Asesoría Letrada y Dictámenes
          %li.bullet
            %p Tribunal de Faltas
          %li.bullet
            %p Área de Despacho, Decretos y Convenios
          %li.bullet
            %p Área de Control y Ejecución Presupuestaria
          %li.bullet
            %p Área Normativa y Despacho de Gobierno
          %li.bullet
            %p Área de Mayordomía
          %li.bullet
            %p Comisión de Patrimonio Histórico
          %li.bullet
            %p UFRACC y OMIC
          %li.bullet
            %p Área de Administración de Personal
          %li.bullet
            %p Unidad de Asistencia a las Víctimas de Delitos, Reincidencia y Bién de Familia
          %li.bullet
            %p Área de  Seguridad y Salud  en el trabajo.
          %li.bullet
            %p Área de deuda en mora.
          %li.bullet
            %p
              Dirección Cementerio Municipal: Ignacio Pérez
              %br/
              Sobremonte 2755
              %br/
              4725-1352 - 4744-6252
          %li.bullet
            %p
              Dirección Defensa del Consumidor: Alfredo Viviant
              %br/
              OMIC: 4575-3266
          %li.bullet
            %p Área de Obras Particulares
          %li.bullet
            %p Área de Planeamiento Urbano
          %li.bullet
            %p Área de Catastro y Agrimensura
          