.top.top-section
  %h1 BANDERA Y ESCUDO
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/banderayescudo1.jpg")
            .ph
              = image_tag("sections/banderayescudo2.jpg")
          / END SLIDER
        .data
          %h4 NUESTRA BANDERA
          %p
            El 18 de diciembre de 2005, durante los festejos por el Bicentenario de la Ciudad, fue presentada la
            %strong Bandera que identifica a San Fernando.
            Su selección, se estableció a través de un concurso organizado por el Municipio en el que participaron 53 propuestas. El autor de la Bandera ganadora fue Leandro Parra, un joven sanfernandino de 21 años.
            La Bandera de San Fernando,  tiene un Ombú en el centro, el cual representa los grandes acontecimientos históricos. Sin dudas, es un símbolo reconocido por los vecinos e identifica parte de la cultura local desde sus orígenes hasta la actualidad. El gran crecimiento urbano y edilicio, figura en las formas recortadas de los edificios más emblemáticos, por ejemplo la Parroquia Nuestra Señora de Aránzazu. El río y los veleros que se advierten en la Bandera, hacen referencia a que nuestra ciudad es la Capital Nacional de la Náutica. Los colores que priman son el verde y el azul, que son las gamas representativas del Municipio.
          %h4 NUESTRO ESCUDO
          %p
            El 19 de marzo de 1938, el
            %strong Escudo del Partido de San Fernando,
            fue aprobado por la Ordenanza Nº 629 del Honorable Concejo Deliberante, la cual establece su uso obligatorio en todas las dependencias de la Municipalidad.
            Su heráldica, presenta una forma ovalada con cortes timbrados. En el cuartel superior se aprecia un fondo azul con matices de celeste y plata. En el segundo cuartel, se destaca una fábrica de cuatro pisos de plata y forro de sable, con tres chimeneas de sable humeantes de plata, una barranca de sable y sinople y un velero de un palo y dos velas de plata navegando en un río de oro. Desde el cantón diestro al cantón siniestro de la punta, se distingue un talud de sinople cargado en la punta con un lema toponímico de letras capitales romanas de plata y sobre él un ombú con el tronco de su color foliado de sinople y sable.
            En sus ornamentos podemos observar como timbre un círculo de sable cargado con un blasón de plata, un pedestal de plata y una cartela de oro con rollos simétricos en los flancos con dos ramos de laurel a cada lado. Desde los rollos superiores al extremo superior y desde la punta a los rollos inferiores, los detalles se terminan con una flama de color pùrpura.
            En el escudo se puede ver, sobre la barranca del Río Luján, el ombú de la,
            %strong “Quinta El Ombú”
            donde actualmente funciona la Casa de la Cultura de la Municipalidad de San Fernando. Cabe mencionar que esa Quinta fue declarada Lugar Histórico por Decreto del Poder Ejecutivo Nacional Nº 2284/70 del 12 de noviembre de 1970 ya que, bajo la sombra de ese ombú, descansó el Virrey Sobremonte tras colocar la piedra fundamental del templo parroquial bajo la advocación de Nuestra Señora de Aránzazu.
            Como fondo, se puede observar la industria, con sus chimeneas humeantes. También está presente el río con una embarcación, exponente fiel de la floreciente industria náutica. San Fernando ha sido designada Capital Nacional de la Náutica, mediante la resolución 109 de octubre de 1972, de la Secretaría de Turismo de la Nación.