.top.top-section
  %h1 BOLETINES OFICIALES
  .cierre-oscuro
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %p
            San Fernando Municipio hace públicas las acciones de gobierno a través del Boletín Oficial que se puede consultar
            en los archivos adjuntos disponibles a continuación.
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2050.12.pdf"} boletin oficial municipal Nº 50.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2051.12.pdf"} boletin oficial municipal Nº 51.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2052.12.pdf"} boletin oficial municipal Nº 52.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2053.12.pdf"} boletin oficial municipal Nº 53.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2054.12.pdf"} boletin oficial municipal Nº 54.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2055.12.pdf"} boletin oficial municipal Nº 55.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2056.12.pdf"} boletin oficial municipal Nº 56.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2057.12.pdf"} boletin oficial municipal Nº 57.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2058.12.pdf"} boletin oficial municipal Nº 58.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2059.12.pdf"} boletin oficial municipal Nº 59.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2060.12_0.pdf"} boletin oficial municipal Nº 60.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2061.12.pdf"} boletin oficial municipal Nº 61.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2062.12.pdf"} boletin oficial municipal Nº 62.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2063.12.pdf"} boletin oficial municipal Nº 63.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2064.12.pdf"} boletin oficial municipal Nº 64.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2065.12.pdf"} boletin oficial municipal Nº 65.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%B0%2066.12.pdf"} boletin oficial municipal N° 66.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2067.12_0.pdf"} boletin oficial municipal Nº 67.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2068.12.pdf"} boletin oficial municipal Nº 68.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2069.12.pdf"} boletin oficial municipal Nº 69.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2070.12.pdf"} boletin oficial municipal Nº 70.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2071.12_0.pdf"} boletin oficial municipal Nº 71.12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20Nro%2072-12.pdf"} boletin oficial municipal Nro 72-12.pdf
          .download
            =image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gob.ar/sites/default/files/boletin%20oficial%20municipal%20N%C2%BA%2073.12.pdf"} boletin oficial municipal Nº 73.12.pdf