.row-fluid.subtitle
  %h1 POLIDEPORTIVO N°1
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/cedec1.jpg")
        / END SLIDER
      .data
        %p
          El Polideportivo N°1 le brinda a los vecinos Sanfernandinos disciplinas como, Escuela de Iniciación Deportiva y Escuelas de Especialización Deportiva.
          %br/
          %br/
          Dentro del programa de Escuelas de Iniciación Deportiva se realizan actividades para niños entre 4 a 10 años; mientras que en el programa de Especialización Deportiva se realizan Actividades para niños y jóvenes entre 11 a 18 años, tales como Voley, Handball, Basquet, Hockey, Taekwondo, Fútbol.
          %br/
          %br/
          Además brinda disciplinas para adultos, entre ellas Fútbol, Voley, Básquet, Hockey, Mix Latino y Gimnasia para Damas.
          %br/
          %br/
          Y por último cuenta con actividades para personas con capacidades diferentes, tales como Colonia Especial, Atletismo, Fútbol y Basquet en silla de ruedas.
          %br/
        %ul
          %li.bullet
            %p
              %strong Ubicado en Int. Arnoldi y Pasteur
              %br/
              Teléfono: 4580 - 5684
              %a.web-bullet{:href => "mailto:deportes@sanfernando.gob.ar"} deportes@sanfernando.gob.ar