.tow-fluid.subtitle
  %h1 CE.DE.C. N°3
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/cedec3.jpg")
        / END SLIDER
      .data
        %p
          El Polideportivo CE.DE.C. N°3 es el encargado de administrar, supervisar, coordinar y apoyar a los docentes que realizan sus tareas en las distintas Instituciones donde funcionan las Escuelas de Iniciación Deportiva. Contamos con 19 Instituciones donde niños, jóvenes y adultos pueden desarrollar diferentes disciplinas como Voley, Hockey, Gimnasia Deportiva, Ajedrez, Remo y Canotaje.
          %br/
          %br/
          Las actividades que se desarrollan en el
          %strong CE.DE.C. N°3
          son
          %strong Remo
          y
          %strong Canotaje.
          %br/
          %br/
          Encontramos Actividades como
          %strong Voley
          (que se realizan en distintas Instituciones, como Club Estrella Juvenil, U.V.U.R.S.F. (Infico),Sociedad de Fomento Mitre, el expreso,
          San Ginés y el Club la Unión),
          %strong Hockey
          (realizándose en el Club Recreativo Italiano y la Sociedad de Fomento Mitre),
          %strong Básquet
          (en el Club Victoria),
          %strong Ajedrez
          (se realiza en la Biblioteca U.V.U.R.S.F. y Madero, Club Crisol, Virgen de Luján y Hogar Zanocchi),
          %strong Gimnasia para Damas
          (en el Club Crisol e Infico)
          y contamos con
          %strong Gimnasia Aeróbica
          (en la Sociedad de Fomento La Unión).
        %ul
          %li.bullet
            %p
              %strong Ubicado en la calle 9 de Julio y Rio Luján