.tow-fluid.subtitle
  %h1 POLIDEPORTIVO N°5
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %p
          El Polideportivo N°5 está ubicado en el barrio Villa Jardín, Guatemala 3053 (Tel:4519-9316). Es un complejo deportivo que brinda actividades para todos los vecinos de San Fernando. Cuenta con recreación para niños, jóvenes, adultos y tercera edad. Además, se lleva a cabo el programa de Escuelas de Iniciación Deportiva, en el cual se realizan prácticas para niños entre 4 a 10 años.
          %br/
          %br/
          %strong Actividades
          %br/
          Gimnasia Aeróbica; Gimnasia localizada; Yoga; Pílates; Taekwkondo infantil; Ritmo Latino; Aerobox; Coreo dance baby, infantil y juvenil; Fútbol sub 14, sub 18, adultos y femenino; Voley sub 14, sub 18 y adultos; Handball sub 18; Hockey sub 14, sub 18; Escuela de Iniciación Deportiva; Gimnasia para la tercera edad; Patín artístico.
          %br/
          %br/
          Natación en el Polideportivo N°1 y N°2
          %br/
          %br/
          %strong Actividades de pileta
          %br/
          Natación preescolares, niños, juveniles, adultos y tercera edad;  Pileta libre y aquagym.
        %ul
          %li.bullet
            %p
              %strong Guatemala 3053 
              %br/
              Teléfono: 4519-9316