.tow-fluid.subtitle
  %h1 POLIDEPORTIVO N°4
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/cedec4.jpg")
        / END SLIDER
      .data
        %p
          El Polideportivo N°4 se encuentra en Virreyes Oeste, en la intersección de las calles Madero y Sobremonte (Tel:4744-1944 / 4890-1402). Es un confortable espacio de esparcimiento, refaccionado en su totalidad y destinado especialmente para la tercera edad.  
          %br/
          %br/
          %strong Actividades
          %br/
          Ajedrez, Chi-kung, Coro, Estimulación para la memoria, Folklore, Gimnasia en sillas, Mandalas, Pilates, Ritmos latinos, Tango, Teatro, Tejido 2 agujas a crochet, Vital tango, Vóley adaptado, Yoga y actividades recreativas los Sábados.
          %br/
          %br/
          Natación en el Polideportivo N°1 y N°2
        %ul
          %li.bullet
            %p
              %strong Madero 1958
              %br/
              Teléfono: 4744-1944 / 4890-1402