.row-fluid.subtitle
  %h1 POLIDEPORTIVO N°2
  .cierre-oscuro
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %p
          El Polideportivo N°2 está ubicado en Virreyes, Ruta 202 y Pueyrredón (Tel: 4575-3443). Congrega a los vecinos de la ciudad de San Fernando a desarrollar distintas actividades de campo y pileta. Además, cuenta con Escuela de Iniciación deportiva para niños entre 4 y 10 años y disciplinas para adultos.
          %br/
          %br/
          %strong Actividades:
          %br/
          Escuela de iniciación deportiva; Fútbol infantiles, menores, cadetes, sub 35, mayores 35 y femenino; Vóley; Hockey; Handball; Básquet; Danza jazz; Ritmo latino; Pilates; Gimnasia funcional; Yoga; Taekwondo; Gimnasia para la tercera edad.
          %br/
          %br/
          %strong Actividades de pileta:
          %br/
          Escuela de natación para niños, jóvenes, adultos, cadetes y tercera edad.
        %ul
          %li.bullet
            %p
              %strong Ubicado en Ruta 202 y Pueyrredón
              %br/
              Teléfono: 4575-3443