.tow-fluid.subtitle
  %h1 POLIDEPORTIVO N°3
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/cedec3.jpg")
        / END SLIDER
      .data
        %p
          El Polideportivo N°3 está ubicado en el Bajo de San Fernando, en 9 de Julio y el Río (Tel: 4744-5214). Es el encargado de administrar, supervisar, coordinar y apoyar a los docentes que realizan sus tareas en las distintas Instituciones donde funcionan las Escuelas de Iniciación Deportiva. Contamos con 15 Instituciones donde niños, jóvenes y adultos pueden desarrollar diferentes disciplinas: Vóley (se practica en el Club Estrella Juvenil, Infico, U.V.U.R.S.F.,Mitre, El Expreso,La Unión, San Ginés y la Sociedad de Fomento), Hockey (en el Club Recreativo Italiano y la Sociedad de Fomento Mitre), Básquet (en el Club Victoria), Ajedrez (se realiza en la Biblioteca U.V.U.R.S.F. y Club Crisol, y Hogar Zanocchi), Gimnasia para Damas (en el Club Crisol) y contamos con Gimnasia Aeróbica (en el Club Crisol e Italiano). Además, en él, se pueden practicar multiples acividades.
          %br/
          %br/
          %strong Actividades
          %br/
          Aquagym; Natación adultos y  niños a partir de los 4 años; Pileta libre; Remo juveniles y adultos; Canotaje juveniles y adultos; Optimist niños; Danza; Escuela deportiva; Vóley mayores de 12 años; Gimnasia adultos; Latinos y pilates; Gimnasio de aparatos mayores de 17; Hockey.
        %ul
          %li.bullet
            %p
              %strong Ubicado en la calle 9 de Julio y Rio Luján
              %br/
              Teléfono: 4744-5214