.row-fluid.subtitle
  %h1 POLIDEPORTIVO N°1
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/cedec1.jpg")
        / END SLIDER
      .data
        %p
          El Polideportivo N°1 se encuentra en Virreyes, Intendente Arnoldi y Pasteur (Tel: 4580-5684). Brinda a los vecinos sanfernandinos varias disciplinas dentro de la Escuela de Iniciación Deportiva y de Especialización Deportiva.
          %br/
          %br/
          Dentro del programa de Escuelas de Iniciación Deportiva se realizan actividades para niños entre 4 y 10 años; mientras que en el programa de Especialización Deportiva se realizan prácticas para niños y jóvenes entre 11 y 18 años. Además, brinda recreación para adultos, tercera edad y personas con capacidades diferentes. 
          %br/
          %br/
          %strong Actividades:
          %br/
          Escuela deportiva: Patín inicial, intermedio, avanzado y adulto; Vóley sub 14, sub 18, adulto, tercera edad; Futsal sub 18, sub 35, adulto; Fútbol sub 14, sub 35, adulto y femenino; Hockey sub 14 y sub 18; Taekwondo; Básquet sub 14, sub 18 y adulto; Handball sub 14 y sub 18; Tenis de mesa; Boxeo; Gimnasia artística infantil y juvenil; Danza de ritmos y movimientos; Danza juvenil; Gimnasia rítmica infantil y juvenil; Gimnasia aeróbica; Mix latino; Aerobox; Yoga.
          %br/
          %br/
          %strong Actividades para la tercera edad:
          %br/
          Gimnasia, voley, pilates, gimnasia integral, gimnasia localizada.
          %br/
          %br/
          %strong Actividades para chicos con capacidades diferentes:
          %br/
          Básquet en silla de rueda, fútbol especial, escuela deportiva especial, natación y colonia especial.
          %br/
          %br/
          %strong Actividades de pileta:
          %br/
          Natación preescolar, niños, adultos, tercera edad, especial, aquagym y entrenamiento.
        %ul
          %li.bullet
            %p
              %strong Ubicado en Int. Arnoldi y Pasteur
              %br/
              Teléfono: 4580-5684
              %br/
              %a.web-bullet{:href => "mailto:deportes@sanfernando.gob.ar"} deportes@sanfernando.gob.ar