.row-fluid.subtitle
  %h1 POLIDEPORTIVO N°2
  .cierre-oscuro
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %p
          El Polideportivo N°2 congrega a los vecinos de la ciudad de San Fernando a desarrollar distintas actividades de campo, tales como,
          %strong Escuela Deportiva
          (de 4 a 10 años),
          %strong Voley, Handball, Basquet, Hockey, Taekwondo
          (de 11 a 18 años),
          %strong Fútbol Infantiles
          (cat. 2000 y 2001),
          %strong Menores
          (Cat. 1998 y 1999),
          %strong Cadetes
          (Cat. 1996 y 1997)
          %strong y Juveniles
          (Cat. 1994 y 1995).
          %br/
          %br/
          Además brinda disciplinas para adultos, entre ellas Fútbol (sub 35 y Mayores de 35 años), Voley y Gimnasia para Damas.
          %br/
        %ul
          %li.bullet
            %p
              %strong Ubicado en Ruta 202 y Pueyrredón
              %br/
              Teléfono: 4575 - 3443