.row-fluid.subtitle
  %h1 CENTROS CULTURALES
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/centrosculturales1.jpg")
          .ph
            = image_tag("sections/centrosculturales2.jpg")
          .ph
            = image_tag("sections/centrosculturales3.jpg")
          .ph
            = image_tag("sections/centrosculturales4.jpg")
        / END SLIDER
      .data
        %p
          La ciudad de San Fernando se caracteriza por contar con una importante tradición en lo que refiere a expresiones artísticas y culturales.  Debido a ello, el partido cuenta con una amplia variedad de instituciones públicas y privadas que ofrecen y difunden actividades relacionadas con dichas expresiones.  El objetivo de este desarrollo cultural es promover la participación de toda la comunidad sin distinguir entre clase o sector social.
          Gracias a una importante oferta de programas, La Municipalidad de San Fernando  permite que vecinos y artistas locales puedan recrearse y, de esta manera, fomentar y proteger el trabajo y la política cultural de nuestro municipio.
          %br/
          %br/
          El partido cuenta con los siguientes espacios culturales destinados a la comunidad:
        %ul
          %li.bullet
            %h4 QUINTA EL OMBU
            %p
              Dirección: Avenida del Libertador 600, San Fernando
              %br/
              Teléfonos: 4746-2146/ 4746-2507
              %br/
            %h4 HISTORIA
            %p
              Su construccion se remonta al año 1860, época en la cual dicha estructura era la residencia de fin de semana de la familia Zamudio. Este sitio se destaca porque, en su interior, cuenta con un Ombú en el cual, según cuenta la historia, habria descansado el Virrey Sobremonte mientras daba inicios a sus obras del Canal y bautizaba al pueblo como "San Fernando de la Buena Vista".
              La última heredera de la familia Zamudio, Amalia de La Cruz Balbín de Lanza, donó la casa al Municipio para que, allí, funcionara la Casa de la Cultura. Años más tarde, se comenzó a uitlizar como la Dirección de Cultura Municipal y como Centro Cultural. Sin dudas, es una de las mejores sedes para el dictado de cursos, talleres abiertos, muestras de arte y todo lo referido a expresiones artistícas y culturales para los vecinos de la comunidad.
          %li.bullet
            %h4 TEATRO MUNICIPAL Y CULTURAL  JULIO MARTINELLI
            %p
              Dirección: Lavalle 3021, Victoria
              %br/
              Teléfono: 4746-4173
              %br/
            %h4 HISTORIA
            %p
              En el predio en el que actualmente funciona dicho teatro, se encontraba el horno de ladrillos de la familia Martinelli, una industria de relevancia a principios de 1900 en la actual localidad de Victoria. Debido al crecimiento de la población y a los inconvenientes que provocaba la construcción de los ladrillos, en el año 1909, la intendencia decide clausurar el horno de dicha familia.
              En el año 1984, durante la intendencia de Alfredo Ramón Viviant, la Municipalidad de San Fernando realizó  mejoras y tareas de remodelación para convertirlo en el “Teatro y Centro Cultural Julio Martinelli”. El mismo cuenta con una capacidad para 200 personas que asisten a diversos espectáculos y funciones organizados por el municipio. Ademas, el teatro, cuenta en sus instalaciones con la Biblioteca Popular "Rómulo Naón".
          %li.bullet
            %h4 CENTRO CULTURAL CARLOS GARDEL
            %p
              Dirección: Calle 24 y Quintana, Virreyes
              %br/
              Teléfono: 4714-6760
              %br/
            %h4 HISTORIA
            %p
              El “Centro Cultural Carlos Gardel” ya cuenta con una página oficial (
              %a.link-bullet{:href => "http://www.centrocarlosgardel.com.ar"}> http://www.centrocarlosgardel.com.ar
              ), en la cual, hasta el presente, sólo puede verse la fachada pero que, próximamente, será reformada para brindar toda la información con respecto a este centro.
              En 2005 el artista Marino Santa María realizó dos intervenciones color de Carlos Gardel, una sobre la pared lateral exterior y la otra en una tribuna dentro del “Centro Cultural Carlos Gardel". Ambas muestran el rostro del artista a través de una pintura de carácter exquisito.
          %li.bullet
            %h4 CENTRO CULTURAL "MANUEL BELGRANO"
            %p
              Dirección: Sargento Díaz y Cordero, Virreyes
              %br/
              Teléfono: 4746-4561
              %br/
          %li.bullet
            %h4 CENTRO CULTURAL ISLEÑO
            %p
              Dirección: Arroyo Felicaria, 2° Sección de Islas de San Fernando, Delta del Paraná
              %br/
              Teléfono: 4728-1133
              %br/
            %h4 HISTORIA
            %p Se encuentra ubicado en el Arroyo Felicaria, junto a la Base Campamento Municipal. En este espacio, artesanos locales realizan trabajos de cestería con elementos naturales (mimbre, junco, cortezas)
          %li.bullet
            %h4 MUSEO CIUDAD SAN FERNANDO DE BUENA VISTA
            %p
              Dirección: Ituzaingó 1053, San Fernando
              %br/
              Teléfonos: 4580-5686/ 4725-1377
              %br/
              Horarios: Martes a Viernes de 9 a 18hs
              %br/
              Sabados y Domingos de 15 a 18hs
              %br/
              Lunes Cerrado
            %h4 HISTORIA
            %p
              La historia de esta casona, se inicia en 1871 cuando, la familia Jacobé, adquiere la propiedad para trasladarse ya que estaban huyendo de la epidemia de fiebre amarilla que azotaba a Buenos Aires. Por la devoción religiosa de la familia Jacobé construyeron en el predio una capilla, bajo la advocación de Nuestra Señora de Todas las Gracias, y aún se conserva la cripta donde fueron enterrados tanto Martín como Elvira Jacobé, tras la obtención de un permiso papal.
              Esta magnífica propiedad, fue loteada y la finca declarada Monumento Histórico Municipal. En el año 1996, el Municipio compró la casona, con el fin de levantar el Museo de la Ciudad de San Fernando. El mismo fue inaugurado en 2005, con motivo del Bicentenario de la ciudad y con el objetivo de contribuir al desarrollo de la comunidad local y de mantener viva la historia mediante la recopilación de testimonios del pasado para asi lograr un museo abierto, participativo, educativo y dinámico. Este año, el museo pasaría a convertirse en el "Museo de la Naútica"
        %br/
        %p
          %strong PARA CUALQUIER INFORMACIÓN SOBRE LOS MENCIONADOS CENTROS CULTURALES DEL PARTIDO DE SAN FERNANDO, DIRIGIRSE PERSONALMENTE A LA DIRECCIÓN DE CULTURA EN AVENIDA LIBERTADOR 600 O TELEFONICAMENTE AL 4746-2146/2507 DE LUNES A VIERNES DE 9 A 14 HORAS