.row-fluid.subtitle
  %h1 CLIMA Y SUELO DEL DELTA
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/climaysue1.jpg")
          .ph
            = image_tag("sections/climaysue2.jpg")
          .ph
            = image_tag("sections/climaysue3.jpg")
        / END SLIDER
      .data
        %h4 EL CLIMA
        %p
          El tipo climático del área del Delta de San Fernando es templado, con lluvias todo el año y la temperatura del mes más cálido superior a los
          22ºC. Las temperaturas medias anuales oscilan alrededor de los 17ºC, mientras que las temperaturas mínimas medias fluctúan alrededor de los
          6ºC y las máximas medias se encuentran en los 30ºC. Los meses de septiembre a mayo se presentan libres de heladas
          En términos generales, se trata de un clima caracterizado por la ausencia de temperaturas extremas. Si bien las precipitaciones son más abundantes en los meses más cálidos,
          la mayor evapotranspiración durante los mismos determina un período con potenciales limitaciones de agua sin llegar a registrarse situaciones de déficit hídrico.
        %ul
          %li.bullet
            %p Temperatura media del mes más cálido: 24.2ºC (Enero)
          %li.bullet
            %p Temperatura media del mes más frío: 10.8ºC (Julio)
          %li.bullet
            %p Media de precipitaciones anuales: 931 mm, registradas a una altitud de 6 metros.
        %h4 EL SUELO
        %p
          La plataforma del Delta, se encuentra conformada por los depósitos de sedimentos transportados por el Río Paraná y depositados en el Río de la Plata
          (de características estuáricas). Las islas corresponden a la porción de la llanura subaérea que se desarrolla a partir de los numerosos cursos de agua
          distributarios, abiertos en forma de abanico desde los cursos principales del Río Paraná de las Palmas y el Río Paraná Guazú. El avance de esta porción
          subaérea se estimó en 70 metros por año desde 1918.
          De manera general, las islas presentan un patrón cubetiforme con un albardón perimetral que encierra un área deprimida en su interior. Estas formas representan aproximadamente un 20%
          y un 80%, respectivamente, de la superficie en cada isla. El régimen fluvial constituye el factor causante de este relieve. En este sentido, las márgenes insulares son las primeras y
          más directamente expuestas a las inundaciones. Cuando las aguas se retiran, los sedimentos que no lograron depositarse son interceptados por la vegetación, elevando las márgenes por
          sobre el nivel interior de las islas y conformando el albardón perimetral.
          Los materiales depositados son principalmente limos fluviales y fluvio-lacustre originados en la zona subandina del noroeste argentino y en el sector boliviano de la cuenca del Río
          Bermejo, que son transportados luego por los ríos Paraguay y Paraná. Los estudios de suelos realizados para esta zona (Bonfils, 1962; INTA, 1989) indican la presencia de Hapludoles
          ácuicos para los albardones, con bajo contenido de materia orgánica (entre 4% y 8%), valores de relación C/N inferiores a 14 y valores de pH que oscilan entre 5 y 6. Por su parte,
          las porciones deprimidas presentan suelos de los tipos Haplacuent aérico y Haplacuol hístico.
          Éstos se caracterizan por los altos contenidos de materia orgánica (hasta 40%), relaciones C/N altas (mayores a 16) y bajos valores de pH (entre 4 y 5).