.top.top-section
  %h1 CLUBES, GUARDERIAS Y MARINAS
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/clubesymarinas1.jpg")
            .ph
              = image_tag("sections/clubesymarinas2.jpg")
            .ph
              = image_tag("sections/clubesymarinas3.jpg")
            .ph
              = image_tag("sections/clubesymarinas4.jpg")
          / END SLIDER
        .data
          %h4 CLUBES NÁUTICOS
          %ul
            %li.bullet.datos
              %p
                %strong Club de Veleros Barlovento
                %br/
                Vito Dumas y Río Luján, Victoria.
                %br/
                Tel:  4744-5227  //  4744-5727  //  4745-5110  //  4745-6110
              %a{:href => "http://www.barlovento.org.ar"} www.barlovento.org.ar
              %a.mail-bullet{:href => "mailto:info@barlovento.org.ar"} info@barlovento.org.ar
            %li.bullet.datos
              %p
                %strong Club Motonáutico Argentino
                %br/
                9 de Julio 58, San Fernando
                %br/
                Tel:  4744-2405  //  4744-2893
              %a{:href => "mailto:clubmotonautico@arnet.com.ar"} clubmotonautico@arnet.com.ar
            %li.bullet.datos
              %p
                %strong Club Náutico Belgrano
                %br/
                Pasaje González s/n, San Fernando
                Tel:  4744-0417
              %a{:href => "mailto:clubnauticobelgrano@hotmail.com"} clubnauticobelgrano@hotmail.com
            %li.bullet.datos
              %p
                %strong Club Náutico San Fernando
                %br/
                9 de Julio 10, San Fernando
                %br/
                Tel:  4725-1438  //  4744-3929
              %a{:href => "mailto:secretaria_cnsf@yahoo.com.ar"} Secretaria_cnsf@yahoo.com.ar
            %li.bullet.datos
              %p
                %strong Club Náutico San Martín
                %br/
                Camino de la Ribera 3314, Victoria
                Tel:  4744-5552  //  4746-5293
              %a{:href => "http://www.cnsm.org.ar"} www.cnsm.org.ar
              %a.mail-bullet{:href => "mailto:cnsm@cnsm.org.ar"} cnsm@cnsm.org.ar
            %li.bullet.datos
              %p
                %strong Club Náutico Victoria
                %br/
                Camino de la Ribera 3450, Victoria
                %br/
                Tel:  4725-0521  //  4725-0524  //  4744-5825
              %a{:href => "http://www.clubnauticovictoria.org"} www.clubnauticovictoria.org
              %a.mail-bullet{:href => "mailto:administración@clubnauticovictoria.org"} administración@clubnauticovictoria.org
              %a.mail-bullet{:href => "mailto: comisiondirectiva@clubnauticovictoria.org"} comisiondirectiva@clubnauticovictoria.org
            %li.bullet.datos
              %p
                %strong Club San Fernando
                %br/
                Sarmiento y Escalada, San Fernando
                %br/
                Tel:  4725-9600  //   4744-0647  //  4744-3717
              %a{:href => "http://www.clubsanfernando.org.ar"} www.clubsanfernando.org.ar
              %a.mail-bullet{:href => "mailto:presidencia@clubsanfernando.org"} presidencia@clubsanfernando.org
            %li.bullet.datos
              %p
                %strong Yacht Club Argentino
                %br/
                General Arias 1506, San Fernando
                Tel:  4744-3747
                %br/
              %a{:href => "http://www.yca.org.ar"} www.yca.org.ar
              %a.mail-bullet{:href => "mailto:yca@yca.org.ar"} yca@yca.org.ar
              %a.mail-bullet{:href => "mailto:ycasf@yca.org.ar"} ycasf@yca.org.ar
            %li.bullet.datos
              %p
                %strong Yacht Club Buenos Aires
                %br/
                9 de Julio 30, San Fernando
                Tel:  4744-0191  //  4744-0350
              %a.mail-bullet{:href => "mailto:ycba30@hotmail.com"} Ycba30@hotmail.com
          %h4 GUARDERÍAS NÁUTICAS
          %ul
            %li.bullet.datos
              %p
                %strong Canestrari
                %br/
                Escalada 2560, Victoria
                %br/
                Tel:  4580-5900   //   4580-5901
              %a{:href => "http://www.canestrari.com.ar"} www.canestrari.com.ar
              %a.mail-bullet{:href => "mailto:guardería@canestrari.com.ar"} guardería@canestrari.com.ar
              %a.mail-bullet{:href => "mailto:administración@canestrari.com.ar"} administración@canestrari.com.ar
            %li.bullet.datos
              %p
                %strong Poseidón
                %br/
                Colón 10, San Fernando
                %br/
                Tel:  4744-1529
            %li.bullet.datos
              %p
                %strong Complejo Náutico Sarthou
                %br/
                Alvear y Río Luján, San Fernando
                %br/
                Tel:  4744-5658  //  4746-2998
              %a{:href => "http://www.sarthou.com.ar"} www.sarthou.com.ar
              %a.mail-bullet{:href => "mailto:info@sarthou.com.ar"} info@sarthou.com.ar
          %h4 MARINAS
          %ul
            %li.bullet.datos
              %p
                %strong Marina Bahía del Sol
                %br/
                Maximino Pérez 402, San Fernando
                Tel:  4745-1594  //  4746-5522
            %li.bullet.datos
              %p
                %strong Marina Buen Puerto
                %br/
                Del Arca 77, San Fernando
                Tel:  4725-1418  //  4745-2844  //  4746-6260
              %a{:href => "mailto:buenpuerto@arnet.com.ar"} buenpuerto@arnet.com.ar
            %li.bullet.datos
              %p
                %strong Marina del Norte
                %br/
                Del Arca y Río Luján, San Fernando
                Tel:  4725-7700  //  4725-7778  //  4746-6116
              %a{:href => "http://www.marinadelnorte.com"} www.marinadelnorte.com
              %a.mail-bullet{:href => "mailto:info@marinadelnorte.com"} info@marinadelnorte.com
            %li.bullet.datos
              %p
                %strong Marina del Sol
                %br/
                Escalada 2492, Victoria
                Tel:  4746-1100
            %li.bullet.datos
              %p
                %strong Marina Puerto Chico
                %br/
                Del Arca 78, Victoria
                Tel:  4745-6571  //  4746-6572  //  4746-6573
              %a{:href => "mailto:pchico@fibertel.com.ar"} pchico@fibertel.com.ar
            %li.bullet.datos
              %p
                %strong Marina Punta Chica
                %br/
                Ricardo Rojas y Camino de la Ribera, Victoria