.row-fluid.subtitle
  %h1 COLEGIOS Y JARDINES PÚBLICOS EN SAN FERNANDO
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
.news-inside
  .item
    .data
      %ul
        %li.bullet
          %p
            %strong ESB N° 01
            Dirección
            %br/
            9 de Julio 1327, San Fernando.
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 02
            Dirección
            %br/
            Av. Libertador 263, San Fernando.
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 04
            Dirección
            %br/
            M. Rodríguez 2940, Victoria
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 05
            Dirección
            %br/
            Cordero 4725, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 06
            Dirección
            %br/
            Presidente Perón 1727, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 08
            Dirección
            %br/
            Junín 1412, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 09
            Dirección
            %br/
            Ingeniero White 1147, Victoria
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 15
            Dirección
            %br/
            Gandolfo 5341, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 17
            Dirección
            %br/
            Pasteur 2810, Virreyes
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 21
            Dirección
            %br/
            Brandsen 2587, Victoria
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 22
            Dirección
            %br/
            Brandsen 555, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 27
            Dirección
            %br/
            Pasteur y Mendoza, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 32
            Dirección
            %br/
            Maipú 1691, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 33
            Dirección
            %br/
            Ferrante 119, Victoria
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 35
            Dirección
            %br/
            Quirno Costa 3353, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 36
            Dirección
            %br/
            Sargento Díaz 1990, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 37
            Dirección
            %br/
            Carlos Casares y Pueyrredón, Victoria
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 38
            Dirección
            %br/
            Pedriel 2664, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESB N° 40
            Dirección
            %br/
            Tres de Febrero 1810, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Primaria
        %li.bullet
          %p
            %strong ESCUELA DE EDUCACIÓN MEDIA N° 1
            Dirección
            %br/
            Alvear y Suipacha, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Secundaria
        %li.bullet
          %p
            %strong ESCUELA DE EDUCACIÓN MEDIA N° 2
            Dirección
            %br/
            Carlos Casares 3979, Victoria.
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Secundaria
        %li.bullet
          %p
            %strong ESCUELA DE EDUCACIÓN MEDIA N° 6
            Dirección
            %br/
            Tres de Febrero 1810, Victoria
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Secundaria
        %li.bullet
          %p
            %strong ESCUELA DE EDUCACIÓN MEDIA N° 8
            Dirección
            %br/
            Pasteur y Tucumán, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Secundaria
        %li.bullet
          %p
            %strong ESCUELA DE EDUCACIÓN TÉCNICA N° 2
            Dirección
            %br/
            Ayacucho 937, Victoria
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Secundaria
        %li.bullet
          %p
            %strong ESCUELA DE EDUCACIÓN TÉCNICA N° 3
            Dirección
            %br/
            Miguel Cané 4565, Virreyes
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Secundaria
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 901
            Dirección
            %br/
            Av. Libertador 550, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 903
            Dirección
            %br/
            Alsina 928, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 907
            Dirección
            %br/
            Urquiza 2914, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 909
            Dirección
            %br/
            Carlos Casares 3991, Victoria
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 913
            Dirección
            %br/
            Quintana 2225, Virreyes
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 914
            Dirección
            %br/
            Luis Pasteur 2280, Virreyes
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 918
            Dirección
            %br/
            S. Martín 245, San Fernando.
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 922
            Dirección
            %br/
            Lugones 2567, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 923
            Dirección
            %br/
            J. F. Kennedy 1840, Victoria
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 924
            Dirección
            %br/
            Uruguay 659, Victoria
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 926
            Dirección
            %br/
            3 de Febrero 1810, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 928
            Dirección
            %br/
            Miguel Cané 4691, Virreyes
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 929
            Dirección
            %br/
            Pasteur 2800, Virreyes
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes
        %li.bullet
          %p
            %strong JARDÍN DE INFANTES N° 930
            Dirección
            %br/
            M. Rodríguez 2640, San Fernando
            %br/
            Tipo de institución: Pública, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes