.row-fluid.subtitle
  %h1 COLEGIOS Y JARDINES PRIVADOS EN SAN FERNANDO
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
.news-inside
  .item
    / SLIDER
    .slider-contenido
      %a.prevContenido{:href => "#"}
      %a.nextContenido{:href => "#"}
      .container
        .ph
          = image_tag("sections/colegiosyjardinesprivados1.jpg")
      / END SLIDER
    .data
      %ul
        %li.bullet
          %p
            %strong HOLY CROSS 
            %br/
            Dirección
            %br/
            Pedro de Mendoza 2653, Punta Chica
            %br/
            Tipo de institución: Colegio privado, de Jornada completa, con orientación Religiosa
            %br>/
            Niveles: Jardín de Infantes, Primaria y Secundaria
        %li.bullet
          %p
            %strong ALFONSINA STORNI 
            %br/
            Dirección
            %br/
            Pasteur 3668, Victoria
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Laica
            %br>/
            Niveles: Primaria y Secundaria
        %li.bullet
          %p
            %strong ASUNCIÓN DE LA VIRGEN 
            %br/
            Dirección
            %br/
            Madero 3231, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa
            %br>/
            Niveles: Primaria y Secundaria
        %li.bullet
          %p
            %strong BAICA (APRENDIZAJE CRISTIANO INTEGRAL BS AS) 
            %br/
            Dirección
            %br/
            Av. del Libertador 2170, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada completa, con orientación Religiosa.
            %br>/
            Niveles: Jardín de infantes, Primaria y Secundaria
        %li.bullet
          %p
            %strong CARDENAL COPELLO 
            %br/
            Dirección
            %br/
            Av. del Libertador 3675, Victoria
            %br/
            Tipo de institución: Colegio privado, de Jornada completa, con orientación Religiosa
            %br>/
            Niveles: Maternal, Jardín de Infantes, Primaria y Secundaria
        %li.bullet
          %p
            %strong CENTRO CULTURAL SAN RAFAEL 
            %br/
            Dirección
            %br/
            Entre Ríos 777, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa
            %br>/
            Niveles: Jardín de Infantes y Primaria
        %li.bullet
          %p
            %strong COMUNIDAD CRISTIANA 
            %br/
            Dirección
            %br/
            Hipólito Irigoyen 2890, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa.
            %br>/
            Niveles: Primaria y Secundaria
        %li.bullet
          %p
            %strong DON ORIONE 
            %br/
            Dirección
            %br/
            Simón de Iriondo 1177, Victoria
            %br/
            Tipo de institución: Colegio privado, de Jornada completa, con orientación Religiosa.
            %br>/
            Niveles: Jardín de infantes, Primaria y Secundaria
        %li.bullet
          %p
            %strong H. PADRE ZANOCCHI 
            %br/
            Dirección
            %br/
            Kennedy 2041, Victoria
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa.
            %br>/
            Niveles: Jardín de Infantes, Primaria, Secundaria
        %li.bullet
          %p
            %strong HOGAR SAN JUSTO 
            %br/
            Dirección
            %br/
            Ituzaingó 1249, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa.
            %br>/
            Niveles: Jardín  de infantes
        %li.bullet
          %p
            %strong LEOPOLDO LUGONES 
            %br/
            Dirección
            %br/
            Gandolfo 3120, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Laica.
            %br>/
            Niveles: Jardín de infantes, Primaria y Secundaria
        %li.bullet
          %p
            %strong MADRE RAFAELA 
            %br/
            Dirección
            %br/
            Entre Ríos 777, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa.
            %br>/
            Niveles: Secundaria
        %li.bullet
          %p
            %strong MADRE TERESA DE CALCUTA 
            %br/
            Dirección
            %br/
            Pasteur 5350, Virreyes
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa.
            %br>/
            Niveles: Primaria y Secundaria
        %li.bullet
          %p
            %strong MARÍA JÁUREGUI DE PRADERE 
            %br/
            Dirección
            %br/
            Av. del Libertador 2895, Victoria
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa.
            %br>/
            Niveles: Primaria y Secundaria
        %li.bullet
          %p
            %strong NUESTRA SEÑORA DE LA MISERICORDIA 
            %br/
            Dirección
            %br/
            Madero 1334, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa.
            %br>/
            Niveles: Jardín de infantes, Primaria y Secundaria
        %li.bullet
          %p
            %strong SAN ESTEBAN 
            %br/
            Dirección
            %br/
            Xul Solar 3200, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada completa, con orientación Religiosa.
            %br>/
            Niveles: Primaria y Secundaria
        %li.bullet
          %p
            %strong SAN FERNANDO 
            %br/
            Dirección
            %br/
            Constitución 1337, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada completa, con orientación Laica.
            %br>/
            Niveles: Primaria y Secundaria
        %li.bullet
          %p
            %strong SAN LUIS 
            %br/
            Dirección
            %br/
            Av. del Libertador 2645, Victoria
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa.
            %br>/
            Niveles: Jardín de Infantes, Primaria y Secundaria
        %li.bullet
          %p
            %strong SAN MARTÍN DE TOURS 
            %br/
            Dirección
            %br/
            Ituzaingó 1080, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada completa, con orientación Religiosa.
            %br>/
            Niveles: Jardín de Infantes, Primaria y Secundaria
        %li.bullet
          %p
            %strong SAN PABLO 
            %br/
            Dirección
            %br/
            Pueyrredón 2211, Virreyes
            %br/
            Tipo de institución: Colegio privado, de Jornada completa, con orientación Religiosa
            %br>/
            Niveles: Jardín de Infantes, Primaria y Secundaria
        %li.bullet
          %p
            %strong SANTA TERESITA 
            %br/
            Dirección
            %br/
            Pasteur 2199, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada simple, con orientación Religiosa.
            %br>/
            Niveles: Maternal y Jardín de Infantes
        %li.bullet
          %p
            %strong ST. MARY OF THE HILLS 
            %br/
            Dirección
            %br/
            Xul Solar 6650, San Fernando
            %br/
            Tipo de institución: Colegio privado, de Jornada completa, con orientación Religiosa.
            %br>/
            Niveles: Jardín de Infantes, Primaria y Secundaria
        %li.bullet
          %p
            %strong WINTER GARDEN (JARDÍN DE INVIERNO) 
            %br/
            Dirección
            %br/
            Don Orione 1018, Victoria
            %br/
            Tipo de institución: Colegio privado, de Jornada completa, con orientación Laica.
            %br>/
            Niveles: Jardín de Infantes, Primaria y Secundaria