.top.top-section
  %h1 CONSORCIO PARQUE NÁUTICO SAN FERNANDO S.A.
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/consorcionautico1.jpg")
            .ph
              = image_tag("sections/consorcionautico2.jpg")
          / END SLIDER
        .data
          %p
            El Consorcio Parque Náutico San Fernando Sociedad Anónima, constituido en 2003, es un emprendimiento de asociación comercial público-privada, pionero en la provincia.
            %br/
            %br/
            Se trata de una empresa mixta cuyo capital se encuentra constituido en un 51 por ciento por la Municipalidad de San Fernando y en un 49 por ciento por la Cámara Argentina de Constructores de Embarcaciones Livianas (CACEL).
            %br/
            %br/
            CACEL es una organización empresaria constituida por astilleros y proveedores de servicios de la actividad náutica, que constituye una de las actividades económicas más tradicionales y de mayor impacto en la generación de trabajo local.
            %br/
            %br/
            Esta sociedad tendrá una duración de 20 años y será administrada por directores representantes de ambas partes, tanto de la Municipalidad como de CACEL.
            %br/
            %br/
            El Proyecto Parque Náutico S.A. constituye una fuerte apuesta a la recuperación de la costa para el acceso público y al desarrollo económico local, teniendo en cuenta que en San Fernando se asientan astilleros, comercios y clubes náuticos de significación e importancia a nivel nacional.
          %h4 Sedes
          %p
            %strong Punta Chica, Ricardo Rojas y Camino de la Ribera.
            %br/
            Tel. 4745-2844/0865/0272
            %br/
            La primera marina de la ciudad ubicada en un punto estratégico de la zona norte, cercana a la boca del Río de la Plata. Posee un centro de convenciones de primer nivel, salones de eventos y  restaurant. Cuenta con 315 amarras.
          %p
            %strong Puerto Chico, Del Arca 78.
            %br/
            Tel. 4746-6571/72
            Ofrece los servicios náuticos más completos. Ubicado a metros de la Costanera Municipal cuenta con servicios de amarras, varadero, estación de servicio, guardería y restaurant. Cuenta con 237 amarras.
          %p
            %strong Buen Puerto, del Arca 77.
            %br/
            Tel. 4746-6260
            %br/
            Marina de menor tamaño, cercana a la boca del Canal Vinculación, puerta de entrada al Delta. Complejo con gran actividad náutica, velería, almacén naval y broker, restaurant y proveeduría. Cuenta con 181 amarras.
          %p
            %strong Centro de Exposiciones, Alte. Martín y Escalada.
            %br/
            Sede del Salón Náutico Argentino, primera marina semipública del país, que brinda seguridad y servicios para el amarrista con el acceso público a la zona costanera. Es un importante predio ferial para la realización de eventos sociales, deportivos y exposiciones comerciales. Cuenta con la primera Rampa Pública de la región destinada al descenso y ascenso de embarcaciones livianas.