.row-fluid.subtitle
  %h1 LAS COSTANERAS PUBLICAS
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/costanera1.jpg")
          .ph
            = image_tag("sections/costanera2.jpg")
        / END SLIDER
      .data
        %p
          San Fernando cuenta con tres costaneras de acceso publico al Río Luján para vecinos y turistas:
        %ul
          %li.bullet
            %p
              %strong COSTANERA ALFREDO VIVIANT
              %br/
              Ubicación: Del Arca y Río Lujan
              Es un sitio público parquizado de 800 metros, apto para la recreación y una jornada al aire libre. A menos de mil metros de la estación Marina Nueva del Tren de la Costa, es el lugar elegido para automovilistas, caminantes y ciclistas. Cuenta con una bicisenda, la cual comienza en la calle Escalada y recorre Del Arca hasta la costa del río y el extremo sur de la costanera. Posee un sistema permanente de limpieza y vigilancia, bancos, luminarias, cestos de residuos, árboles autóctonos implantados por el Municipio, baños públicos, y una oficina municipal de informes, donde personal de la comuna ofrece información sobre la ciudad a los vecinos y turistas que se acercan al lugar.
              La Costanera es un lugar de recreación para todas las edades. Allí, los abuelos pueden disfrutar de canchas de tejo y los más chicos, de los juegos instalados especialmente para ellos. El Municipio también ha trabajado en la recuperación del sector que se extiende desde la calle Del Arca hacia el extremo Norte, donde también se instalaron bancos, mesas, cestos y piletones para pescadores.
          %li.bullet
            %p
              %strong COSTANERA Y CENTRO DE EXPOSICIONES PARQUE NÁUTICO
              %br/
              Ubicación: Escalada y Almirante Martín
              Se presenta como 400 metros de ribera recuperados por el Municipio que van hacia el Sur del Centro de Exposiciones Parque Náutico San Fernando. En el marco de una política pública, garantiza a vecinos y turistas el acceso a la costa del río con amplias comodidades e cuanto a sanitarios, bancos, iluminación y estacionamiento. Dicha Costanera está abierta al público entre las 8 y las 19 horas, y es cerrada durante la noche por motivos de seguridad.
          %li.bullet
            %p
              %strong COSTANERA DE PUNTA CHICA
              %br/
              Ubicación: Acceso por Ricardo Rojas
              Son 100 metros de ribera, recuperados por el Municipio dirigidos hacia el norte de la Sede Punta Chica del Consorcio Parque Náutico.
              Esta Costanera está abierta al público entre las 8 y las 20 horas en verano, y entre las 8 y las 17 horas en invierno y cuenta con bancos, cestos e iluminación. Se accede por Ricardo Rojas, doblando por Piedrabuena.