.row-fluid.subtitle
  %h1 NACIMIENTO DEL MUNICIPIO DE SAN FERNANDO
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/crecimiento1.jpg")
          .ph
            = image_tag("sections/crecimiento2.jpg")
        / END SLIDER
      .data
        %p
          Desde su nacimiento,
          %strong San Fernando
          sumó una gran cantidad de pobladores y, aunque creció menos que el resto, era por entonces el tercer partido más habitado de los que rodeaban la Capital Federal. Nuestro Partido también se llenó de inmigrantes. De cada diez habitantes del pueblo, tres o cuatro eran extranjeros y la mayoría, con el correr de los años, empezaron a poblar las islas. Cuando en ellas empezaron a fundarse las primeras escuelas, muchos de los maestros y maestras eran franceses, italianos y españoles.
          %br/
          %br/
          Después del año 1850, el pueblo siguió creciendo gracias a una sucesión de hechos que ayudaron en su progreso. En 1864, se inauguró el Ferrocarril Del Norte. Los productos de las Islas que, hasta entonces, se transportaban en carreteras desde el Puerto de San Fernando, ahora podían hacerlo mediante el tren el cual, además, se utilizaba como medio de transporte para la gente.
          %br/
          %br/
          Un tiempo después, se instaló el primer Dique de Carena del país en el Canal de San Fernando. Allí, se podían reparar barcos de todo tipo dando lugar a la formación de pequeñas compañías navieras y de navegación que fueron desarrollándose con los años.
          %br/
          %br/
          Ante el gran y avanzado crecimiento de la Ciudad, muchas familias adineradas de Buenos Aires, empezaron a buscar lugares de descanso y veraneo en varios pueblos de la costa. En San Fernando, construyeron hermosas quintas y mansiones como la de la familia Jacobé (actualmente Quinta El Ombú)
          %br/
          %br/
          En el año 1891, se inauguró la estación de tren con el nombre de Victoria. A sus alrededores, se formó inmediatamente un nuevo pueblo que, desde entonces, lleva la misma denominación que la estación. Junto a ella, se levantaron los primeros galpones y talleres ferroviarios que atrajeron gran cantidad de trabajadores que se convirtieron en los primeros pobladores de la localidad de Victoria.
          %br/
          %br/
          Con el correr de los años, Las Islas Del Delta comenzaron a poblarse. Muchos inmigrantes, formaron pequeñas colonias en las riberas de los ríos y arroyos. Se fundaron escuelas y creció la actividad fruti hortícola, la plantación de mimbres, la explotación forestal y la cría de ovejas y aves.
          %br/
          %br/
          Una compañía instaló en el Pueblo una red de agua corriente la cual, lentamente, se fue extendiendo. El agua, que se guardaba en grandes tanques en el centro, se distribuía a través de una red de cañerías lo cual sirvió para adelantar muchas tareas.
          %br/
          %br/
          La gran cantidad de avances que presentaba San Fernando, provocó un crecimiento en la Industria con la instalación de aserraderos, carpinterías y talleres navales. Además, surgieron las compañías de navegación que realizaban viajes periódicos a las Islas y se aumentó la actividad comercial en todos sus aspectos.
          %br/
          %br/
          Sin dudas,
          %strong SAN FERNANDO,
          logró un importante desarrollo que lo convierte en un Pueblo avanzado en varios frentes.