.row-fluid
  %h1 CULTURA
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/cultura1.jpg")
          .ph
            = image_tag("sections/cultura2.jpg")
          .ph
            = image_tag("sections/cultura3.jpg")
          .ph
            = image_tag("sections/cultura4.jpg")
        / END SLIDER
      .data
        %p
          San Fernando implementa políticas públicas orientadas a promover el desarrollo pleno de las personas con un abordaje integral a las problemáticas humanas y propiciando actividades que acompañen la identidad y la salud cultural de niños, adolescentes, jóvenes y adultos.
        %ul
          %li.bullet
            %p Talleres Culturales
          %li.bullet
            %p Escuela Municipal de Formación Artística (Teatro, Circo, Murga, Artes Visuales y Multimedia, Gastronomía)
          %li.bullet
            %p Espectáculos, recitales, muestras y exposiciones.
        %p
          %strong Para más información, comunicarse telefónicamente con la Secretaria de Cultura a los teléfonos 4746-2146/ 2507/2016