.top.top-section
  %h1 CURIOSIDADES DE NUESTRO DELTA
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/curiosidadesdeldelta1.jpg")
            .ph
              = image_tag("sections/curiosidadesdeldelta2.jpg")
            .ph
              = image_tag("sections/curiosidadesdeldelta3.jpg")
          / END SLIDER
        .data
          %h4 LA IGLESIA MÁS ANTIGUA
          %p
            Bajo la advocación de Nuestra Señora del Rosario (patrona del Delta del Paraná), la Parroquia del Salvador es la iglesia mas antigua del territorio isleño.
            Inaugurada el 25 de mayo de 1908, se encuentra en la intersección de los ríos Paraná Minì y Chaná, en el solar que vecinos del lugar donaron en 1905, con el fin de establecer allí un espacio para la celebración del culto católico.
            La construcción de la Capilla –traída de Europa- fue iniciada por el sacerdote Juan Delleye, y concluida por el cura párroco Maximino Pérez.
          %h4 CLUB MOTONAUTICO ARGENTINO Y DE REGATAS INDEPENDENCIA
          %p
            Fundado el 9 de Julio del año 1920, un grupo de vecinos del Delta, lo bautizò bajo el nombre de
            %strong Independencia.
            Los mismos, en un modesto pero simbólico mástil realizado en sauce, izaron la Bandera Argentina y entonaron las estrofas del Himno Nacional, a orillas del río Paraná Miní. Aquella junta organizadora estaba formada por Ricardo Sarthou, Felipe y Antonio Giorgio y Francisco Lissarrague.
            Al poco tiempo construyeron la sede en el Paraná Miní y Arroyo Chaná y el 31 de octubre de 1936 realizaron el Primer Congreso Isleño donde, como se señala más arriba, se estableciò que el 31 de octubre se conmemore el Día de los Isleños.
            
            Desde entonces, el club continuó siendo centro de reuniones sociales y deportivas, bailes, festivales, regatas de remo y de motonáutica. En 1978 se fusionó con otro club y pasó a llamarse Motonáutico Argentino y de Regatas Independencia, formando una sola institución deportiva al servicio de la comunidad sanfernandina.
          %h4 ECOTURISMO
          %p Propuestas diferentes de esparcimiento y recreación para conocer la exuberante naturaleza de la Reserva de la Biosfera, recorrido por ríos, arroyos y caminos observando aves e interpretando la flora típica, plantaciones de álamos y la vida cotidiana de los isleños.
          %h4 El Tropezón
          %p Paraná de las Palmas y Canal La Serna
          %p Patrimonio Arquitectónico
          %p Construcción típica de 1929
          %h4 HISTORIA
          %p
            El 18 de febrero de 1938, a las islas arribò un pasajero con la pulcritud típica de los intelectuales de entonces. El hombre se encontraba refugiado detrás de un par de lentes enormes que le otorgaban un aspecto exótico. Mientras preparaba  su cena, él decidió dar una vuelta por los alrededores. Al regresar pidió al dependiente Luis Giúdici, hijo de la familia propietaria, un vaso de whisky y un poco de agua, a la vez que sostenìa en su mano un frasquito de medicamentos. Luego, se alojò en la habitación N° 9, se encerrò y ocurrió una tragedia
            Luis llamó a los huéspedes para cenar y sólo faltaba el señor de traje claro y anteojos redondos. Fue en su búsqueda y al no encontrar respuesta, forzó la puerta. Vestido, sobre la cama, con la cabeza hacia abajo, yacía el cuerpo del insólito personaje. El contenido del frasquito era cianuro, por lo que, el ocupante de la habitación, se había suicidado. A la mañana siguiente, absorto y sin explicaciones, el mundo intelectual más significativo de Buenos Aires, lloraba la muerte de don Leopoldo Lugones. El grupo “Amistad 25” en recuerdo de lo ocurrido colocó una placa en la habitación N° 9.
          %h4 Experiencias Naturales
          %p
            Visitas guiadas a la Reserva de Biosfera
            Teléfono: 15-6266-2482
          %a{:href => "mailto:leolermett@hotmail.com"} leolermett@hotmail.com