.top.top-section
  %h1 DATOS DE LA CIUDAD
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %h4 SUPERFICIE
          %p La sección continental tiene una superficie de 23 km², densamente poblados, con preeminencia de actividades industriales, comerciales y de servicios. La sección de islas del Delta del Paraná comprende una superficie de 950 km².
          %h4 POBLACIÓN A LO LARGO DE LAS DÉCADAS
          %ul
            %li.bullet
              %p Población 1991: 144.763 habitantes (INDEC, 1991)
            %li.bullet
              %p Población 2001: 151.131 habitantes (INDEC, 2001)
            %li.bullet
              %p Población 2010: 163.462 habitantes (INDEC, 2010)
          %h4 HABITANTES DE SAN FERNANDO (DATOS DEL AÑO 2001)
          %ul
            %li.bullet
              %p Total: 151.131 hab.
            %li.bullet
              %p Población urbana: 148.064 habitantes.
            %li.bullet
              %p Población rural (islas): 3.067 habitantes.
          %h4 HABITANTES POR LOCALIDADES (DATOS 2001)
          %ul
            %li.bullet
              %p San Fernando: 69.110 habitantes.
            %li.bullet
              %p Victoria: 39.447 habitantes.
            %li.bullet
              %p Virreyes: 39.507 habitantes.
            %li.bullet
              %p Islas: 3.058
          %p (Fuente: INDEC: Censo Nacional de Población, Hogares y Vivienda 2001).
          %h4 PERSONAJES ILUSTRES
          %ul
            %li.bullet
              %p Tiburcio Gómez, héroe de los Treinta y Tres Orientales
            %li.bullet
              %p Xul Solar (Oscar Agustín Alejandro Schulz Solari), artista plástico y amigo personal de Jorge Luis Borges
            %li.bullet
              %p Gilardo Gilardi, músico clásico, compositor y director de orquesta
            %li.bullet
              %p Ambrosio Romero Carranza, notable jurisconsulto, catedrático e historiador
            %li.bullet
              %p Atilio Betti, dramaturgo, escritor
            %li.bullet
              %p Zeta Bosio, músico de rock, bajista de Soda Stereo
            %li.bullet
              %p Verminio Servetto, poeta
            %li.bullet
              %p Francisco Pracánico, músico, pianista, compositor y director
            %li.bullet
              %p Manfredo de Hertelendy, pionero de la colonización de Formosa
            %li.bullet
              %p Juan Román Riquelme, Futbolista argentino que juega de enganche (Nº10) reconocido en el mundo por su talento, logros y trayectoria. Máximo ídolo de la historia del Club Atlético Boca Juniors.
          %h4 GEOGRAFÍA
          %p
            El Partido de San Fernando está a 30 kilómetros de la Capital Federal y a 95 de la ciudad de La Plata, capital de la provincia de Buenos Aires.
            Limita en su parte continental con los partidos de Tigre y San Isidro, con el río Luján y el río de la Plata. A su vez, el territorio isleño, la 2º y 3ª Sección de Islas, limita con el partido de Tigre, el partido de Campana, el sur de la provincia de Entre Ríos y la República Oriental del Uruguay.
            San Fernando es atravesado por la línea Mitre del ferrocarril Trenes de Buenos Aires (TBA) con sus 3 ramales. Uno de ellos, es el conocido como "Bancalari" que termina su recorrido en Zárate. Otro de los ramales es el ramal C, que cuenta con cuatro estaciones: Victoria, Virreyes, San Fernando y Carupá cubriendo el recorrido Retiro (en la Capital Federal) - Tigre. Este ramal, a la altura de la estación Victoria se bifurca, y nace un recorrido que finaliza en la ciudad de Capilla del Señor. Por ultimo,  San Fernando tiene su "Estación vieja", ubicada en el  Tren de la Costa, la cual ha sido recuperada y reciclada recientemente, con re-inauguración el 20 de abril de 1995.
          %h4 CLIMA
          %p
            Los meses más fríos del año son junio, julio y agosto mientras que los más calurosos son enero y febrero.
            Las temperaturas medias son las siguientes:
          %ul
            %li.bullet
              %p Temperatura media anual: entre 16 y 18 grados.
            %li.bullet
              %p Temperatura mínima anual media: entre O y 5 grados.
            %li.bullet
              %p Temperatura máxima absoluta: entre 38 y 40 grados.
          %p
            El Partido de San Fernando se caracteriza por poseer una humedad máxima relativa anual equivalente a la de la provincia de Misiones, que es superior al 75%.
            Las lluvias anuales alcanzan los 900 milímetros.
            Los vientos son los de Buenos Aires y los de la zona que circunda el Gran Buenos Aires; pero es de destacar que tiene mayor incidencia el viento del sudeste, por la posición del Partido con respecto a la costa.
            La zona costera, a causa de las conocidas "sudestadas", sufre reiteradas y considerables inundaciones, ya que se embolsa el caudal del Río Luján.
          %h4 LIMITES CON PARTIDOS VECINOS
          %p
            San Isidro: Calle Uruguay.
            %br/
            Tigre Río Reconquista, Ruta 197 o Av. Dr. Juan B. Justo y cordón noroeste de la calle Almirante Brown.
          %h4 LIMITES ENTRE LOCALIDADES
          %p
            Limite entre San Fernando y Virreyes calles Miguel Cané y Mansilla.
            %br/
            Limite entre San Fernando y Victoria calles Quintana y Del Arca.
            %br/
            Limite entre Virreyes y Victoria calles R. Payró, Pasteur, Mansilla y Malvinas Argentinas.