.top.top-section
  %h1 DEPORTES
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/deportes1.jpg")
            .ph
              = image_tag("sections/deportes2.jpg")
            .ph
              = image_tag("sections/deportes3.jpg")
          / END SLIDER
        .data
          %p
            La Dirección de Deportes depende de La Secretaría de Desarrollo Social, Medio Ambiente y Salud Pública y se encarga de la promoción y la ejecución de los distintos planes vinculados con las actividades deportivas.
            %br/
            %br/
            Entendemos que el deporte es un importante factor de desarrollo humano e integración social y buscamos el aprovechamiento de todas las actividades deportivas y recreativas para fomentar valores sociales, educativos y culturales.
            %br/
            %br/
            Algunas de las actividades que se desarrollan son Voley, Handball, Básquet, Hockey, Taekwondo, Fútbol, Mix Latino, Colonia Especial, Atletismo, Remo, Canotaje, Ajedrez, Gimnasia Deportiva y Aeróbica.
            
            El municipio cuenta con tres sedes:
          %ul
            %li.bullet
              %p Polideportivo CE.DE.C. N°1 ubicado en Int. Arnoldi y Pasteur.
            %li.bullet
              %p Polideportivo CE.DE.C. N°2 ubicado en Ruta 202 y Pueyrredón.
            %li.bullet
              %p Polideportivo CE.DE.C. N°3 ubicado en 9 de Julio y Río Luján.