.top.top-section
  %h1 ECOTURISMO Y PESCA DEPORTIVA
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/ecoturismo1.jpg")
            .ph
              = image_tag("sections/ecoturismo2.jpg")
            .ph
              = image_tag("sections/ecoturismo3.jpg")
            .ph
              = image_tag("sections/ecoturismo4.jpg")
          / END SLIDER
        .data
          %p
            La extensa región que ofrece el Río Paraná, se conoce como el Delta de San Fernando.
            Su vegetación exuberante lo convierte en el sitio ideal para el
            %strong ECOTURISMO,
            es decir el turismo que pone en primer plano el contacto con la naturaleza.
            Para disfrutar de esa fascinante experiencia, el Delta ofrece la posibilidad de aprovecharlo en diferentes sentidos:
          %ul
            %li.bullet
              %p
                %strong> Avistaje de aves:
                es un espectáculo colmado de colores y sonidos.
            %li.bullet
              %p
                %strong> Caminatas guiadas:
                permite apreciar la naturaleza y las costumbres del lugar.
            %li.bullet
              %p
                %strong> Recorridos fluviales:
                dan la posibilidad de no perderse detalles del paisaje isleño.
            %li.bullet
              %p
                %strong> Cabañas y camping:
                a tono con el entorno, brindan lo necesario para una calida estadía en permanente contacto con la naturaleza.
            %li.bullet
              %p
                %strong> Travesías 4x4:
                una experiencia imperdible para ingresar en los sitios más recónditos del Delta.
          %p
            Otra ventaja que tiene el Delta es que sus arroyos, riachos e islas lo convierten en un destino apasionante para quienes disfrutan de la
            %strong PESCA DEPORTIVA.
            Los apasionados por esta disciplina, podrán encontrar especies como mojarras, bagres, bogas, anguilas, rayas, tarariras o taruchas, paties, armados y sorprenderse con la aparición de algún dorado, pejerrey o surubí. Para obtener mejores resultados y disfrutar en su plenitud esta actividad, el Delta ofrece excursiones de pesca guiadas que permiten encontrar, según la época del año, los mejores lugares para el pique. Además se ofrecen alquileres de botes, lanchas e insumos para la pesca para pasar una excelente jornada al aire libre.