.top.top-section
  %h1 ECONOMÍA
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %p
            Con el compromiso de administrar los recursos de la ciudad de manera eficiente y transparente, San Fernando Municipio, a cargo del intendente Luis Andreotti, pone a disposición de los vecinos el resumen del estado presupuestario financiero y patrimonial y la evolución de los gastos y los recursos.
            Ver en el archivo adjunto.
          %h4 Descargar archivo
          .download
            = image_tag("application-pdf.png")
            %a{:href => "http://www.sanfernando.gov.ar/sites/default/files/Balance.pdf"} Balance.pdf