.row-fluid.subtitle
  %h1 Ejecución Presupuestaria
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h4 Descargar archivo
        .download
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/system/pdf/ejecucion-presupuestaria-2014.pdf"} Ejecución Presupuestaria 2014.pdf