.row-fluid.subtitle
  %h1 EMPLEO
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %ul
          %li.bullet
            %p
              %strong Oficina de Empleo
              Dirección: Av. Avellaneda 2270.
              %br/
              Teléfonos: 4580-5681 / 4580-5734/5
              %br/
              %a.web-bullet{:href => "mailto:empleo@sanfernando.gob.ar"} empleo@sanfernando.gob.ar
              Horario de atención: lunes a viernes, de 8 a 15 hs.
        %p
          La Oficina Municipal de Empleo de San Fernando brinda servicios tanto a desocupados y personas que deseen cambiar de trabajo como a
          los empleadores que necesitan contratar personal.
        %h4 Servicio de Intermediación Laboral para Empleadores
        %p
          El Servicio de Intermediación Laboral para Empleadores está destinado a personas, comercios, empresas y otras instituciones que necesiten
          contratar personal. Los selectores de la Oficina de Empleo realizan una preselección de los candidatos registrados en nuestra base de datos
          que cumplen con el perfil demandado por el empleador. Una vez consultados los postulantes preseleccionados, coordinamos con la empresa la
          derivación a la entrevista de trabajo. También brindamos un espacio físico para hacer selección de personal y/o capacitaciones.
        %h4 Beneficios para Empresas y Comercios
        %ul
          %li.bullet
            %p
              Entrenamiento para el Trabajo: Las empresas y los comercios que ofrezcan la posibilidad de realizar prácticas laborales a las y
              los jóvenes del Programa Jóvenes con Más y Mejor Trabajo y a los beneficiarios del Seguro de Capacitación y Empleo, podrán
              seleccionar y formar según sus requerimientos a potenciales trabajadores. Durante el período de entrenamiento, la empresa debe
              abonar a cada practicante, en conjunto con el Ministerio de Trabajo, Empleo y Seguridad Social (MTEySS), una suma mensual no remunerativa.
              Si la empresa decide contratar en relación de dependencia a la persona que realizó la práctica laboral, la Oficina de Empleo podrá gestionar
              ante el MTEySS el Programa de Inserción Laboral en el Sector Privado.
          %li.bullet
            %p
              Programa de Inserción Laboral en el Sector Privado (PIL): A las empresas y comercios que decidan incrementar su personal con trabajadores desocupados del
              Programa “Jóvenes con Más y Mejor Trabajo”, del Seguro de Capacitación y Empleo y/o personas con discapacidad, se les brindará un apoyo económico para el pago del salario del empleado.
              El PIL se puede realizar sin necesidad de que el desocupado haya realizado un Entrenamiento para el Trabajo.
          %li.bullet
            %p
              Asesoramiento sobre Régimen de Crédito Fiscal del MTEySS: Es una herramienta dirigida a PyMES y grandes empresas que financia proyectos que fortalezcan las competencias laborales
              de los trabajadores ocupados y desocupados y/o la adquisición de equipamiento destinado a instituciones de Formación Profesional. Las empresas interesadas pueden
              financiar proyectos equivalentes al 8% de la suma total de remuneraciones abonadas anualmente y sus respectivos aportes patronales o $300.000, lo que sea menor.
        %p
          La Oficina de Empleo de San Fernando  aprobó las auditorias del
          %strong Referencial IRAM Nº2 de Oficinas de Empleo
          elaborado por el
          %strong
            Instituto Argentino de
            Normalización y Certificación (IRAM)
          y el
          %strong Ministerio de Trabajo, Empleo y Seguridad Social de la Nación (MTEySS).
          El cumplimiento de los requisitos del referencial determinó la
          %strong Certificación de la Calidad
          de los servicios que presta la Oficina de
          Empleo por parte del IRAM.
        %h4 Servicios para desocupados o personas que deseen cambiar de trabajo
        %p
          Los vecinos de San Fernando que estén desocupados o deseen cambiar de trabajo, pueden acercarse personalmente a la  Oficina de Empleo para registrar
          su historia laboral en nuestra base de datos. De este modo, podrán ser tenidos en cuenta en las búsquedas laborales que nos solicita el sector privado.
        %p Requisitos para inscribirse:
        %ul
          %li.bullet
            %p Ser vecino de San Fernando
          %li.bullet
            %p Tener más de 18 años
          %li.bullet
            %p Tener número de CUIL
        %p Las personas que estén buscando empleo pueden participar también de los talleres gratuitos que dictamos en la OE:
        %ul
          %li.bullet
            %p Taller de Orientación Laboral: asistencia en la definición, reorientación y ampliación del perfil laboral de las personas, brindando asesoramiento para la definición de trayectorias formativas acordes y para encarar procesos de reconversión laboral.
          %li.bullet
            %p Taller de Apoyo a la Búsqueda de Empleo: brinda información sobre el mercado de trabajo, ofrece herramientas para la búsqueda de empleo: confección del CV y de la carta de presentación, entrevista de trabajo.
          %li.bullet
            %p Orientación al Trabajo Independiente: orientación para reflexionar acerca del perfil emprendedor y las posibilidades de encarar alguna modalidad de trabajo autónomo.
          %li.bullet
            %p Taller de Redacción de CV: diferentes tipos de CV (cronológico y/o funcional), orientación para la redacción en función de los perfiles laborales.
        %a{:href => "http://sanfe.gcoop.coop/contenido/empleo-joven"} Programa Jóvenes con Más y Mejor Trabajo
        %h4 Programa de Empleo de Independiente (PEI)
        %p
          El objetivo del programa es asistir a trabajadores afectados por problemáticas de empleo en el desarrollo de emprendimientos productivos independientes. Los destinatarios del PEI son los beneficiarios del Seguro por Desempleo (SxD), Seguro de Capacitación y Empleo (SCyE), Programa Jóvenes con Más y Mejor Trabajo (PJMyMT), desocupados que hayan aprobado un curso de formación profesional en el último año.
          El programa prevé un financiamiento para los proyectos presentados de hasta $15.000 por persona.
        %h4 Monotributo Social
        %p
          El Monotributo Social es una categoría tributaria permanente que reconoce la realización de actividades productivas, comerciales y de servicios por parte de la población en situación de vulnerabilidad social.
          La Oficina de Empleo es el Centro de Referencia de San Fernando donde pueden inscribirse las personas que se encuentren en situación de vulnerabilidad social y que no generen ingresos anuales superiores a la categoría más baja del monotributo general:
        %ul
          %li.bullet
            %p Que realizan una única actividad económica
          %li.bullet
            %p Integrantes de proyectos productivos que conformen grupos de hasta tres personas
          %li.bullet
            %p Cooperativas de Trabajo