.row-fluid.subtitle
  %h1 EMPLEO JOVEN
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/empleojoven1.jpg")
        / END SLIDER
      .data
        %h4 Programa Jóvenes con Más y Mejor Trabajo
        %p
          Está destinado a las y los jóvenes de 18 a 24 años, que no hayan finalizado sus estudios primarios y/o secundarios, que estén desocupados o que no tengan un trabajo registrado. El objetivo es brindarle a los jóvenes herramientas que mejoren sus posibilidades de acceder a mejores trabajos.
          %br/
          %br/
          Este programa les permite capacitarse para buscar trabajo de mejor manera, les brinda ayuda para terminar sus estudios primarios o secundarios, también les da la oportunidad de aprender un oficio y la posibilidad de hacer una entrenamiento laboral.
          %br/
          %br/
          La inscripción al Programa está abierta todo el año.
        %ul
          %li.bullet
            %p
              %strong Oficina de Empleo
              %br/
              Dirección: Avellaneda 2270, Virreyes.
              %br/
              Teléfonos: 4580-5734
              %br/
              %a.web-bullet{:href => "mailto:empleo@sanfernando.gov.ar"} empleo@sanfernando.gov.ar
              %br/
              Horario Área de Empleo Joven: lunes a viernes, de 8.30 a 15 hs.