.top.top-section
  %h1 ESCUELA DE FORMACIÓN ARTÍSTICA
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %p
            %strong Requisitos de ingreso
            %br/
            Tener entre 18 y 35 años
            Secundario completo o en curso
            %br/
            %br/
            TODAS LAS ESCUELAS TIENEN VACANTES LIMITADAS.
            %br/
            ASISTENCIA OBLIGATORIA DE UN 80% EN TODAS LAS MATERIAS.
            %br/
            %br/
            %strong Lugares de inscripción a partir del 26/03:
            %br/
            Teatro Martinelli - Lavalle 3021 (Victoria) TEL. 4746-4173.
            Lunes a viernes de 10 a 19 hs.
          %ul
            %li.bullet
              %h4 ESCUELA DE TEATRO
              %p
                %strong Técnica vocal I
                %br/
                Prof. Sebastián Amica
                %br/
                Lunes 17 a 19 hs. // Martes 17 a 19 hs.
                %br/
                Lugar: Ateneo Esteban Echeverría
              %p
                %strong Expresión Corporal I
                %br/
                Prof. Mariano Rivero
                %br/
                Jueves 17 a 19 hs. // Jueves 19.15 a 21.15 hs.
                %br/
                Lugar: Teatro Martinelli
              %p
                %strong Actuación I
                %br/
                Prof. Andrea Jaet
                %br/
                Miércoles 17 a 19 hs. // Sábados 14 a 18hs.
                %br/
                Lugar: Teatro Martinelli
            %li.bullet
              %h4 ESCUELA DE CINE
              %p Comienza en 2do. Cuatrimestre.
              %p
                %strong Guión y Dirección I (anual)
                %br/
                Horario 17 a 21 hs.
                %br/
              %p
                %strong Dirección de Cámara y Fotografía I (anual)
                %br/
                Horario 17 a 21 hs.
                %br/
              %p
                %strong Producción I (cuatrimestral)
                %br/
                Horario 17 a 21 hs.
                %br/
              %p
                %strong Edición de Imagen y Nuevas Tecnologías
                %br/
                Horario 17 a 21 hs
                %br/
                Sede proyectada Centro Universitario Municipal
                %br/
            %li.bullet
              %h4 ESCUELA DE GASTRONOMÍA
              %p Comienza en 2do. Cuatrimestre.
              %p
                %strong Cocina Básica I
                %br/
                Prof. Alejandro Andrade
                %br/
                Lunes 17 a 21 hs.
                %br/
                Lugar: Quinta El Ombú
              %p
                %strong Pastelería y Repostería I
                %br/
                Prof. Claudia Cejas
                %br/
                Lugar: Quinta El Ombú
                %br/
                Miércoles 17 a 21 hs.
              %p
                %strong Nutrición e higiene  I
                %br/
                Prof. Néstor Pereyra
                %br/
                Viernes 17 a 21 hs.
                %br/
                Lugar: Quinta El Ombú
            %li.bullet
              %h4 ESCUELA DE COMEDIA MUSICAL
              %p
                %strong Integración y Teatro I
                %br/
                Prof. Gaia Rosviar
                %br/
                Lunes 17 a 19 hs. // 19.15 a 21.15 hs.
                %br/
                Lugar: Teatro Martinelli
              %p
                %strong Canto I
                %br/
                Prof. Sebastián Mazzoni
                %br/
                Jueves 17 a 21 hs.
                %br/
                Lugar: Ateneo Esteban Echeverría
              %p
                %strong Danza  I
                %br/
                Prof. Analía Riamonde
                %br/
                Martes 17 a 19 hs. // 19.15 a 21.15 hs.
                %br/
                Lugar: Teatro Martinelli
            %li.bullet
              %h4 ESCUELA DE CIRCO
              %p
                %strong Juegos Teatrales y Clown I
                %br/
                Prof. León Seritti
                %br/
                Lunes 17 a 19 hs. // 19.15 a 21.15 hs.
                %br/
                Lugar: Círculo Italiano Int. Arnoldi y Garibaldi
              %p
                %strong Malabares I
                %br/
                Prof. Alejandro Feijoo
                %br/
                Martes 17 a 19 hs. // 19.15 a 21.15 hs.
                %br/
                Lugar: Círculo Italiano Int. Arnoldi y Garibaldi
              %p
                %strong Acrobacia de piso I
                %br/
                Prof. Maximiliano Senas
                %br/
                Miércoles 17 a 19 hs. // 19.15 a 21.15 hs.
                %br/
                Lugar: Círculo Italiano Int. Arnoldi y Garibaldi
            %li.bullet
              %h4 ESCUELA DE MURGA
              %p
                %strong Plástica para murga I
                %br/
                Prof. Natacha Ferrari
                %br/
                Sábados 14 a 18 hs.
                %br/
                Lugar: SUM del CEDEC Nº 1
              %p
                %strong Integración Baile, coreografía y percusión I
                %br/
                Prof. Emilio Laurito
                %br/
                Sábados 14 a 18 hs.
                %br/
                Lugar: Gimnasio del CEDEC Nº 1
              %p
                %strong Canto para murga I
                %br/
                Porf. Adriana Barcia
                %br/
                Miércoles 17 a 21 hs.
                %br/
                Lugar: Ateneo Esteban Echeverría