.row-fluid.subtitle
  %h1 ESCUELA DE FORMACIÓN ARTÍSTICA
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
.news-inside
  .item
    .data
      %p
        TODAS LAS ESCUELAS TIENEN VACANTES LIMITADAS.
        %br/
        ASISTENCIA OBLIGATORIA DE UN 80% EN TODAS LAS MATERIAS.
        %br/
        %br/
        %strong Lugares de inscripción:
        %br/
        Teatro Martinelli - Lavalle 3021 (Victoria) TEL. 4746-4173.
        Lunes a viernes de 9 a 17 hs.
      %ul
        %li.bullet
          %h4 ESCUELA MUNICIPAL DE TEATRO
          %p
            %strong Requisitos de ingreso:
            %br/
            Tener a partir de 17 años.
          %p
            La Escuela Municipal de Teatro de San Fernando ofrece una formación actoral de tres años. De manera integral prioriza el aprendizaje práctico en la actuación, desde el trabajo corporal, vocal y escénico. Complementando el conocimiento a través del marco teórico, que involucra el contexto histórico y las posibilidades analíticas del campo teatral.
            %br/
            En un marco de comunión grupal y con docentes de amplio recorrido en el ámbito teatral, la escuela tiene lugar en el nuevo Teatro Municipal Julio Martinelli y en el Centro Universitario.
            Los días de cursada son Martes y Miércoles desde las 17 hs.
            %br/
            Para más información: actoral27@gmail.com / Facebook: Escuela Municipal de Teatro de San Fernando
        %li.bullet
          %h4 ESCUELA DE COMEDIA MUSICAL
          %p
            %strong Requisitos de ingreso:
            %br/
            Tener entre 18 y 45 años.