.top.top-section
  %h1 ESCUELAS DEPORTIVAS
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %p
            Con el comienzo del ciclo lectivo, se abre la inscripción para todas las actividades de deporte y recreación de la variada oferta municipal,
            en los Polideportivos CE.DE.C. N°1 (Arnoldi y Pasteur), N°2 (Yrigoyen y Ruta 202) y N°3 (9 de Julio y Río Luján).
          %table
            %tr
              %th Actividad
              %th Institución
              %th Días y horarios
              %th Dirección
            %tr
              %td.rowspan{:rowspan => "6"} VOLEY
              %td Club Estrella
              %td Lun y Mié 16.30-18.30 hs.
              %td Av. Avellaneda y España
            %tr
              %td U.V.U.R.S.F. Infico
              %td Mar y Jue 17.45 -19.45 hs.
              %td Alvear y Suipacha
            %tr
              %td Soc Fomento Mitre
              %td Mar y Jue 17-19 hs.
              %td Balcarce 2950
            %tr
              %td Soc Fomento El Expreso
              %td Mar y Jue 18-20
              %td 9 de Julio 1761
            %tr
              %td Soc Fomento San Ginés
              %td Lun y Mié 17-18.30 hs.
              %td Chacabuco 3553
            %tr
              %td Club La Unión
              %td Mar y Jue 19-21 hs.
              %td Ituzaingo 3653
            %tr
              %td.rowspan{:rowspan => "2"} HOCKEY
              %td Club Recreat. Italiano
              %td Mar y Jue 17-19 hs.
              %td San Gines y Cordero
            %tr
              %td Soc Fomento Mitre
              %td Lun 16-18 hs. Jue 14.30 a 16.30 hs.
              %td Balcarce 2950
            %tr.rowspan
              %td BASQUET
              %td Club Victoria
              %td Mar y Jue 17-18 hs. Sáb 10-12 hs
              %td Ing. White y Pje. San José
            %tr
              %td.rowspan{:rowspan => "3"} GIMNASIA DAMAS
              %td Club Crisol
              %td Lun y Mié 15.30-16.30 hs.
              %td Brandsen 3415
            %tr
              %td U.V.U.R.S.F. Infico
              %td Mar y Jue 17.30-18.30 hs.
              %td Alvear y Suipacha
            %tr
              %td Soc Fomento M. Belgrano
              %td Mar y Jue 19.30-20.30 hs.
              %td Garibaldi 5562
            %tr.rowspan
              %td GIMN. AER.
              %td Club La Unión
              %td Lun y Mié 17.30 a 19.30 hs.
              %td Ituzaingo 3653
            %tr
              %td.rowspan{:rowspan => "5"} AJEDREZ
              %td Biblioteca U.V.U.R.S.F.
              %td Lun y Jue 18-20 hs.
              %td Alvear y Suipacha
            %tr
              %td Club Crisol
              %td Mié 17-19 hs.
              %td Brandsen 3415
            %tr
              %td Biblioteca Madero
              %td Mar y Jue 17-19 hs.
              %td Constitucuión y Gral . Pintos
            %tr
              %td Virjen Luján
              %td Lunes 15-17 hs.
              %td Gallo 2230
            %tr
              %td Hogar Zanochi
              %td Jueves 10-12 hs.
              %td Kennedy 2041