.top.top-section
  %h1
    ESTUDIOS DE NIVEL MEDIO, SUPERIOR,
    %br/
    POSGRADOS Y CAPACITACIÓN
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/estudiosmedios1.jpg")
          / END SLIDER
        .data
          %p
            San Fernando Municipio trabaja para elevar la calidad de las ofertas de Capacitación, Formación Profesional, Educación de Adultos, Terciaria y Universitaria y para profundizar la articulación y aplicación de políticas integrales que contemplen las relaciones entre la educación y el trabajo, posibilitando la inserción laboral de la población sanfernandina.
            Entre las principales acciones figuran:
          %ul
            %li.bullet
              %p
                %strong CENTRO UNIVERSITARIO MUNICIPAL
                %br/
                Funciona en Avenida Avellaneda 2270 (Virreyes) como sede de cinco universidades nacionales.
                Teléfonos: 4575-3261. 4580-5671.
                %a.web-bullet{:href => "mailto:centrouniversitario@sanfernando.gob.ar"} centrouniversitario@sanfernando.gob.ar
          %h4 TECNICATURAS EN ESCUELA MEDIA
          %li.bullet
            %p
              %strong Tecnicatura Naval:
              %br/
              Esta orientación se desarrolla en la Escuela Técnica N 2, ubicada en Libertador y Ayacucho, y forma técnicos capacitados para profundizar
              el desarrollo de la industria naval en la Capital Nacional de la Náutica.
              %br/
              Más información al 4744-1643, o bien dirigiéndose a la sede de la Escuela, Libertador y Ayacucho.
          %li.bullet
            %p
              %strong Tecnicatura de Maestro Mayor de Obra:
              %br/
              Próximamente en la Escuela Técnica Nº 3 de nuestra ciudad ubicada en Miguel Cané 4565.