.row-fluid.subtitle
  %h1 HOSPEDAJE
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
.news-inside
  .item
    / SLIDER
    .slider-contenido
      %a.prevContenido{:href => "#"}
      %a.nextContenido{:href => "#"}
      .container
        .ph
          = image_tag("sections/hospedaje1.jpg")
        .ph
          = image_tag("sections/hospedaje2.jpg")
      / END SLIDER
    .data
      %ul
        %li.bullet.datos
          %p
            %strong VICTORY INN
            %br/
            Apart Hotel y Residencia Estudiantil Cuenta con 20 habitaciones equipadas con kichenette, servicio de Internet (Wi - Fi)
            %br/
            Dirección: Carlos Casares 1445 Victoria
            %br/
            Teléfonos: 4744-6852 /// 15-5310-9693
            %a.web-bullet{:href => "http://www.victoryinn.com.ar"} www.victoryinn.com.ar
            %a.mail-bullet{:href => "mailto:victory@victoryinn.com.ar"} victory@victoryinn.com.ar
        %li.bullet.datos
          %p
            %strong HOTEL JACARANDÁ
            %br/
            Apart hotel. Equipado con 30 confortables habitaciones y servicios de primer nivel. Salones para conferencias y eventos sociales. Restaurante.
            %br/
            Dirección: Necochea 810, San Fernando.
            %br/
            Teléfono: 4746-4736
            %a.web-bullet{:href => "mailto:reservas@hoteljacaranda.com.ar"} reservas@hoteljacaranda.com.ar
      %h4 HOSPEDAJES EN EL DELTA
      %ul
        %li.bullet.datos
          %p
            %strong La Casita
            %br/
            Dirección: Arroyo Paicarabicito
            %br/
            Teléfono: 4728-1704
        %li.bullet.datos
          %p
            %strong Azul cielo
            %br/
            Dirección: Arroyo Paicarabicito
            %br/
            Teléfono: 4728-1704
        %li.bullet.datos
          %p
            %strong VERDE SINFONÍA
            %br/
            Dirección: Arroyo Paicarabicito
            %br/
            Teléfono: 4728-1704
        %li.bullet.datos
          %p
            %strong PUERTO ALPINA
            %br/
            Dirección: Arroyo Paycarabí y Arroyo Estudiantes
            %br/
            Teléfono: 4728-0606
        %li.bullet.datos
          %p
            %strong ACUARELA
            %br/
            Dirección: Arroyo Paycarabi y Estudiantes
            %br/
            Teléfono: 4728-0606
        %li.bullet.datos
          %p
            %strong LA JUANA
            %br/
            Dirección: Río Carabelas y Arroyo Toledo
            %br/
            Teléfonos: 4702-5686 // (15) 5 568-6332
            %a.web-bullet{:href => "http://www.reservalajuana.com.ar"} www.reservalajuana.com.ar
        %li.bullet.datos
          %p
            %strong LOS NOGALES
            %br/
            Dirección: Arroyo Durazno / Muelle Los Nogales
            %br/
            Teléfono: 4728-0688
            %a.web-bullet{:href => "mailto:vhbforestal@fibertel.com.ar"} vhbforestal@fibertel.com.ar
        %li.bullet.datos
          %p
            %strong CABAÑAS DEL RÍO CHANÁ
            %br/
            Dirección: Arroyo Chaná
            %br/
            Teléfono: (15) 5 637-3975
            %a.web-bullet{:href => "mailto:riochana@argentina.com"} riochana@argentina.com
      %h4 RECREOS Y PARADORES
      %ul
        %li.bullet.datos
          %p
            %strong La Navarra
            %br/
            Dirección: La Serna y Arroyo Durazno
            %br/
            Teléfono: 4728-1117
        %li.bullet.datos
          %p
            %strong Puerto Los Faros
            %br/
            Dirección: Paraná Miní y Arroyo Chaná
            %br/
            Teléfonos: 15-5577-1912 // 15-6041-5990
            %a.web-bullet{:href => "http:www.puertolosfaros.com.ar//"} www.puertolosfaros.com.ar
            %a.mail-bullet{:href => "mailto:puertolosfaros@gmail.com"} puertolosfaros@gmail.com
        %li.bullet.datos
          %p
            %strong Recreo Cruz Alta
            %br/
            Dirección: Paraná de las Palmas y Arroyo Chiquero
            %br/
            Teléfono: 4728-2786
            %a.web-bullet{:href => "http://www.hosteriacruzalta.com.ar"} www.hosteriacruzalta.com.ar
            %a.mail-bullet{:href => "mailto:info@hosteriacruzalta.com.ar"} info@hosteriacruzalta.com.ar
            Facebook: Hostería Cruz Alta
        %li.bullet.datos
          %p
            %strong Recreo Los Pinos
            %br/
            Dirección: Paraná de las Palmas Km 57,6
            %br/
            Teléfonos: 4728-1977 // 4728-1950
        %li.bullet.datos
          %p
            %strong Parador de la Reserva
            %br/
            Dirección: Arroyo Chaná
            %br/
            Teléfonos: 4728-2817 // 4792-2848
            %a.web-bullet{:href => "mailto:delareserva@hotmail.com"} delareserva@hotmail.com
            %a.mail-bullet{:href => "mailto:jemozzone@hotmail.com"} jemozzone@hotmail.com
        %li.bullet.datos
          %p
            %strong Hostería El Sol
            %br/
            Dirección: Arroyo Naranjo
            %br/
            Teléfono: 4728-1670
            %br/
            VHF: Canal 66
            %a.web-bullet{:href => "http://www.islaelsol.com"} www.islaelsol.com
        %li.bullet.datos
          %p
            %strong La Becasina Delta Lodge
            %br/
            Dirección: Arroyo Las Cañas
            %br/
            Teléfonos: 4728-1253 // 4328-2687
            %a.web-bullet{:href => "http://www.labecasina.com"} www.labecasina.com
            %a.mail-bullet{:href => "mailto:reservas@labecasina.com"} reservas@labecasina.com
        %li.bullet.datos
          %p
            %strong Camping Cielo
            %br/
            Dirección: Río Carabelas
            %br/
            Teléfonos: 4728-1345 // 4582-4897 // 15-5647-7423
        %li.bullet.datos
          %p
            %strong Complejo Náutico Aulicino
            %br/
            Dirección: Río Paraná Miní y Canal 4
            %br/
            Teléfonos: 4728-1243 // 4728-2707
            %a.web-bullet{:href => "mailto:antonioaulicino@yahoo.com.ar"} antonioaulicino@yahoo.com.ar
            Facebook: Complejo Náutico Aulicino delta
        %li.bullet.datos
          %p
            %strong Restaurant Hospedaje Isla Margarita
            %br/
            Dirección: Río carabelas 1000
            %br/
            Teléfono: 4728-2495
            %a.web-bullet{:href => "http://www.islamargaritabue.com.ar"} www.islamargaritabue.com.ar
            %a.mail-bullet{:href => "mailto:islamargaritabue@gmail.com"} islamargaritabue@gmail.com
        %li.bullet.datos
          %p
            %strong Hostería Posada
            %br/
            Dirección: Barca Grande y Arroyo Barquita
            %br/
            Teléfonos: 4728-2207 // 4728-1137 // 15-3204-8165
            %a.web-bullet{:href => "http://www.hosteriaposada.com.ar"} www.hosteriaposada.com.ar
            %a.mail-bullet{:href => "mailto:hosteriaposada@live.com"} hosteriaposada@live.com
            %a.mail-bullet{:href => "mailto:seba-1979@live.com.ar"} seba-1979@live.com.ar
        %li.bullet.datos
          %p
            %strong Hostería Los Pecanes
            %br/
            Dirección: Arroyo Felicaria y Canal Luciano
            %br/
            Teléfono: 4728-1932
            %a.web-bullet{:href => "http://www.hosterialospecanes.com"} www.hosterialospecanes.com
        %li.bullet.datos
          %p
            %strong Reserva La Juana
            %br/
            Dirección: Río Carabelas y Arroyo Toledo
            %br/
            Teléfonos: 4702-5686 // 15-5568-6332
            %a.web-bullet{:href => "http://www.reservalajuana.com.ar"} www.reservalajuana.com.ar
            %a.mail-bullet{:href => "mailto:info@reservalajuana.com.ar"} info@reservalajuana.com.ar
        %li.bullet.datos
          %p
            %strong La Becasina Delta Lodge
            %br/
            Dirección: Arroyo Las Cañas
            %br/
            Teléfonos: 4728-1253 // 4328-2687
            %a.web-bullet{:href => "http://www.labecasina.com"} www.labecasina.com
            %a.mail-bullet{:href => "mailto:reservas@labecasina.com"} reservas@labecasina.com
        %li.bullet.datos
          %p
            %strong Camping Cielo
            %br/
            Dirección: Río Carabelas
            %br/
            Teléfonos: 4728-1345 // 4582-4897 // 15-5647-7423
        %li.bullet.datos
          %p
            %strong Cabañas Puerto La Pista
            %br/
            Dirección: Paraná de las Palmas Km 60
            %br/
            Teléfono: 4728-2108
            %a.web-bullet{:href => "http://www.puertolapista.com"} www.puertolapista.com
            %a.mail-bullet{:href => "mailto:info@puertolapista.com"} info@puertolapista.com