.top.top-section
  %h1 INDUSTRIA NÁUTICA
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/industrianautica1.jpg")
            .ph
              = image_tag("sections/industrianautica2.jpg")
            .ph
              = image_tag("sections/industrianautica3.jpg")
            .ph
              = image_tag("sections/industrianautica4.jpg")
          / END SLIDER
        .data
          %p
            El sector náutico es una de las principales actividades económicas del partido, motivo por el cual San Fernando es considerada la Capital Nacional de la Náutica.
            Según el último Relevamiento de Industria y Comercio realizado en San Fernando durante 2010, funcionan 196 locales de la rama industrial, comercial y de servicio vinculados las sector náutico. Es decir, representan el 4,3% del total de los establecimientos económicos del partido.
            Forman parte de este sector los astilleros, talleres navales, servicio de reparaciones navales, fabricación de embarcaciones de material plástico, venta de embarcaciones nuevas y usadas, comisionistas navales, más sus actividades complementarias realizadas dentro de los clubes y guarderías como son los restaurantes, estaciones de servicios y salones de fiestas.
            El 57% de los locales de la náutica se encuentran ubicados en la zona no ribereña (pero aledaña) y estos, mayormente, se dedican a la  mediana producción  y la actividad comercial. El otro 43%, se hallan en la zona ribereña y se relacionan directamente con los servicios náuticos y complementarios y con las grandes producciones.
          %h4 Empleo calificado
          %p
            Esta actividad ocupa entonces 1539 puestos de trabajo directos y declarados, lo que significa que el 5,6% de la población ocupada del partido está abocada a dicha actividad lo que demuestra la incidencia y la importancia sectorial de la actividad náutica en el distrito.
            Este tipo de actividades requiere de personal calificado para logran un buen desempeño, ya sea en los oficios para la producción industrial (mecánicos, matriceros, soldadores, herreros, pulidores, electricistas, pintores, carpinteros, modelistas, loneros, costureros, sanitaristas, caldeleros, cobreros, torneros, fresadores, remachadores, etcétera), como en las especialidades  necesarias para los puestos de índole comercial y de servicio.
            Como Capital Nacional de la Náutica, la ciudad ofrece a sus jóvenes la posibilidad de estudiar en la Escuela Técnica Nº 2 la Tecnicatura Naval y continuar capacitando en nivel superior con la carrera de Arquitectura Naval que la Universidad de Quilmes dicta en el Centro Universitario Municipal ubicado en Virreyes. De esta manera, los jóvenes se capacitan con un perfil profesional de amplia salida laboral e la zona y las empresas locales cuentan con mano de obra altamente calificada.