.row-fluid.subtitle
  %h1 Ingresos Semestrales
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h4 Descargar archivo
        .download
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/system/pdf/ingresos-semestrales-2012-2014.pdf"} Ingresos Semestrales 2012 - 2014.pdf