.row-fluid.subtitle
  %h1 MEDIO AMBIENTE
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/medioambiente1.jpg")
        / END SLIDER
      .data
        %p A través del  Área de Investigación y Cuidado de los Recursos Naturales, San Fernando Municipio cuida el medio ambiente con diferentes programas y acciones:
        %h4 CONTRALOR y DESARROLLO INDUSTRIAL
        %ul
          %li.bullet
            %p Censo de Industrias.
          %li.bullet
            %p Auditorías de Certificado de Aptitud Ambiental.
          %li.bullet
            %p Censo de estaciones de servicio y bocas de expendio, insular y continental.
          %li.bullet
            %p Certificación de Censo de Riesgo.
          %li.bullet
            %p Tramitación de la Ley 11.459.
          %li.bullet
            %p Reempadronamiento de industrias.
        %h4 PLANIFICACIÓN TERRITORIAL Censo de antenas insular y continental.
        %ul
          %li.bullet
            %p Evaluación de impacto ambiental.
          %li.bullet
            %p Control de conexión a la red cloacal; seguimiento de vuelcos clandestinos.
          %li.bullet
            %p Depresión de napas.
        %h4 RESERVA DE BIOSFERA DELTA DEL PARANÁ Comité de gestión de la reserva.
        %ul
          %li.bullet
            %p Articulación con organismos provinciales, nacionales y académicos, articulación con Unesco, MAB  e  Iberomab.
          %li.bullet
            %p Estudios de calidad de H²O.
          %li.bullet
            %p Recolección y selección de residuos.
          %li.bullet
            %p Capacitaciones y talleres.
          %li.bullet
            %p Gestión de sello de calidad productiva.
        %h4 ECOLOGÍA URBANA Controles por reclamos y operativos: aguas servidas, ruidos molestos, higiene urbana, olores y vuelcos clandestinos.
        %ul
          %li.bullet
            %p Control de plagas: desratización, detección del mosquito aedes y prevención del dengue.
          %li.bullet
            %p Programas de seleccionada y reciclaj: P.E.T., vidrio, papel, tapas de gaseosa, aceites.
          %li.bullet
            %p Forestación: inspecciones y reclamos, forestación participativa, proyectos de forestación.
        %h4 URBANISMO Y GEO-REFERENCIACIÓN
        %ul
          %li.bullet
            %p En proceso de elaboración de un mapa único del partido de San Fernando para salida grafica y mapa para asociar base de datos.
          %li.bullet
            %p Definición de indicadores, diseño de base de datos y elaboración de los siguientes mapas, en articulación con el programa municipal vih / sida:
          %li.bullet
            %p Realización (en proceso) de mapas donde se referencian y señalan los barrios del partido.
          %li.bullet
            %p Actualización y seguimiento de la información tanto en mapa como en base de datos, dicha actualización se esta llevando a cabo en articulación con la Unidad Municipal de Estadística y Censos (UMEC).
          %li.bullet
            %p Realización de mapas donde se referencian y señalan los barrios de emergencia del partido.
          %li.bullet
            %p Verificación dominial del catastro del Delta sanfernandino.
        %p
          Más información: 4725-1399.