.row-fluid.subtitle
  %h1 MEDIOS LOCALES
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h4 TELEVISIÓN
        %ul
          %li.bullet
            %p
              %strong SOMOS ZONA NORTE
              %br/
              Teléfono: 5530-4569
          %li.bullet
            %p
              %strong CANAL 5 TIGRE
              %br/
              Teléfono: 4740-6977
              %a.web-bullet{:href => "http://www.canal5tigretv.com.ar"} www.canal5tigretv.com.ar
          %li.bullet
            %p
              %strong ZONA NORTE VISION
              %br/
              Televisión por Internet
              %a.web-bullet{:href => "http://www.znvision.com.ar"} www.znvision.com.ar
        %h4 RADIOS
        %ul
        %h4 SAN FERNANDO
        %li.bullet
          %p
            %strong FM La Barca 88.3
            %br/
            %a.web-bullet{:href => "http://www.aranzazu.org.ar"} www.aranzazu.org.ar
        %li.bullet
          %p
            %strong FM Occidente 97.1
            %br/
            %a.web-bullet{:href => "http://www.occidentefm.com.ar"} www.occidentefm.com.ar
        %li.bullet
          %p
            %strong FM Fénix 93.1
            %br/
            %a.web-bullet{:href => "http://www.fmfenix.com.ar"} www.fmfenix.com.ar
        %li.bullet
          %p
            %strong FM San Javier 90.1
            %br/
            %a.web-bullet{:href => "http://www.radiosanjavier.com.ar"} www.radiosanjavier.com.ar
        %li.bullet
          %p
            %strong FM Rumbo 98.9
            %br/
            %a.web-bullet{:href => "http://www.facebook.com/fm-rumbo san-fernando"} www.facebook.com/fm-rumbo san-fernando
        %li.bullet
          %p
            %strong FM Encanto 89.7
            %br/
            %a.web-bullet{:href => "http://www.fmencanto.jindo.com"} www.fmencanto.jindo.com
        %h4 OTRAS RADIOS EN ZONA NORTE
        %li.bullet
          %p
            %strong FM Eco Delta 87.9
            %br/
            %a.web-bullet{:href => "http://www.fmecodelta.com.ar"} www.fmecodelta.com.ar
        %li.bullet
          %p
            %strong FM Delta 91.9
            %br/
            %a.web-bullet{:href => "http://www.fmdelta903.com"} www.fmdelta903.com
        %li.bullet
          %p
            %strong Radio Open 99.5
            %br/
            %a.web-bullet{:href => "http://www.open993fm.com.ar"} www.open993fm.com.ar
        %li.bullet
          %p
            %strong FM Lares 104.7
            %br/
            %a.web-bullet{:href => "http://www.fmlares.com.ar"} www.fmlares.com.ar
        %li.bullet
          %p
            %strong FM Simphony 91.3
            %br/
            %a.web-bullet{:href => "http://www.fm913.com.ar"} www.fm913.com.ar
        %li.bullet
          %p
            %strong FM Estilo 90.9
            %br/
            %a.web-bullet{:href => "http://www.estilofm.com.ar"} www.estilofm.com.ar
        %li.bullet
          %p
            %strong FM Canal Global 92.1
            %br/
            %a.web-bullet{:href => "http://www.galeon.com/mnproducciones"} www.galeon.com/mnproducciones
        %li.bullet
          %p
            %strong FM Signos 92.5
            %br/
            %a.web-bullet{:href => "http://www.fmsignos.com.ar"} www.fmsignos.com.ar
        %li.bullet
          %p
            %strong AM 1580 Radio Tradición
            %br/
            %a.web-bullet{:href => "http://www.amtradicion.com.ar"} www.amtradicion.com.ar
        %h4 GRÁFICA
        %ul
          %li.bullet
            %p
              %strong Propuesta Norte
              %br/
              Teléfono: 4731-9453
              %a.web-bullet{:href => "http://www.propuestanorte.com"} www.propuestanorte.com
          %li.bullet
            %p
              %strong Prensa Chica
              %br/
              Teléfono: 4717-1592
              %a.web-bullet{:href => "http://www.prensachica.com.ar"} www.prensachica.com.ar
          %li.bullet
            %p
              %strong Prensa Libre
              %br/
              Teléfono: 4794-4702
              %a.web-bullet{:href => "http://www.sprensalibre.com.ar"} www.sprensalibre.com.ar
          %li.bullet
            %p
              %strong Informe Metropolitano
              %br/
              Teléfono: 4796-7999
              %a.web-bullet{:href => "http://www.metropolitanoweb.com.ar"} www.metropolitanoweb.com.ar
          %li.bullet
            %p
              %strong Para Todos
              %br/
              Teléfono: 4799-3047
              %a.web-bullet{:href => "http://www.periodicoparatodos.com.ar"} www.periodicoparatodos.com.ar
          %li.bullet
            %p
              %strong Compromiso Social
              %br/
              Teléfono: 4700-1602
              %a.web-bullet{:href => "http://www.compromisosocial.com.ar"} www.compromisosocial.com.ar
          %li.bullet
            %p
              %strong Agencia Comunas
              %br/
              Teléfono: 4659-4109
              %a.web-bullet{:href => "http://www.agenciacomunas.com.ar"} www.agenciacomunas.com.ar
          %li.bullet
            %p
              %strong Lo Nuestro
              %br/
              Teléfono: 4794-6638
              %a.web-bullet{:href => "http://www.diariolonuestro.com.ar"} www.diariolonuestro.com.ar
          %li.bullet
            %p
              %strong El Medio
              %br/
              %a.web-bullet{:href => "http://www.elmedioonline.com.ar"} www.elmedioonline.com.ar
          %li.bullet
            %p
              %strong Clarín San Fernando / Tigre
              %br/
              Teléfono: 4309-7318
              %a.web-bullet{:href => "http://www.sanfernando.clarin.com"} www.sanfernando.clarin.com
          %li.bullet
            %p
              %strong La Nación Zonal
              %br/
              Teléfono: 4319-1730/35
              %a.web-bullet{:href => "http://www.lanacion.com.ar/suplementozonanorte"} www.lanacion.com.ar/suplementozonanorte
        %h4 INTERNET
        %ul
          %li.bullet
            %p
              %strong 168 Horas
              %br/
              %a.web-bullet{:href => "http://www.168horas.com.ar"} www.168horas.com.ar
          %li.bullet
            %p
              %strong Mundo Norte
              %br/
              %a.web-bullet{:href => "http://www.mundonorte.com.ar"} www.mundonorte.com.ar
          %li.bullet
            %p
              %strong Norte en Línea
              %br/
              %a.web-bullet{:href => "http://www.norteenlinea.com.ar"} www.norteenlinea.com.ar
          %li.bullet
            %p
              %strong Zona Norte Digital
              %br/
              %a.web-bullet{:href => "http://www.zonanortedigital.com"} www.zonanortedigital.com
          %li.bullet
            %p
              %strong Zona Norte Diario
              %br/
              %a.web-bullet{:href => "http://www.zonanortediario.com.ar"} www.zonanortediario.com.ar
          %li.bullet
            %p
              %strong NorteUrbano Edición Digital
              %br/
              %a.web-bullet{:href => "http://www.norteurbano.com.ar"} www.norteurbano.com.ar
          %li.bullet
            %p
              %strong San Fernando Clarín
              %br/
              %a.web-bullet{:href => "http://http://sanfernando.clarin.com"} http://sanfernando.clarin.com
          %li.bullet
            %p
              %strong Con Tinta Norte
              %br/
              %a.web-bullet{:href => "http://www.contintanorte.com.ar"} www.contintanorte.com.ar
          %li.bullet
            %p
              %strong El Comercio Online
              %br/
              %a.web-bullet{:href => "http://www.elcomercioonline.com.ar"} www.elcomercioonline.com.ar
          %li.bullet
            %p
              %strong INFOBAN
              %br/
              %a.web-bullet{:href => "http://www.infoban.com.ar"} www.infoban.com.ar
          %li.bullet
            %p
              %strong 24 Con
              %br/
              %a.web-bullet{:href => "http://www.24con.infonews.com"} www.24con.infonews.com