.top.top-section
  %h1 NIVEL INICIAL, PRIMARIO Y SECUNDARIO
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/unidadesdedesarrollo.jpg")
          / END SLIDER
        .data
          %p
            San Fernando Municipio acompaña a toda la comunidad educativa de la ciudad, fortaleciendo los vínculos entre la política educativa local,
            provincial y nacional, gestionando pasantías laborales en el Municipio para jóvenes del último año del nivel Secundario, otorgando becas en colegios
            privados del distrito, apoyando a las familias para afrontar el año escolar con la entrega de útiles y guardapolvos, mediando entre el sector de
            responsabilidad civil de las empresas y las escuelas, y recuperando la historia y el patrimonio de San Fernando.
            Dos importantes líneas de acción de destacan en el trabajo que el Municipio despliega en estos niveles de enseñanza:
          %ul
            %li.bullet
              %p
                %strong Proyecto Granja Educativa "San Francisco de Asís":
                %br/
                con el objetivo de que los niños y jóvenes de las escuelas desarrollen nuevas habilidades participando en  tareas como sembrar, cosechar,
                limpiar, alimentar, entre otras actividades, y que adquieran una vivencia directa con la cría de animales, cuidado de huerta orgánica
                y fabricación de compost.
            %li.bullet
              %p
                %strong Centros Educativos Integrales Municipales:
                %br/
                espacio de fortalecimiento para niños de 6 a 13 años, en contraturno con la escuela, brindando actividades de refuerzo y seguimiento
                escolar. Además, brindan talleres de expresión artística y orientación a las familias.
          %p Más información: Constitución 1044, San Fernando. Tel. 4725-3500 – 4725-3188 – 4746-5600