.top.top-section
  %h1 OBRAS PÚBLICAS
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/obraspublicas1.jpg")
          / END SLIDER
        .data
          %p
            San Fernando Municipio está trabajando de manera comprometida para que los vecinos comiencen a comprobar que la ejecución de las obras en el
            distrito mejora verdaderamente su calidad de vida.
            %br/
            %br/
            En relación al reordenamiento urbano, trabajamos para urbanizar y reordenar los barrios de emergencia a través de la infraestructura,
            los servicios básicos y la regularización dominial para cada sector del distrito.
          %h4 OBRAS QUE YA HICIMOS
          %ul
            %li.bullet
              %p Remodelamos y acondicionamos el Balneario Municipal para las Colonias 2012.
            %li.bullet
              %p
                Concluimos con la primera etapa de puesta en valor de las cinco Unidades de Desarrollo Infantil Don Mariano,
                Villa Jardín, Virgen de Luján, Santa Catalina y Villa del Carmen.
            %li.bullet
              %p 1º etapa del acondicionamiento de la Escuela de Boxeo.
            %li.bullet
              %p
                Remodelación y acondicionamiento del edificio provisorio del IUNA: la infraestructura del lugar en donde estaba
                funcionando era deficiente y se encontraba obsoleta para un servicio educativo de esa envergadura; por lo que decidimos trasladar en forma provisoria
                las actividades a un nuevo edificio sito en Belgrano 748,
                en donde los alumnos podrían concurrir a clase sin ningún tipo de riesgo y en condiciones de salubridad y sanidad para todos.
            %li.bullet
              %p Reconstruimos el adoquinado de la calle Lavalle entre Junín y Colón.
            %li.bullet
              %p Acondicionamiento edilicio en Bilioteca Madero para acceso de personas con movilidad reducida.
          %h4 OBRAS QUE ESTAMOS HACIENDO
          %ul
            %li.bullet
              %p
                Nuevo destacamento policial en el barrio Crisol, en las intersecciones de la Av. Sobremonte con Martín Rodríguez,
                incluirá presencia permanente de efectivos y colocación de cámaras de seguridad.
            %li.bullet
              %p Remodelación Plaza Dorrego. Un espacio público que contará con más equipamiento urbano, más iluminación y nuevos sectores para grandes y chicos.
            %li.bullet
              %p Puesta en valor de edificios municipales.
            %li.bullet
              %p 2º etapa del reacondicionamiento de las Unidades de Desarrollo Infantil municipales y de los Centros de Estudios Multidisciplinarios (CEM). Calefacción en todos los edificios.
            %li.bullet
              %p Sigue adelante la construcción de la Terapia Intensiva Pediátrica en el Hospital Doña Petrona V. de Cordero.
          %h4 OBRAS A INICIAR EN EL 2012
          %ul
            %li.bullet
              %p Obra Túnel Ruta 202. Es una obra que se realiza con fondos provinciales. A fines de Marzo comienza la construcción del obrador y los cateos.
            %li.bullet
              %p Dos túneles en distintos puntos del distrito. Se construirán con fondos municipales. Nos encontramos trabajando en los proyectos y evaluando las posibilidades de ubicación.
            %li.bullet
              %p Plan de Remodelación Integral del Canal de San Fernando. Un nuevo proyecto que le dará vida a la zona, mejorará los flujos de circulación vehicular y aportará nuevos espacios verdes.
            %li.bullet
              %p Nuevo Centro de Salud Crisol con fondos municipales. Una nueva Sala Materno Infantil que servirá para mejorar los procesos de atención y seguimiento de las embarazadas y los niños recién nacidos.
            %li.bullet
              %p Unidad de Pronta Atención (UPA). Se construirá con fondos provinciales y funcionará como un nuevo centro de complejidad intermedia que colabore a descomprimir la guardia del hospital.
            %li.bullet
              %p Con fondos municipales pondremos en marcha un Plan de remodelación de entradas y vías de acceso al partido. Parquización y equipamiento urbano.
          %h4 PROYECTOS
          %ul
            %li.bullet
              %p Nuevo edificio para el IUNA y dependencias municipales.
            %li.bullet
              %p Parque Industrial y Tecnológico de San Fernando.
            %li.bullet
              %p 2º etapa Remodelación calle Constitución.
            %li.bullet
              %p Construcción Comisaría y Fiscalía de la mujer.
            %li.bullet
              %p Construcción de espacio recreativo para la tercera edad.
            %li.bullet
              %p Construcción de edificio para la Unidad de Desarrollo Infantil de Villa del Carmen.
            %li.bullet
              %p Construcción CEDEC Nº 3 en el Balneario Municipal.
            %li.bullet
              %p Puesta en valor de la Iglesia Nuestra Señora de Aranzazu.
            %li.bullet
              %p Remodelación integral de las plazas La Unión, Villa del Carmen, Santa Lucía y San Martín.
            %li.bullet
              %p Entubamiento zanjón Fate.