.row-fluid.subtitle
    %h1 OFICINA DE TURISMO
    .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
    .news-inside
        .item
            .data
                %ul
                    %li.bullet.datos
                        %p
                            %strong OFICINA DE TURISMO
                            %br/
                            Dirección: Rosario 1000 (Estación Tren de la Costa de San Fernando, sede del Ctro .Cultural el Andén)
                            %br/
                            Teléfonos: 4580-5682
                            %br/
                            E-mail: turismo@sanfernando.gov.ar
        .item
            .data
                %h1 OBJETIVO DEL ÁREA DE TURISMO
                %p 
                    Lograr que San Fernando sea un destino turístico con identidad propia, competitivo, equilibrando los posibles impactos negativos y donde los sanfernandinos se sientan anfitriones de los visitantes que llegan a nuestro Municipio. Y además:
                    %br/
                    %br/
                    1. Ofrecer una variada oferta turística cultural.
                    %br/
                    %br/
                    2. Consolidar y desarrollar los productos que forman parte de la Fortaleza de San Fernando: *Capital Nacional de la Náutica, *Reserva de Biósfera y *Ciudad Bicentenaria.
                    %br/
                    %br/
                    3. Generar productos y servicios que sean de calidad acorde a los diferentes segmentos de demanda.
                    %br/
                    %br/
                    4. Crear nuevos polos de atracción turística.
                    %br/
                    %br/
                    5. Preservar, poner en valor el Patrimonio histórico, cultural y natural.
                    %br/
                    %br/
                    6. Incrementar la demanda y  el nivel de satisfacción de los visitantes que llegan a nuestro Municipio.
                    %br/
                    %br/
                    7. Incrementar el nivel de comunicación, y conectividad en el destino San Fernando tanto en la  porción continental como en la insular.
                    %br/
                    %br/
                    8. Lograr que los visitantes pernocten un mayor período de tiempo e incrementen de este modo el gasto en nuestro destino.
                    %br/
                    %br/
                    9. Incrementar la capacitación de los recursos humanos para lograr la mejor satisfacción de los ítems anteriormente mencionados.
                    %br/
                    %br/
                    10. Lograr la satisfacción entre los residentes locales.
                    %br/
                    %br/
                    11. Estimular y fortalecer emprendimientos locales sustentables.
                    %br/
                    %br/
                    12. Fortalecer el sector público, privado y mixto.
                    %br/
                    %br/
                    13. Lograr una coordinación eficiente en el sector público relacionada con la actividad turística cultural.
                    %br/
                    %br/
                    14. Articular y coordinar con el sector privado.
