.row-fluid.subtitle
  %h1 OFICINAS MUNICIPALES
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
.news-inside
  .item
    .data
      %ul
        %li.bullet.datos
          %p
            %strong MUNICIPALIDAD DE SAN FERNANDO
            %br/
            Dirección: Madero 1218
            %br/
            Teléfonos: 4744-7777 / 0800-777-6864
        %li.bullet.datos
          %p
            %strong HONORABLE CONCEJO DELIBERANTE
            %br/
            Dirección: 3 de Febrero 1074
            %br/
            Teléfonos: 4746-5436/4260/6325 / 4715-1940
        %li.bullet.datos
          %p
            %strong CONSEJO ESCOLAR
            %br/
            Dirección: Belgrano y Avellaneda
            %br/
            Teléfonos: 4744-0136/5890
        %li.bullet.datos
          %p
            %strong CENTRO DE ZOONOSIS
            %br/
            Dirección: Malvinas Argentinas 3100
            %br/
            Teléfono: 4580-5732
        %li.bullet.datos
          %p
            %strong DIRECCIÓN DE TURISMO
            %br/
            Teléfono: 4746-2146
        %li.bullet.datos
          %p
            %strong SUBSECRETARÍA DE CULTURA
            %br/
            Dirección: Libertador 600 (esquina General Pintos)
            %br/
            Teléfonos: 4746-2507/2146 / 4580-5729
        %li.bullet.datos
          %p
            %strong DIRECCION GENERAL DE COMUNICACIÓN SOCIAL, PRENSA Y DIFUSION
            %br/
            Teléfono: 4746-1388
        %li.bullet.datos
          %p
            %strong DEPORTES
            %br/
            Teléfono: 4744-4933
        %li.bullet.datos
          %p
            %strong JUVENTUD
            %br/
            Teléfono: 4744-4314
        %li.bullet.datos
          %p
            %strong SECRETARIA AREA INTENDENTE
            %br/
            Teléfonos: 4744-4345 / 4744-1491
        %li.bullet.datos
          %p
            %strong SECRETARIA DE ECONOMÍA
            %br/
            Teléfonos: 4744-7112/ 4091
        %li.bullet.datos
          %p
            %strong SECRETARIA DE GOBIERNO
            %br/
            Teléfonos: 4746-1961 / 4744-4545
        %li.bullet.datos
          %p
            %strong MEDIO AMBIENTE
            %br/
            Teléfonos: 4725-1688/1461
        %li.bullet.datos
          %p
            %strong SECRETARIA DE OBRAS E INFRAESTRUCTURA PUBLICA
            %br/
            Teléfonos: 4746-1660/1465/1884
        %li.bullet.datos
          %p
            %strong SUBSECRETARIA DE PLANIFICACIÓN TERRITORIAL TIERRAS Y VIVIENDAS
            %br/
            Teléfonos: 4746-2907 / 4580-5723
        %li.bullet.datos
          %p
            %strong CONTADURIA MUNICIPAL
            %br/
            Teléfonos: 4744-9680/9851
        %li.bullet.datos
          %p
            %strong TESORERIA MUNICIPAL
            %br/
            Teléfono: 4746-3217
        %li.bullet.datos
          %p
            %strong SECRETARIA DE DESARROLLO SOCIAL,  SALUD Y MEDIO AMBIENTE
            %br/
            Teléfonos: 4744-3792/2840/3952
        %li.bullet.datos
          %p
            %strong OFICINA DE INGRESOS PUBLICOS
            %br/
            Teléfono: 4746-7128
        %li.bullet.datos
          %p
            %strong PREVENCION Y ORDEN URBANO
            %br/
            Teléfono: 0800-777-2878
        %li.bullet.datos
          %p
            %strong VERIFICACION TECNICA VEHICULAR (VTV)
            %br/
            Dirección: Colón 881
            %br/
            Teléfono: 4725-1254
        %li.bullet.datos
          %p
            %strong REGISTRO PROVINCIAL DE ARBA
            %br/
            Teléfono: 4744-1909
        %li.bullet.datos
          %p
            %strong CENTRO DE ORIENTACION SOCIAL
            %br/
            Teléfonos: 4725-1647 / 4746-4523
        %li.bullet.datos
          %p
            %strong OFICINA MUNICIPAL DE INFORMACION AL CONSUMIDOR (OMIC)
            %br/
            Dirección: Madero y General Arias
            %br/
            Teléfonos: 4580-5681/2
        %li.bullet.datos
          %p
            %strong UNIDAD MUNICIPAL DE ESTADÍSTICA Y CENSOS (UMEC)
            %br/
            Dirección: Ayacucho 1554
            %br/
            Teléfono: 4746-1082
        %li.bullet.datos
          %p
            %strong CENTRO MUNICIPAL DE ATENCIÓN AL VECINO
            %br/
            Dirección: Madero 1218 (PB)
            %br/
            Teléfonos: 0800-777-6864 / 4746-3690/3684
        %li.bullet.datos
          %p
            %strong CENTRO EX COMBATIENTES
            %br/
            Teléfono: 4725-5481
        %li.bullet.datos
          %p
            %strong CONSEJO DEL PARTIDO
            %br/
            Teléfono: 4725-3664
        %li.bullet.datos
          %p
            %strong CENTRO UNIVERSITARIO
            %br/
            Teléfono: 4575-3261
        %li.bullet.datos
          %p
            %strong MUSEO DE LA CIUDAD SAN FERNANDO DE LA BUENA VISTA
            %br/
            Dirección: Ituzaingó 1053
            %br/
            Teléfono: 4580–5686