.row-fluid.subtitle
    %h1 OFICINA DE TURISMO
    .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
    .news-inside
        .item
            .data
                %ul
                    %li.bullet.datos
                        %p
                            %strong OFICINA DE TURISMO
                            %br/
                            Dirección: Rosario 1000 (Estación Tren de la Costa de San Fernando, sede del Ctro .Cultural el Andén)
                            %br/
                            Teléfonos: 4580-5682
                            %br/
                            E-mail: turismo@sanfernando.gov.ar