.row-fluid.subtitle
  %h1
    OFICINA MUNICIPAL DE ATENCIÓN AL CONSUMIDOR
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %p
          Las Oficinas de Información al Consumidor (OMIC) se dedican a la atención directa de los consumidores y usuarios donde
          informan y orientan sobre sus derechos, educando en materia de consumo, en forma absolutamente gratuita. Estas dependencias del
          Gobierno Provincial ejercen las funciones emergentes de la Ley Nacional Nº 24.240 de "Defensa del Consumidor" y de la Ley Provincial Nº 13.133,
          "Código de Implementación de los derechos de los Consumidores y Usuarios", encargadas de aplicar los procedimientos y las sanciones allí previstas,
          por infracciones cometidas dentro de la jurisdicción de sus partidos.
          %br/
          %br/
          En San Fernando esta oficina funciona desde principios del año 2006, con la función de ejercer el control de los precios acordados
          entre el gobierno y las grandes cadenas de supermercados instaladas en la ciudad.
          Para acercar inquietudes o realizar reclamos, los vecinos pueden llamar al 4580- 5682 en el horario de 8 a 14 horas, o escribir a
          %a.link{:href => "mailto:omic@sanfernando.gov.ar"} omic@sanfernando.gov.ar.