.row-fluid.subtitle
  %h1 NACIMIENTO DEL MUNICIPIO DE SAN FERNANDO
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/origenes1.jpg")
          .ph
            = image_tag("sections/origenes2.jpg")
        / END SLIDER
      .data
        %h4 PALACIO MUNICIPAL
        %p
          El edificio de la Municipalidad comenzó a construirse en el año 1873 bajo la dirección del Arquitecto José  Mairanes. La albañilería estuvo a cargo del señor Clemente Olivera y la carpintería de  Esteban Salas. Fue inaugurado en el año 1876 durante la intendencia del señor Felipe Vela.
          La construcción es de estilo ecléctico y si bien aún conserva la fachada original, el interior fue remodelado en varias oportunidades a fin de hacerlo más funcional.
          En sus instalaciones, durante algunos años, funcionaron la Biblioteca y Museo Popular Juan Nepomuceno Madero, en algunos salones de la planta baja hasta que se mudaron a su actual edificio de la calle Constitución, en la esquina General Pinto.   Posteriormente y hasta 1973, sesionó el Honorable Concejo Deliberante.
          En el frente de entrada se puede observar el Escudo Municipal, aprobado por Decreto del HCD en el año 1938.
        %h4 ANTECEDENTES DEL RÉGIMEN MUNICIPAL
        %p
          Durante el período hispánico y los primeros años de la etapa revolucionaria hasta 1821, la administración y el gobierno municipal en toda la provincia de Buenos Aires estaban en manos de los
          %strong Cabildos.
          Éstos eran únicamente dos: el de la ciudad capital (fundado en 1580) y el de la Villa de Nuestra Señora de Luján (creado en 1755).
          De esta manera, el territorio que actualmente constituye el partido de San Fernando se encontraba entonces bajo la autoridad del cuerpo capitular porteño. En las poblaciones y campañas sobre las que tenía jurisdicción, el Cabildo de Buenos Aires delegaba su autoridad en un
          %strong Alcalde de Hermandad.
          De esta manera, los Alcaldes de Hermandad de San Fernando ejercían autoridad judicial de primera instancia sobre los delitos, tales como: abigeato, salteamiento de caminos, incendio de campos, violaciones, etc. En tanto, la autoridad civil era ejercida por los comandantes militares, quienes asumieron prácticamente la suma del poder local. En San Fernando, hubo dos comandantes militares:
          %strong Carlos Belgrano
          (1806-1812) y
          %strong Francisco de Uzal
          (1812-1822).
          En 1822, se dictó una ley por la cual se suprimieron estos cargos y también los Alcaldes de la Hermandad, que fueron sustituidos por jueces de primera instancia y por jueces de Paz, que reunían la autoridad civil y judicial, tanto en la ciudad como en la campaña. Esta norma se dispuso hasta que se sancionara una Ley de las Municipalidades, aspecto que se concretó recién en 1854.
          Entre 1822 y 1854, el partido de San Fernando estuvo bajo la autoridad de los jueces de Paz, designados anualmente por el gobernador de la provincia, sin intervención popular alguna. El primer Juez de Paz de San Fernando fue
          %strong José María Escobar.
          Si bien la Ley de Municipios se sancionó en 1854, el régimen de gobiernos locales a través de cuerpos colegiados tardó en implementarse: por algunos años más, los jueces de Paz continuaron siendo la máxima autoridad, hasta que dicho cargo fue suprimido en 1883.
        %h4 SAN FERNANDO Y EL REGIMEN MUNICIPAL
        %p
          Separado de la Confederación Argentina, el Estado de Buenos Aires sancionó su Constitución el 11 de abril de 1854. En la misma, se preveía la instalación del régimen municipal en todo el territorio bonaerense.
          La ley sancionada el 11 de octubre de ese mismo año, señalaba que el régimen económico y administrativo de cada uno de los distritos de la provincia estaría a cargo de una Municipalidad, integrada por un Juez de Paz, cuatro vecinos propietarios del distrito y dos suplentes. Los límites de cada municipio serían fijados por el Poder Ejecutivo de la provincia.
          Por mandato constitucional, los municipales debían ser elegidos directamente por el pueblo y reunir las siguientes condiciones: ser propietario de un inmueble; tener más de 25 años o ser emancipado; y poseer un capital de no menos de 10 mil pesos, o bien, una profesión, arte u oficio que le diera una renta equivalente. El Juez de Paz sería el presidente del cuerpo, siendo elegido por el Poder Ejecutivo de una terna que cada Municipalidad elevaría anualmente. Para su aprobación, el presupuesto de gastos y el cálculo de recursos anuales deberían ser elevados a la Legislatura provincial.
          De esta manera, San Fernando pasó a tener el mismo régimen que los demás distritos de la campaña. Este régimen provocó un crecimiento demográfico acompañado del inicio de la urbanización y del desarrollo del liberalismo romántico.
          Por entonces, San Fernando tenía una tasa de expansión superior a la del total de la provincia y a la de la Capital, pero inferior a la del conjunto de la campaña. Si bien la Ley Orgánica de 1854 rigió en la ciudad capital hasta 1865, continuó regulando la administración municipal de los partidos bonaerenses por varios años más.
          %br/
          En 1870, la flamante ley suprema bonaerense proyectaba un profundo cambio en el régimen municipal de la provincia, consagrando la
          %strong autonomía municipal.
          Estableció al municipio-partido aún vigente, la elección popular de los municipales, la facultad de darse su presupuesto y cálculo de los recursos anuales, de nombrar y remover a sus empleados, etc.
          En los inicios del año 1876, las cámaras legislativas sancionaron una Ley Orgánica Municipal. Este cuerpo normativo dio fuerza imperativa a lo programado por la Constitución de 1873, y fue algo más amplio en materia de autonomía y descentralización.
          Sucesivamente, se promulgaron dos leyes muy importantes para los municipios. Una fue la ley del 11 de diciembre de 1884 y la otra fue la Ley Orgánica de las Municipalidades el 16 de marzo de 1886. De acuerdo con la primera de estas normativas, los jueces de Paz no serían más presidentes ni integrantes de los municipios, y se reducían a sus funciones judiciales de menor cuantía. Por su parte, los municipios tendrían un miembro más y elegirían en su seno a un presidente de la corporación comunal, sin intervención del Poder Ejecutivo de la provincia. De esta manera, se crearon las Comisiones Municipales, encabezadas por un Intendente Presidente. El primer presidente del Municipio de San Fernando fue
          %strong José León Vela.
          Por su parte, la Ley Orgánica de las Municipalidades de 1886 aportó un cambio revolucionario en la administración de los distritos de la provincia. La norma, que comenzó a regir a mediados de ese año, instauró por primera vez el sistema de un
          %strong Departamento Deliberativo
          (a cargo de un Concejo Deliberativo, cuyos miembros serían elegidos directa y popularmente) y otro
          %strong Ejecutivo.
          desempeñado por un intendente municipal. Según el artículo 3° de esta ley, el Intendente sería designado por los municipales y tendría un período gubernamental de un año, pudiendo ser reelecto si la población urbana del partido fuera superior a los 3.000 habitantes. Por otra parte, las atribuciones de las municipalidades aumentaban significativamente: en materia financiera, se aumentaron sus recursos y se las autorizó a darse sus propios presupuestos y sus cálculos de recursos anuales con autonomía.
          Dentro de la renovadora ley de 1886,
          %strong San Fernando gozaba de la máxima autonomía municipal prevista,
          dado que registraba una población urbana de 3.128 habitantes (asentados exclusivamente en la localidad cabecera, de 37 km2). Su intendente sería nombrado por el Concejo Deliberativo de entre sus miembros y le correspondían cuatro municipales.
          Tras la sanción de la Ley Orgánica de las Municipalidades, tuvieron lugar nuevas elecciones municipales el 5 de diciembre de 1886. San Fernando citó a los sufragantes en la Parroquia Nuestra Señora de Aranzazu desde muy temprano. Sin embargo, nadie preveía que grupos armados del partido “Pacista” estaban estratégicamente ubicados fuera del lugar con la intención de desbaratar el escrutinio y perjudicar a los candidatos. Cuando los fiscales se disponían a dar comienzo al acto electoral en el atrio de la Iglesia, repentinamente se desencadenó el fuego cruzado y posteriormente una tragedia.
          Por estos trágicos sucesos, el gobierno de la intervención provincial (encabezado por Lucio V. López) designó a don Arístides Sacriste como comisionado municipal para San Fernando, quien sólo gobernó un mes. Lo reemplazó una junta de vecinos notables, entre los que se encontraban: Antonio Obligado, M. Cúneo, Juan Manuel Marana, Julio Núñez, Bernardo Garay, Joaquín Belgrano, Vicente Gandolfo, Jorge Wilson, Gregorio Quirno Costa y José de Marzi, entre otros.
          Recién el 27 de noviembre de 1887, se pudieron elegir las autoridades municipales y del Concejo Deliberativo por primera vez. Tras imponerse en elecciones limpias y pacíficas,
          %strong Santiago Albarracín
          (hombre público sanfernandino) se constituyó como el primer intendente del Partido de San Fernando.