.top.top-section
  %h1 PREVENCIÓN DE ADICCIONES
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %p San Fernando Municipio ofrece diferentes espacios para el tratamiento y la prevención de las adicciones:
          %ul
            %li.bullet
              %p
                %strong Atención de consultas, orientación y derivación
                Horario
                %br/
                de atención: Lunes a Viernes de 8 a 16 hs. en Henri Dunant 1369, Virreyes.
                %br/
                Teléfono
                4580-5738
            %li.bullet
              %p
                %strong Talleres de calidad de vida en escuelas públicas y privadas del distrito.
            %li.bullet
              %p
                %strong Talleres de Habilidades para la Vida en organizaciones de la comunidad.
            %li.bullet
              %p
                %strong Encuentro de Redes.
            %li.bullet
              %p
                %strong Casa de Día para Adolescentes – Programa Despegar.
                %br/
                Espacio de contención para jóvenes y adolescentes de entre 11 y 21 años con problemas de consumo
                de alcohol y otras drogas, que estén en condiciones de sostener un abordaje ambulatorio socio-educativo.
                %br/
                Funciona de lunes a viernes de 9 a 13 hs. en Cordero 2046,  Virreyes. Tel.: 4575-3262
                %br/
                FB: CasadeDía ParaAdolescentes
            %li.bullet
              %p
                %strong Grupos Codo a Codo de apoyo para personas con problemas de adicciones:
                %br/
                espacios grupales de contención primaria para personas con problemas de adicción al alcohol y otras drogas, y para familiares de personas drogadependientes.
          %h4 Horarios grupos codo a codo – 2012
          %table
            %tr
              %th DIA
              %th HORARIO
              %th SEDE
              %th OPERADOR
            %tr
              %td LUNES
              %td Familia: 16 hs. Jóvenes: 17.30 hs.
              %td Parroquia Itatí (Calle 23 y Gandolfo)
              %td Hernán Rondán / Sergio Vidal.
            %tr
              %td{:style => "width:13%;"} MIÉRCOLES
              %td Jóvenes: 17.30 hs.
              %td CIC Villa Jardín
              %td Hernán Rondán / Claudio Fernández.
            %tr
              %td MIÉRCOLES
              %td Jóvenes: 10:30 hs.
              %td Patronato de Liberados Deleg. San Fernando
              %td Sergio Vidal
            %tr
              %td MIÉRCOLES
              %td Detenidos: 16 hs.
              %td Comisaría 4ta de San Fernando.
              %td Carlos Cabrera / Claudio Fernández.
            %tr
              %td VIERNES
              %td Jóvenes: 14.30 hs.
              %td Sede Henry Dunant 1369
              %td Hernán Rondán / Claudio Fernández
            %tr
              %td SÁBADO
              %td Jóvenes y Familias: 17 hs.
              %td Casa de Día Cordero 2046, Virreyes
              %td Carlos Cabrera