.top.top-section
  %h1 PROGRAMA MUNICIPAL DE VIH/SIDA
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %h4 PROGRAMA MUNICIPAL DE VIH/SIDA
          %p
            San Fernando Municipio, a través de la Secretaría de Desarrollo Social, Medio Ambiente y Salud Pública, lleva adelante el Programa
            Municipal de VIH/SIDA destinado a contribuir en la prevención, investigación, capacitación, promoción social, comunicación y asistencia en
            cuestiones vinculadas a la infección por VIH/SIDA, a través de un equipo interdisciplinario de profesionales, voluntarios y  promotores de
            salud especializados en la temática.
            %br/
            %br/
            Desde un trabajo interdisciplinario, el Programa  Muncipal de VIH/SIDA desarrolla diferentes actividades y servicios para los vecinos,
            poniendo especial hincapié en la prevención y la no-discrimianción asociada al VIH, que consideramos la "verdadera enfermedad":
          %h4 ASESORAMIENTO Y TEST PARA VIH
          %ul
            %li.bullet
              %p Información y Asesoramiento gratuito y confidencial en todos los Centros de Salud.
            %li.bullet
              %p Equipos interdisciplinarios de Asesoramiento especializados en la temática.
            %li.bullet
              %p Asesoramiento y Testeo para VIH en Centros de Salud de las diferentes zonas del distrito para el mejor acceso de los vecinos (ver Calendario 2012)
          %p
            El test para VIH es gratuito, voluntario y confidencial. Es la única manera de conocer nuestra condición frente al VIH y consiste en uan simple extracción de sangre sin ayuno previo
            y una cahrla de informativa y de orientación a cargo de un referente capacitado en la temática.
          %h4 PRESERVATIVOS
          %ul
            %li.bullet
              %p
                Distribución de Preservativos gratuitos en todo el distrito a través de dispensadores ubicados en los diferentes Centros de Salud y otras dependencias municipales,
                para que el acceso sea simple y sin intermediarios.
          %p El preservativo es el único método que previene la transmisión del VIH. Recomendamos usarlo siempre y en forma correcta.
          %h4 CHARLAS y TALLERES
          %ul
            %li.bullet
              %p Charlas, talleres y actividades preventivas dirigidas a la población en general.
            %li.bullet
              %p Charlas y talleres en colegios e instituciones.
            %li.bullet
              %p Entrega gratuita y distribución de material de prevención.
          %h4 PLANES SOCIALES
          %ul
            %li.bullet
              %p Asesoramiento en planes sociales y trÁmite de pensiones para personas que viven con VIH.
          %h4 ASISTENCIA Y ORIENTACIÓN
          %ul
            %li.bullet
              %p Orientación y apoyo psicológico, social, psicopedagógico y educacional.
            %li.bullet
              %p Asistencia personalizada para personas que viven con VIH.
          %h4 Más información:
          %ul
            %li.bullet
              %p
                %strong PROGRAMA MUNICIPAL DE VIH/SIDA
                %br/
                Dirección: Ayacucho 1432
                %br/
                Teléfonos: 4746-4523, 4725-1647
                %br/
                %a.web-bullet{:href => "mailto:vih@sanfernando.gov.ar"} vih@sanfernando.gov.ar
                FB: www.facebook.com/vihsanfernando
          %table
            %tr
              %th Centro de Testeo
              %th Dirección/Teléfono
              %th Días
              %th Horarios
              %th Referentes
            %tr
              %td Programa Municipal de VIH/Sida
              %td
                Ayacucho 1432
                %br/
                4746-4523
                %br/
                %a{:href => "mailto:vih@sanfernando.gob.ar"} vih@sanfernando.gob.ar
              %td Jueves
              %td 9 hs.
              %td
                Mariano Schettini
                %br/
                Verónica Halvey
                %br/
                Sebastián Vázquez Montoto
            %tr
              %td Centro de Salud Reinecke
              %td
                Alvear y Servetto
                %br/
                4746-3856
                %br/
                %a{:href => "mailto:csreinecke@sanfernando.gob.ar"} csreinecke@sanfernando.gob.ar
              %td Jueves
              %td 13 hs.
              %td
                Cynthia Sánchez
                %br/
                Gabriela Donda
                %br/
                Miguel Demski
            %tr
              %td Centro de Salud Di Mateo
              %td
                Sarmiento 3244
                %br/
                4744-1718
                %br/
                %a{:href => "mailto:csdimateo@sanfernando.gob.ar"} csdimateo@sanfernando.gob.ar
              %td Viernes
              %td 9 hs.
              %td
                Lidia Cáceres
                %br/
                María Elba Godoy
                %br/
                Maxi Anselmi
            %tr
              %td Centro de Salud Piaggi
              %td
                Málaga y Garibaldi
                %br/
                4714-7094
                %br/
                %a{:href => "mailto:cspiaggi@sanfernando.gob.ar"} cspiaggi@sanfernando.gob.ar
              %td Lunes
              %td 9 hs.
              %td
                Ma. Del Carmen De Filippis
                %br/
                Ana Falco
                %br/
                Patricia Sandoval
            %tr
              %td Centro de Salud María Isabel
              %td
                Arenales y Suipacha
                %br/
                4746-1941
                %br/
                %a{:href => "mailto:csmariaisabel@sanfernando.gob.ar"} csmariaisabel@sanfernando.gob.ar
              %td Viernes
              %td 13 hs
              %td
                Pablo Reyes
                %br/
                Marisa Barroso
                %br/
                Patricia Blanco
            %tr
              %td Centro de Salud Nº 26
              %td
                Maipú 2354
                %br/
                4746-4132
                %br/
                %a{:href => "mailto:csnumero26@sanfernando.gob.ar"} csnumero26@sanfernando.gob.ar
              %td Miércoles
              %td 9 hs.
              %td
                Ma. Del Carmen De Filippis
                %br/
                Carolina Vila
                %br/
                Héctor Lois