.row-fluid.subtitle
  %h1 RESERVA DE BIOSFERA
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/reservadebiosfera1.jpg")
          .ph
            = image_tag("sections/reservadebiosfera2.jpg")
        / END SLIDER
      .data
        %p
          Las Reservas de Biosfera son zonas que pertenecen a ecosistemas terrestres o costeros, reconocidas por el programa internacional "El Hombre y la Biosfera" (MAB), promovido por la UNESCO para fomentar y mostrar una relación equilibrada entre la humanidad y el medio ambiente.
          Para la designación de Reservas de Biosfera, los distintos países proponen zonas de su territorio que cumplen con determinados criterios. Deben cumplir con tres funciones básicas y complementarias:
        %ul
          %li.bullet
            %p
              %strong CONSERVACIÓN:
              se necesita para contribuir a la conservación de paisajes, ecosistemas, especies y diversidad genética.
          %li.bullet
            %p
              %strong DESARROLLO:
              es fundamental para fomentar un desarrollo humano y económico ecológica y culturalmente sostenible que tenga, como principal objetivo la calidad de vida y el crecimiento de la población existente.
          %li.bullet
            %p
              %strong APOYO LOGISTICO:
              su importancia se basa en proporcionar los medios para la investigación científica, seguimiento, formación y educación relacionados a la conservación y desarrollo sostenible a escala local, regional, nacional y global.
        %p Esta dimensión humana de las Reservas de Biosfera, es lo que las hace distintas a las demás reservas naturales ya que, en conclusión, tienen como gestión establecer un pacto entre la población local y la sociedad en su conjunto.
        %p De esta manera, las Reservas de Biosfera son necesarias para:
        %ul
          %li.bullet
            %p Mantener ecosistemas sanos.
          %li.bullet
            %p Aprender sobre los sistemas naturales y cómo están cambiando.
          %li.bullet
            %p Aprender modos tradicionales de usos de territorio.
          %li.bullet
            %p Compartir los conocimientos sobre cómo gestionar los recursos naturales de un modo sostenible.
          %li.bullet
            %p Cooperar en la solución de problemas relacionados con el uso de los recursos naturales.
        %h4 LA RESERVA DE BIOSFERA DELTA DEL PARANÀ
        %p
          La incorporación del territorio del Delta de San Fernando a la Red Mundial de Reservas de Biosfera de la UNESCO se concretó el 10 de noviembre de 2000, durante la Reunión Anual del Consejo de Coordinación del Programa MAB (sobre el Hombre y la Biosfera), realizada en la sede de la UNESCO en París.
          %br/
          %br/
          Constituye una reserva de tercera generación. Dentro de esta categoría, se incluyen todas las reservas creadas a partir de 1995, año en que se desarrolló la Conferencia Internacional de Sevilla, donde se elaboró la denominada “Estrategia de Sevilla” y el Marco Estatutario de la Red Mundial de Reservas de Biosfera. En la Conferencia, se planteó la necesidad de revalorizar la dimensión humana y los vínculos entre la cultura y el ambiente. En este sentido, se señaló la importancia de fortalecer los lazos entre los habitantes y la administración de cada reserva, con la comunidad regional y los demás actores sociales que participan en los esfuerzos de conjugar conservación y desarrollo.
          %br/
          %br/
          El “Documento Base para la incorporación de las Islas de San Fernando en el marco de la Red Mundial de Reservas de Biosfera” fue elaborado por la Municipalidad de San Fernando, en conjunto con el Grupo de Investigación en Ecología de Humedales (GIEH) del Laboratorio de Ecología Ambiental y Regional, de la Facultad de Ciencias Exactas y Naturales (Universidad de Buenos Aires). La iniciativa contó con el apoyo y el auspicio de la Legislatura de la Provincia de Buenos Aires y de la Comisión de Ecología y Desarrollo Humano del Senado de la Nación, que promovieron las respectivas declaratorias de Interés Legislativo. Asimismo, el Estado Nacional Argentino -a través de la Secretaría de Ambiente y Desarrollo Sustentable, y de la Cancillería- efectuó la aprobación previa del proyecto y su posterior elevación al organismo internacional.
        %h4 CARACTERISTICAS DE LA RESERVA DE BIOSFERA DEL DELTA DEL PARANÀ
        %p
          Ubicada a menos de 50 km. del centro de la Ciudad de Buenos Aires, se encuentra debidamente resguardada por los canales del estuario del Río de la Plata y constituye un inmejorable espacio para llevar adelante los objetivos de conservación ambiental, desarrollo humano y apoyo logístico a la investigación.
          %br/
          %br/
          Se sitúa en la porción inferior del Bajo Delta del Río Paraná, en los 34° 15’ S y 58° 58’ W (centro geográfico). Posee una superficie de 88.624 hectáreas en la 2da. y 3ra. Sección de Islas del Delta, sumado a un crecimiento adicional de tierras aluvionales de unas 1.100 hectáreas en el sector frontal sobre el Río de la Plata.
          %br/
          %br/
          La superficie terrestre de la totalidad de la zona núcleo es de 10.594 hectáreas. La dimensión de la zona tampón es de 15.473 hectáreas, mientras que la extensión aproximada de la zona de transición es de 62.557 hectáreas.
          %br/
          %br/
          Para llevar a cabo las actividades complementarias de la conservación y el uso de los recursos naturales, las Reservas de Biosfera se dividen en tres tipos de zonas interrelacionadas:
          %strong una zona núcleo, una zona tampón o de amortiguación y una zona de transición.
          En la práctica, esta zonificación se aplica de diferentes maneras, a fin de adaptarse a las condiciones geográficas y limitaciones locales. Esta flexibilidad puede utilizarse en forma creativa y es uno de los puntos más fuertes del concepto de Reserva de Biosfera.
          %br/
          %br/
          %strong La Zona Núcleo
          se encuentra ubicada en el área de más reciente formación y menor grado de intervención humana, donde la mayor parte de las actividades productivas se encuentran inactivas en la actualidad. Se trata de un espacio que presenta una gran heterogeneidad del paisaje y una combinación de ambientes que -a través del análisis de aptitud de hábitat- resulta favorable para distintas especies de fauna, como: el Ciervo de los Pantanos (Blastocerus dichotomus), la Pava de Monte común (Penélope obscura), el Lobito de río (Lutra longicaudis), el Gato Montés (Felis geoffroyi) y el Carpincho (Hydrochaeris hydrochaeris). Dado que las dimensiones son compatibles con los requerimientos de hábitat de las principales especies, se considera que la zona núcleo propuesta es especialmente indicada para las funciones de conservación. En este sector, todavía se conservan una gran cantidad de parches relictuales de bosque nativo o selva ribereña (también denominado Monte Blanco) y de bosques de seibo en recuperación.
          %br/
          %br/
          %strong La Zona Tampón
          (que rodea la zona núcleo) tiene también condiciones apropiadas para la conservación y un menor grado de actividad antrópica (humana). Debido a las fases históricas de mayor actividad, ofrece en la actualidad una abundante infraestructura subutilizada, lo que le permite cumplir adecuadamente la función de apoyo logístico para la capacitación, la educación, la investigación y la observación permanente. Para el desarrollo de estas actividades, el Municipio de San Fernando lleva adelante el reacondicionamiento de esta infraestructura edilicia en el marco del “Programa de reconversión y optimización de uso y función de infraestructura edilicia pública existente”. El objetivo principal del mismo consiste en aprovechar las capacidades que el proceso de despoblamiento ha generado en la región. Se cuenta, así, con superficies cubiertas aptas para la instalación de laboratorios y alojamiento para los equipos técnicos y científicos, centros de visitantes, salas de interpretación y salones aptos para actividades de divulgación comunitaria. Asimismo, la construcción de dos complejos para refugio de evacuados, dentro del “Plan de Control de Inundaciones”, financiado por el Banco Mundial, incorpora nuevas capacidades en la localización del Pueblo Nueva Esperanza (Río Carabelas) y el Centro Municipal Felicaria (Arroyo Felicaria).
          %br/
          %br/
          En la Zona Tampón, también se desarrollan -con apoyo de la comuna- emprendimientos agrícolas ecológicamente sustentables, actividades artesanales y nuevos emprendimientos de eco-turismo.
          
          Por último,
          %strong la Zona de Transición
          presenta un variado cuadro de actividades humanas de distinto nivel de intensidad (forestal y actividad agropecuaria), que se encuentran en fases de producción activa o de recuperación. Este escenario brinda numerosas oportunidades para la implementación de planes demostrativos y piloto de desarrollo sustentable. En la misma, se desarrolla un paisaje con rasgos culturales propios (forestaciones comerciales, parcelas rurales, viviendas costeras, entre otros), lo que genera una identidad que se entronca con la historia de la región.
        %h4 USOS PERMITIDOS EN LA ZONA DE TRANSICIÒN
        %p
          En el territorio comprendido entre el límite oeste de la Zona Tampón, el Río Paraná Guazú, el Río Paraná Miní (hasta la desembocadura del Canal Nro. 4), el Canal de la Serna y el Río Paraná de las Palmas (hasta su desembocadura en el estuario del Río de la Plata), se admiten -dentro del uso dominante- las actividades forestales y fruti-hortícolas, sólo en una estructura productiva de quintas. En tanto, dentro del uso complementario, se permite el desarrollo de microemprendimientos rurales y de actividades artesanales; la instalación de viviendas de tipo unifamiliar y de asentamientos poblacionales permanentes; urbanizaciones náuticas, recreación, turismo ecológico, talleres y servicios vinculados a maquinarias rurales y embarcaciones.
          %br/
          %br/
          Por su parte, en el territorio comprendido entre el límite oeste de la sub-zona anterior y los límites del Distrito, el Río Paraná Guazú, el Canal Alem (Segunda Sección), el Río Carabelas y el Río Paraná de las Palmas, se autoriza la actividad ganadera y forestal, agropecuaria intensiva y extensiva como uso dominante. El uso complementario aceptado en este sector, contempla establecimientos industriales de procesamiento de la producción primaria, microemprendimientos rurales y de actividades artesanales, viviendas unifamiliares, asentamientos poblacionales permanentes, turismo ecológico, talleres y servicios vinculados a maquinarias rurales y embarcaciones.
        %h4 USOS PERMITIDOS EN LA ZONA DE AMORTIGUACIÒN (TAMPÒN)
        %p
          En esta zona, es posible ejecutar la mayoría de las actividades rurales, incluyendo las de transformación primaria. No obstante, es obligatorio efectuar consultas con los vecinos y con la autoridad de aplicación acerca de compatibilidad de estos usos con el criterio general de conservación.
          %br/
          %br/
          El artículo 29 establece que, en este sector, “sólo se admitirán usos forestales y agrícolas así como actividades artesanales que resulten compatibles con criterios de racionalidad ecológica y uso sustentable del soporte suelo. Queda expresamente prohibido, en esta zona, el uso de agroquímicos y otros fertilizantes artificiales. Previo a su aprobación, el modelo de producción deberá ser concertado con la autoridad ambiental municipal y las organizaciones representativas de productores de la región, y deberá permitir su seguimiento y monitoreo con fines educativos y de investigación”. Cabe aclarar aquí que la restricción sobre agroquímicos se refiere a aquellos productos de uso no permitido o prohibido por la Secretaría de Agricultura y Ganadería de la Nación.
          %br/
          %br/
          Los usos recreativos y de turismo ecológico también serán admisibles, si cumplen con las condiciones establecidas en el Capítulo IV (Urbanizaciones) del Decreto Reglamentario.
          Con respecto a las actividades productivas radicadas en esta zona, el Municipio otorga asistencia técnica y facilidades especiales a fin de que puedan ser certificadas en los términos establecidos por las Normas ISO 14.000 y de Calidad Total.
        %h4 USOS PERMITIDOS EN LA ZONA NUCLEO
        %p
          Se trata de la zona donde es necesario observar una conducta responsable respecto al medio natural, así como en relación con las actividades antrópicas que se pueden continuar ejecutando de acuerdo a la excepción establecida en el artículo 5.
          
          El artículo 28 señala que, en la Zona Núcleo, “no se efectuarán actividades comerciales, industriales, de extracción y/o procesamiento de productos naturales, ni se admitirán viviendas de uso permanente, a excepción del asentamiento de personas afectadas a los servicios de seguridad y de custodia del patrimonio natural. Queda asimismo prohibida toda actividad de implante artificial de especies vegetales en las tierras aluvionales con frente al estuario del Río de la Plata”.
          %br/
          %br/
          A fin de minimizar eventuales conflictos con la población de la zona, el diseño de los límites de la zona Núcleo se estableció dejando una franja de cien metros, a medir desde la costa de cursos de agua principales. De esta manera, las viviendas o las zonas de trabajo en el albardón próximo al curso de agua, quedarán dentro de la Zona de Amortiguación o Tampón. El relevamiento aerofotogramétrico e inventario forestal -efectuado en enero de 2002- ha confirmado la validez de este criterio. Es por ello que los límites definitivos de este sector quedarán sujetos a un proceso de revisión definitiva en el futuro.
          %br/
          %br/
          Los límites sobre la zona de avance aluvional han quedado establecidos por una poligonal georeferenciada, que recorre el frente de las parcelas identificadas en los planos de la Dirección Provincial de Geodesia de 1985. La estricta restricción respecto de implantes en las nueva tierras se origina en la necesidad de no alterar el análisis de la expansión natural del Delta en crecimiento. Además, estos suelos pertenecen a la Reserva Natural Integral “Delta en formación” (Decreto Provincial Nro. 1168/89 y Ley Provincial Nro. 12331/99).
        %h4 ¿QUE USOS NO ESTAN PERMITIDOS EN LA ZONA?
        %p
          En todo el territorio comprendido por la 2da. y la 3era. Sección de Islas del Delta del Paraná, quedan prohibidos aquellos usos y actividades que pudieran ocasionar un daño temporal o un perjuicio permanente al medio ambiente, en todo lo referente a la calidad del aire, el suelo, el agua (superficial o subterránea), la flora, la fauna, la población humana (estable o de tránsito), y el libre uso de las vías navegables (artículo 25 del Decreto Reglamentario).
          %br/
          %br/
          Asimismo, quedan prohibidos aquellos establecimientos que pudieran considerarse peligrosos porque elaboran y/o manipulan sustancias inflamables, corrosivas, de alta reactividad química, infecciosas, teratogénicas, mutagénicas, carcinógenas, radiactivas, y/o que generen residuos especiales, que pudieran constituir un riesgo para la población circundante u ocasionar daños graves a los bienes y al medio ambiente (artículo 32 del Decreto Reglamentario).
          %br/
          %br/
          El transporte de combustible sólo se encuentra permitido para vecinos y productores. En estos casos, el fluido debe ser trasladado en envases herméticos y tambores. En tanto, el transporte comercial en embarcaciones tanque queda bajo el control de la autoridad de aplicación (Secretaría de Energía) y de la Prefectura Naval, en circuitos restringidos a las bocas de expendio.