.top.top-section
  %h1 SALUD
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %ul
            %li.bullet.datos
              %p
                %strong SERVICIO DE AMBULANCIAS “SAN FERNANDO SALUD”
                %br/
                Teléfonos: 4549-0003 ó 107
            %li.bullet.datos
              %p
                %strong HOSPITAL PROVINCIAL “PETRONA V. DE CORDERO”
                %br/
                Dirección: Belgrano 1955
                %br/
                Teléfonos: 4744-5885/5883/2693
          %h4 CENTROS DE SALUD
          %ul
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD REINECKE
                %br/
                Dirección: Alvear y Servetto
                %br/
                Teléfono: 4746-3856
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD BERTRÉS
                %br/
                Dirección: Azcuénaga 1745
                %br/
                Teléfono: 4714-6214
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD CRISOL
                %br/
                Dirección: Martín Rodríguez y Tucumán
                %br/
                Teléfono: 4746-4126
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD FINOCHIETTO
                %br/
                Dirección: Ruta 202 KM 5
                %br/
                Teléfono: 4714-6492
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD PIAGGI
                %br/
                Dirección: Málaga y Garibaldi
                %br/
                Teléfono: 4714-7094
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD GÁLVEZ
                %br/
                Dirección: Portugal 2276
                %br/
                Teléfono: 4714-1664
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD MARÍA ISABEL
                %br/
                Dirección: Arenales 3220
                %br/
                Teléfono: 474-1941
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD DI MATEO
                %br/
                Dirección: Sarmiento 3244
                %br/
                Teléfono: 4744-1718
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD N° 26
                %br/
                Dirección: Maipú 2354
                %br/
                Teléfono: 4746-4132
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD N° 27
                %br/
                Dirección: 25 de Mayo 2290
                %br/
                Teléfono: 4744-3138
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD N° 31
                %br/
                Dirección: Garibaldi 2727
                %br/
                Teléfono: 4746-3921
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD N° 66
                %br/
                Dirección: Balcarce 2950
                %br/
                Teléfono: 4714-5159
            %li.bullet.datos
              %p
                %strong CENTRO INTEGRADOR COMUNITARIO
                %br/
                Dirección: Guatemala y Giachino
            %li.bullet.datos
              %p
                %strong UNIDAD SANITARIA LA UNIÓN
                %br/
                Dirección: Ituzaingó 3650
                %br/
                Teléfono: 4714-6861
            %li.bullet.datos
              %p
                %strong UNIDAD SANITARIA BARRIO MEJORAL
                %br/
                Dirección: Guido Spano 3134
                %br/
                Teléfono: 4744-9156
            %li.bullet.datos
              %p
                %strong UNIDAD SANITARIA SAN GINÉS
                %br/
                Dirección: Chacabuco 4450
                %br/
                Teléfono: 4575-3444
            %li.bullet.datos
              %p
                %strong UNIDAD SANITARIA BARRIO ALSINA
                %br/
                Dirección: La Plata 1242
                %br/
                Teléfono: 4746-4353
            %li.bullet.datos
              %p
                %strong CONSULTORIO MÉDICO MUNICIPAL
                %br/
                Dirección: Necochea 1398
                %br/
                Teléfono: 4744-4791
            %li.bullet.datos
              %p
                %strong INSTITUTO DE ORTODONCIA
                %br/
                Dirección: Necochea 1396
                %br/
                Teléfono: 4746-3472
            %li.bullet.datos
              %p
                %strong HOSPITAL DR. OSCAR DO PORTO
                %br/
                Dirección: Río Paraná de las Palmas y Río Carabelas
                %br/
                Teléfono: 4728-0026
            %li.bullet.datos
              %p
                %strong HOSPITAL DR. RENE FAVALO
                %br/
                Dirección: Río Paraná Miní y Canal 4
                %br/
                Teléfonos: 4728-1356/0270
            %li.bullet.datos
              %p
                %strong HOSPITAL DR. RAMÓN CARRILLO
                %br/
                Dirección: Río Paraná Miní y Arroyo Chaná
                %br/
                Teléfonos: 4728-1391/2434
            %li.bullet.datos
              %p
                %strong CENTRO DE SALUD ABSALÓN ROJAS
                %br/
                Dirección: Arroyo Felicaria
                %br/
                Teléfono: 4728-2386
            %li.bullet.datos
              %p
                %strong FONOTURNO
                %br/
                Turnos en los centros municipales
                %br/
                Teléfono: 0800-888-5566
            %li.bullet.datos
              %p
                %strong ALCOHOLICOS ANONIMOS
                %br/
                %a{:href => "http://www.aa.org.ar", :style => "margin:0"} www.aa.org.ar
                Dirección: Simón De Iriondo 1240, San Fernando
                %br/
                Teléfono: 4743-9584
            %li.bullet.datos
              %p
                %strong AREA DE PROMOCION Y PROTECCION DE DERECHOS
                %br/
                Teléfonos: 0800-444-3264
            %li.bullet.datos
              %p
                %strong PLAN DE ACCION MUNICIPAL SOBRE LA PROBLEMÁTICA DE LAS ADICCIONES
                %br/
                Teléfonos: 4744-4314 / 4580-5720
            %li.bullet.datos
              %p
                %strong PAMI
                %br/
                Teléfonos: 4580-5774/5775