		<div class="top top-section">
			<h1>SEGURIDAD</h1>
			<div class="cierre-oscuro"></div>
		</div>

<!-- LEFT --><div class="left">
			<div class="grid-8-12">
				<div class="news-inside">

					<div class="item">

		<!-- SLIDER --><div class="slider-contenido">
							<a href="#" class="prevContenido"></a>
							<a href="#" class="nextContenido"></a>
							<div class="container">
								<div class="ph">
									<img src="contenido/img/seguridadgobierno1.jpg" />
								</div>
							</div>
		<!-- END SLIDER --></div>

						<div class="data">
							<p>
							San Fernando Municipio lleva adelante una activa política integral de seguridad que acompaña y complementa el trabajo del Ministerio de 
							Seguridad y Justicia de la Provincia de Buenos Aires. Además de mejorar las condiciones de seguridad en la ciudad con calles transitables 
							y espacios públicos iluminados, implementa:</p>
							<ul>
								<li class="bullet"><p><strong>Móviles de Protección Ciudadana:</strong> íntegramente equipados con tecnología de primera línea, 24 horas al servicio de la comunidad, con personal municipal y policial trabajando en la prevención de faltas, ílicitos y brindando contención social.</p></li>
								<li class="bullet"><p><strong>Cámaras de Seguridad y Centro de Monitoreo: </strong>para la prevención del delito, detectando situaciones de riesgo, previniendo conductas que afecten la convivencia social y brindando valiosas imágenes que sirven de prueba a fiscalías y juzgados. En estos momentos, el Municipio analiza un nuevo sistema de redes que permita sumar más cámaras y toda la nueva tecnología existente al servicio de la seguridad, como por ejemplo, el botón antipánico.</p></li>
								<li class="bullet"><p><strong>Nueva Posta Policial para la Prevención en Barrio Crisol: </strong>ubicada en Sobremonte y Martín Rodríguez para acercar las fuerzas de seguridad a los vecinos. se colocará un alambrado perimetral y se parquizarán los terrenos de TBA para reforzar la presencia y el acompañamiento del Municipio en el barrio.</p></li>
								<li class="bullet"><p><strong>Operativos de control en la vía pública junto a la Dirección de Tránsito Municipal.</strong></p></li>
								<li class="bullet"><p><strong>Cuadras solidarias: </strong>vecinos organizados a través del programa municipal que promueve la seguridad a través de la participación ciudadana y la solidaridad en los barrios.</p></li>
							</ul>
							<h4>TELÉFONOS ÚTILES:</h4>
							<ul>
								<li class="bullet"><p>Emergencias Policiales: 911</p></li>
								<li class="bullet"><p>Prefectura Naval Argentina: 106</p></li>
								<li class="bullet"><p>Comisaría 1ª de San Fernando: 4580-0808/09/83/88.</p></li>
								<li class="bullet"><p>Comisaría 2ª de Virreyes: 4580-0881/0886.</p></li>
								<li class="bullet"><p>Comisaría 3ª de Victoria: 4580-0882/04/05.</p></li>
								<li class="bullet"><p>Comisaría 4ª de Virreyes Oeste: 4580-0801/02/03</p></li>
							</ul>
							
<!-- SHARE -->				<? include "inc/share.php";?>
						</div>
					</div>

<!-- END NEWS INSIDE --></div>
<!-- END GRID -->	</div>
<!-- END LEFT --></div>