.row-fluid.subtitle
  %h1 SEGURIDAD
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
.news-inside
  .item
    .data
      %ul
        %li.bullet.datos
          %p
            %strong SERVICIO DE PREVENCIÓN COMUNITARIA
            %br/
            Teléfono: 0800-777-2878
        %li.bullet.datos
          %p
            %strong COMISARÍA 1° DE SAN FERNANDO
            %br/
            Dirección: Perón 1052
            %br/
            Teléfonos: 4580-0808/09/83/88
        %li.bullet.datos
          %p
            %strong COMISARÍA 2° DE SAN FERNANDO - VIRREYES
            %br/
            Dirección: Sobremonte 2531- Virreyes
            %br/
            Teléfonos: 4580-0881/0806
        %li.bullet.datos
          %p
            %strong COMISARÍA 3° DE SAN FERNANDO - VICTORIA
            %br/
            Dirección: Lavalle 3129- Victoria
            %br/
            Teléfonos: 4580-0882/04/05
        %li.bullet.datos
          %p
            %strong SEGURIDAD E ISLAS
            %br/
            Cuartel Central
            %br/
            Teléfono: 4728-0041
        %li.bullet.datos
          %p
            %strong DTO ISLAS A° BORCHES
            %br/
            Dirección: Río Barquita y Río Grande
            %br/
            Teléfono: 4580-0784
        %li.bullet.datos
          %p
            %strong DTO ISLAS PARANA MINI
            %br/
            Dirección: Río Paraná Mini y Río Chaná
            %br/
            Teléfono: 4580-0783
        %li.bullet.datos
          %p
            %strong COMANDO PATRULLAS SAN FERNANDO
            %br/
            Dirección: Alvear 2700
            %br/
            Teléfonos: 4540-0880
        %li.bullet.datos
          %p
            %strong JEFATURA DISTRITAL
            %br/
            Dirección: Alvear y Suipacha, Barrio Infico
            %br/
            Teléfono: 4746-2800
        %li.bullet.datos
          %p
            %strong DEFENSA CIVIL
            %br/
            Dirección: Colón 917, San Fernando
            %br/
            Teléfonos: 103 / 4746-3224
        %li.bullet.datos
          %p
            %strong VIOLENCIA DOMÉSTICA
            %br/
            Teléfono: 0800-444-3264
        %li.bullet.datos
          %p
            %strong FISCALIA DE SAN FERNANDO
            %br/
            Dirección: 3 de febrero y Sarmiento
            %br/
            Teléfonos: 4725-1132/1135/1144
        %li.bullet.datos
          %p
            %strong PREFECTURA NAVAL DE LA NACIÓN
            %br/
            Dirección: 25 de Mayo y Río Luján
            %br/
            Teléfono: 106
        %li.bullet.datos
          %p
            %strong DIRECCIÓN DE SEGURIDAD DE ISLAS – DESTACAMENTO PARANÁ MINÍ
            %br/
            Teléfono: 4728-1883
        %li.bullet.datos
          %p
            %strong DIRECCIÓN DE SEGURIDAD DE ISLAS – DESTACAMENTO BORCHES
            %br/
            Teléfono: 4728-1884
        %li.bullet.datos
          %p
            %strong DIRECCIÓN DE SEGURIDAD DE ISLAS – DÁRSENA
            %br/
            Teléfono: 4580-5224
      %h4 BOMBEROS VOLUNTARIOS
      %ul
        %li.bullet.datos
          %p
            %strong EMERGENCIAS
            %br/
            Teléfono: 100
        %li.bullet.datos
          %p
            %strong DESTACAMENTO SAN FERNANDO
            %br/
            Dirección: Sede Central Constitución 72/84
            %br/
            Teléfonos: 4744-2222/23
        %li.bullet.datos
          %p
            %strong DESTACAMENTO VIRREYES
            %br/
            Dirección: Gandolfo y Rucci
            %br/
            Teléfono: 4725-2222