.row-fluid.subtitle
  %h1 SERVICIOS BÁSICOS
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
.news-inside
  .item
    .data
      %ul
        %li.bullet.datos
          %p
            %strong EDENOR
            %br/
            Dirección: Sarmiento 1342
            %br/
            Emergencias: 4346-8400
        %li.bullet.datos
          %p
            %strong AYSA
            %br/
            Dirección: Sobremonte 951
            %br/
            Atención Técnica (24hs):0800-321-AGUA (2482)
            %br/
            Atención Comercial (L a V de 8hs a 18hs):6333-AGUA (2482)
        %li.bullet.datos
          %p
            %strong GAS NATURAL
            %br/
            Teléfono: 0810-333-4622
        %li.bullet.datos
          %p
            %strong TELECOM
            %br/
            Dirección:
            %br/
            Teléfono: 0800-888-0606
        %li.bullet.datos
          %p
            %strong DIRECCIÓN PROVINCIAL DE RENTAS
            %br/
            Dirección: 3 de Febrero 967
            %br/
            Teléfonos:  4744-1909 (automotores) 4746-5881 (inmobiliarias)
        %li.bullet.datos
          %p
            %strong ANSES – UDAI San Fernando
            %br/
            Dirección: Simón de Iriondo 1310, Victoria
            %br/
            Teléfono: 0800-222-6737
        %li.bullet.datos
          %p
            %strong REGISTRO PROVINCIAL DE LAS PERSONAS
            %br/
            Dirección: Belgrano 2102
            %br/
            Teléfono: 4744-3253
        %li.bullet.datos
          %p
            %strong CORREO ARGENTINO
            %br/
            Dirección: Constitución 555, San Fernando Centro
            %br/
            Teléfono: 4725-2618
        %li.bullet.datos
          %p
            %strong AEROPUERTO DE SAN FERNANDO
            %br/
            Dirección: Ruta 202 y Balcarce
            %br/
            Teléfono: 4746-5700/5900
        %li.bullet.datos
          %p
            %strong LÍNEA DE TRANSPORTE URBANO
            %br/
            Teléfono: 4744-1749
        %li.bullet.datos
          %p
            %strong TREN DE LA COSTA
            %br/
            Teléfono: 4002-6400
        %li.bullet.datos
          %p
            %strong TBA – CENTRO DE ATENCIÓN AL PASAJERO
            %br/
            Teléfono: 0800-333-3822
        %li.bullet.datos
          %p
            %strong CEMENTERIO DE SAN FERNANDO
            %br/
            Dirección: Sobremonte 2750
            %br/
            Teléfono: 4725-1352 / 4744-6552