.row-fluid.subtitle
  %h1 SERVICIOS EDUCATIVOS
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/servicioseducativos1.jpg")
        / END SLIDER
      .data
        %p A través de la Unidad de Educación, Cultura y Contención Social, el Municipio brinda diferentes servicios educativos en todos los niveles de enseñanza, que van desde las Unidades de Desarrollo Infantil destinadas a niños con 18 meses de vida a 3 años, hasta carreras de nivel superior y de posgrado que se dictan en el Centro Universitario Municipal ubicado en Virreyes y en la sede local del Instituto Nacional de Artes Visuales (IUNA).
        %h4 Más información:
        %ul
          %li.bullet
            %p
              Dirección: Constitución 1044, San Fernando.
              Teléfonos
              %br/
              4725-3500 – 4725-3188 – 4746-5600