.row-fluid.subtitle
  %h1 Situaci贸n Econ贸mico-Financiera
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h4 Descargar archivo
        .download
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/system/pdf/situacion-economico-financiera-al-30-6-2014.pdf"} Situaci贸n Econ贸mico-Financiera al 30-6-2014.pdf