.row-fluid.subtitle
  %h1 TALLERES CULTURALES
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %p
          CENTRO CULTURAL EL ANDEN - Rosario 1000 esq. Madero - Tel. 4580-5737
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Marroquinería
              %td Rozas, Eduardo
              %td Lunes
              %td 14 a 16
            %tr
              %td Rap Freestyle
              %td Mansilla, Ezequiel
              %td Lunes
              %td 15 a 17
            %tr
              %td Batería
              %td Larreta, Maximiliano
              %td Lunes
              %td 15:30 a 17:30
            %tr
              %td Coro de niños y jóvenes
              %td Aguilera, Alfredo
              %td Lunes
              %td 17 a 18
            %tr
              %td Arte y juguetes
              %td Piriz, Paola
              %td Lunes
              %td 17 a 19
            %tr
              %td Dibujo y pintura
              %td Tucci, Ana
              %td Lunes
              %td 18 a 20
            %tr
              %td Fotografía
              %td Hasperué, Pedro
              %td Martes
              %td 17 a 19
            %tr
              %td A jugar con las palabras
              %td Piedrabuena, Florencia
              %td Martes
              %td 17 a 19
            %tr
              %td Teatro Infantil
              %td Sosa, Pablo
              %td Martes
              %td 17 a 19
            %tr
              %td Danza Contemporanea
              %td Guiraldi, Jesús
              %td Martes
              %td 19 a 21
            %tr
              %td Taller literario
              %td Piedrabuena, Florencia
              %td Martes
              %td 19 a 21
            %tr
              %td Narración oral para adultos
              %td Ronchi, Norma
              %td Martes
              %td 19 a 21
            %tr
              %td Dibujo, pintura e investigaciones visuales
              %td Sacco, Ramiro
              %td Martes
              %td 9:30 a 11:30
            %tr
              %td Dibujo y pintura
              %td Tucci, Ana
              %td Martes
              %td 9:30 a 11:30
            %tr
              %td Tejido a dos agujas
              %td Rocafull, Julia
              %td Miércoles
              %td 9:30 a 11:30
            %tr
              %td Diseño e interpretación de puntos
              %td Rocafull, Julia
              %td Miércoles
              %td 14 a 16
            %tr
              %td Canto (primer nivel)
              %td Bazzarelli, Andrea
              %td Miércoles
              %td 15 a 17
            %tr
              %td Canto (segundo nivel)
              %td Bazzarelli, Andrea
              %td Miércoles
              %td 17 a 19
            %tr
              %td Teatro adolescentes
              %td Merello, Marina
              %td Miércoles
              %td 16 a 18
            %tr
              %td Teatro adultos
              %td Merello, Marina
              %td Miércoles
              %td 18 a 20
            %tr
              %td Arte francés y manualidades
              %td Pérez, Adriana 
              %td Jueves
              %td 10 a 12
            %tr
              %td Diseño de accesorios y biyouterie Artesanal
              %td Tomatis, Fernanda
              %td Jueves
              %td 14 a 16
            %tr
              %td DJ de Hip-Hop
              %td Acosta, Daniel
              %td Jueves
              %td 16:30 a 18:30
            %tr
              %td 3,2,1 Rec
              %td Olivera, Gonzalo
              %td Jueves
              %td 17 a 20
            %tr
              %td Danzas folclóricas
              %td Mayer Urraca, Alejandro
              %td Jueves
              %td 17.30 a 19
            %tr
              %td Dibujo, pintura e investigaciones visuales
              %td Sacco, Ramiro
              %td Jueves
              %td 17:30 a 19:30
            %tr
              %td Flamenco y Ritmos zapateados
              %td Godoy, Cristian
              %td Jueves
              %td 19 a 21
            %tr
              %td Pintura sobre madera
              %td De Acetis, Cristina
              %td Viernes 
              %td 10 a 12
            %tr
              %td Telar
              %td Freixas, Florencia
              %td Viernes
              %td 10 a 12
            %tr
              %td Pintura sobre tela
              %td Gioco, Liliana
              %td Viernes
              %td 10 a 12
            %tr
              %td Serigrafía
              %td Petroni, Magdalena
              %td Viernes
              %td 14 a 17
            %tr
              %td Telar
              %td Freixas, Florencia
              %td Viernes
              %td 15 a 17
            %tr
              %td Guitarra y Charango (primer nivel)
              %td Navarro, Daniel
              %td Viernes
              %td 17 a 19
            %tr
              %td Folklore Estilizado
              %td Ziliani, Yamila
              %td Viernes
              %td 17 a 19
            %tr
              %td Tango
              %td Giménez, Virginia
              %td Viernes
              %td 19 a 21
            %tr
              %td Guitarra (segundo nivel) y Vientos
              %td Navarro, Daniel
              %td Viernes
              %td 19 a 21
            %tr
              %td Guitarra para niños
              %td Galindo, Sebastián
              %td Sábados
              %td 10 a 12
            %tr
              %td Canto expresivo (para cantantes)
              %td Casalinuovo, Federico
              %td Sábados
              %td 10 a 14
            %tr
              %td Taller creativo de Radio y locución (Espiker)
              %td Amica, Sebastián
              %td Sábados
              %td 11 a 13
            %tr
              %td Bombo leguero
              %td Velardi, Mariano
              %td Sábados
              %td 12 a 14
            %tr
              %td Vitreaux y tiffany
              %td Rositti, Oscar
              %td Sábados
              %td 13 a 18
            %tr
              %td Diseño de indumentaria
              %td Tomatis, Fernanda
              %td Sábados
              %td 14 a 16
            %tr
              %td Bajo
              %td Enriquez, Jano
              %td Sábados
              %td 16 a 18
            %tr
              %td Percusión - Cajón Peruano
              %td Martínez, Pedro
              %td Sábados
              %td 18:30 a 20:30
    .item
      .data
        %p
          MUSEO DE LA CIUDAD - Ituzaingó 1053 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Piano (Adultos  sin conocimiento)
              %td Maragliano, Ana
              %td Lunes
              %td 9 a 10
            %tr   
              %td Piano (Adultos y Jóvenes avanzados)
              %td Maragliano, Ana
              %td Lunes
              %td 10 a 11
            %tr   
              %td Composi. Fotogr. identidad y creatividad (+25 años)
              %td Cambieri, Cecilia
              %td Lunes
              %td 15:30 a 17:30
            %tr   
              %td Composi. Fotogr. identidad y creatividad  (18 a 25 años)
              %td Cambieri, Cecilia
              %td Miércoles
              %td 8:30 a 10:30
            %tr   
              %td Piano (12 a 20 años sin conocimiento)
              %td Maragliano, Ana
              %td Miércoles
              %td 13 a 14
            %tr   
              %td Piano (12 a 20 años avanzados)
              %td Maragliano, Ana
              %td Miércoles
              %td 14 a 15
            %tr   
              %td Piano (12 a 20 años sin conocimiento)
              %td Maragliano, Ana
              %td Viernes
              %td 16 a 17
            %tr   
              %td Piano (12 a 20 años avanzados)
              %td Maragliano, Ana
              %td Viernes
              %td 17 a 18
            %tr   
              %td Piano (7 a 12 años)
              %td Maragliano, Ana
              %td Viernes
              %td 18 a 19
            %tr   
              %td Piano (avanzados)
              %td Maragliano, Ana
              %td Viernes
              %td 19 a 20
            %tr   
              %td Piano (7 a 12 años)
              %td Maragliano, Ana
              %td Sábados
              %td 9 a 10
            %tr   
              %td Piano (Adultos  sin conocimiento)
              %td Maragliano, Ana
              %td Sábados
              %td 10 a 11
            %tr   
              %td Piano (Adultos y Jóvenes avanzados)
              %td Maragliano, Ana
              %td Sábados
              %td 11 a 12
    .item
      .data
        %p
          ASOCIACION VECINAL BARRIO CRISOL - Brandsen 3415 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %th Plástica
              %th Ciardelli, Sandra
              %th Martes
              %th 17:30 a 19:30
            %tr
              %th Plástica
              %th Ciardelli, Sandra
              %th Viernes
              %th 15:30 a 17:30
            %tr
              %th Plástica
              %th Ciardelli, Sandra
              %th Viernes
              %th 17:30 a 19:30
            %tr
              %th Coro abuelos
              %th Gamarra, Sandra
              %th Viernes
              %th 9:30 a 11:30
            %tr
              %th Danza árabe
              %th Leone, Gisela
              %th Jueves
              %th 17:30 a 19:30
            %tr
              %th Danzas folclóricas
              %th Pedemonte, Leonardo
              %th Lunes y Miércoles
              %th Lunes y Miércoles
            %tr
              %th Salsa y Bachata
              %th Ramirez, Eduardo
              %th Lunes
              %th 19 a 20
            %tr
              %th Canto
              %th Santillán. Olga
              %th Miércoles
              %th 19 a 21
    .item
      .data
        %p
          RED BARRIO SAN JOSÉ - Cerveto 650 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %th Danzas folclóricas
              %th Martínez, Franco
              %th Jueves
              %th 18 a 20
            %tr
              %th Narración oral para niños
              %th Ronchi, Norma
              %th Viernes
              %th 17 a 19
    .item
      .data
        %p
          CENTRO DE CIEGOS Y DISMINUIDOS VISUALES - Besares 1240 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %th Tango
              %th Báez, Oscar
              %th Lunes y jueves
              %th 13 a 15
            %tr
              %th Cestería
              %th Formoso, Susana
              %th Lunes
              %th 13 a 15
    .item
      .data
        %p
          CENTRO COMUNITARIO MARÍA ESTRELLA - Ayacucho y De Marzi -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %th Panadería
              %th Bigé, Carlos
              %th Martes
              %th 9 a 11
            %tr
              %th Dibujo y pintura para niños
              %th Capra, Ana Clara
              %th Martes
              %th 18 a 20
            %tr
              %th Bordado en cintas
              %th Gómez, Mirta
              %th Jueves
              %th 14 a 16
    .item
      .data
        %p
          CÍRCULO CATÓLICO - 3 de Febrero 842 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %th Repostería 
              %th Arcuri, Lina
              %th Jueves
              %th 17 a 19
            %tr
              %th Cocina
              %th Cejas, Claudia
              %th Jueves
              %th 15 a 17
    .item
      .data
        %p
          CLUB NUEVA VICTORIA - Simón de Iriondo 1823 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %th Tango 
              %th Conti, Marcela / Agnes, Agustín
              %th Martes
              %th 18 a 20
            %tr
              %th Danzas folclóricas
              %th Rivas, Susana
              %th Miércoles
              %th 16:30 a 18:30
            %tr
              %th Teatro Infantil
              %th Yunes, Virginia
              %th Jueves
              %th 18 a 20
    .item
      .data
        %p
          CLUB SIRIO LIBANÉS - Lavalle 690 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %th Circo integral 
              %th Dabruzzo, Hernan
              %th Martes y jueves
              %th 17 a 19
    .item
      .data
        %p
          Informes: Centro Cultural "El Andén" - Rosario y Madero (Estación San Fernando del Tren de la Costa) - 
          Tel. 4580-5737 - Inscripción: Centros Culturales Municipales de Lunes a Viernes de 10 a 18 hs.
        %p
          *Las incripciones para las Escuelas Municipales de Teatro y Comedia Musical se realizan en el Centro Cultural El Andén y en el Teatro Municipal Julio Martinelli de Lunes a Viernes de 10 a 17 hs.


