.row-fluid.subtitle
  %h1 TALLERES CULTURALES
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %p
          CENTRO CULTURAL EL ANDEN - Rosario 1000 esq. Madero - Tel. 4580-5737
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Marroquinería
              %td Rozas, Eduardo
              %td Lunes
              %td 14 a 16
            %tr
              %td Rap Freestyle
              %td Mansilla, Ezequiel
              %td Lunes
              %td 15 a 17
            %tr
              %td Batería
              %td Larreta, Maximiliano
              %td Lunes
              %td 15:30 a 17:30
            %tr
              %td Coro de niños y jóvenes
              %td Aguilera, Alfredo
              %td Lunes
              %td 17 a 18
            %tr
              %td Arte y juguetes
              %td Piriz, Paola
              %td Lunes
              %td 17 a 19
            %tr
              %td Dibujo y pintura
              %td Tucci, Ana
              %td Lunes
              %td 18 a 20
            %tr
              %td Fotografía
              %td Hasperué, Pedro
              %td Martes
              %td 17 a 19
            %tr
              %td A jugar con las palabras
              %td Piedrabuena, Florencia
              %td Martes
              %td 17 a 19
            %tr
              %td Teatro Infantil
              %td Sosa, Pablo
              %td Martes
              %td 17 a 19
            %tr
              %td Danza Contemporanea
              %td Guiraldi, Jesús
              %td Martes
              %td 19 a 21
            %tr
              %td Taller literario
              %td Piedrabuena, Florencia
              %td Martes
              %td 19 a 21
            %tr
              %td Narración oral para adultos
              %td Ronchi, Norma
              %td Martes
              %td 19 a 21
            %tr
              %td Dibujo, pintura e investigaciones visuales
              %td Sacco, Ramiro
              %td Martes
              %td 9:30 a 11:30
            %tr
              %td Dibujo y pintura
              %td Tucci, Ana
              %td Martes
              %td 9:30 a 11:30
            %tr
              %td Tejido a dos agujas
              %td Rocafull, Julia
              %td Miércoles
              %td 9:30 a 11:30
            %tr
              %td Diseño e interpretación de puntos
              %td Rocafull, Julia
              %td Miércoles
              %td 14 a 16
            %tr
              %td Canto (primer nivel)
              %td Bazzarelli, Andrea
              %td Miércoles
              %td 15 a 17
            %tr
              %td Canto (segundo nivel)
              %td Bazzarelli, Andrea
              %td Miércoles
              %td 17 a 19
            %tr
              %td Teatro adolescentes
              %td Merello, Marina
              %td Miércoles
              %td 16 a 18
            %tr
              %td Teatro adultos
              %td Merello, Marina
              %td Miércoles
              %td 18 a 20
            %tr
              %td Arte francés y manualidades
              %td Pérez, Adriana 
              %td Jueves
              %td 10 a 12
            %tr
              %td Diseño de accesorios y biyouterie Artesanal
              %td Tomatis, Fernanda
              %td Jueves
              %td 14 a 16
            %tr
              %td DJ de Hip-Hop
              %td Acosta, Daniel
              %td Jueves
              %td 16:30 a 18:30
            %tr
              %td 3,2,1 Rec
              %td Olivera, Gonzalo
              %td Jueves
              %td 17 a 20
            %tr
              %td Danzas folclóricas
              %td Mayer Urraca, Alejandro
              %td Jueves
              %td 17.30 a 19
            %tr
              %td Dibujo, pintura e investigaciones visuales
              %td Sacco, Ramiro
              %td Jueves
              %td 17:30 a 19:30
            %tr
              %td Flamenco y Ritmos zapateados
              %td Godoy, Cristian
              %td Jueves
              %td 19 a 21
            %tr
              %td Pintura sobre madera
              %td De Acetis, Cristina
              %td Viernes 
              %td 10 a 12
            %tr
              %td Telar
              %td Freixas, Florencia
              %td Viernes
              %td 10 a 12
            %tr
              %td Pintura sobre tela
              %td Gioco, Liliana
              %td Viernes
              %td 10 a 12
            %tr
              %td Serigrafía
              %td Petroni, Magdalena
              %td Viernes
              %td 14 a 17
            %tr
              %td Telar
              %td Freixas, Florencia
              %td Viernes
              %td 15 a 17
            %tr
              %td Guitarra y Charango (primer nivel)
              %td Navarro, Daniel
              %td Viernes
              %td 17 a 19
            %tr
              %td Folklore Estilizado
              %td Ziliani, Yamila
              %td Viernes
              %td 17 a 19
            %tr
              %td Tango
              %td Giménez, Virginia
              %td Viernes
              %td 19 a 21
            %tr
              %td Guitarra (segundo nivel) y Vientos
              %td Navarro, Daniel
              %td Viernes
              %td 19 a 21
            %tr
              %td Guitarra para niños
              %td Galindo, Sebastián
              %td Sábados
              %td 10 a 12
            %tr
              %td Canto expresivo (para cantantes)
              %td Casalinuovo, Federico
              %td Sábados
              %td 10 a 14
            %tr
              %td Taller creativo de Radio y locución (Espiker)
              %td Amica, Sebastián
              %td Sábados
              %td 11 a 13
            %tr
              %td Bombo leguero
              %td Velardi, Mariano
              %td Sábados
              %td 12 a 14
            %tr
              %td Vitreaux y tiffany
              %td Rositti, Oscar
              %td Sábados
              %td 13 a 18
            %tr
              %td Diseño de indumentaria
              %td Tomatis, Fernanda
              %td Sábados
              %td 14 a 16
            %tr
              %td Bajo
              %td Enriquez, Jano
              %td Sábados
              %td 16 a 18
            %tr
              %td Percusión - Cajón Peruano
              %td Martínez, Pedro
              %td Sábados
              %td 18:30 a 20:30
    .item
      .data
        %p
          MUSEO DE LA CIUDAD - Ituzaingó 1053 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Piano (Adultos  sin conocimiento)
              %td Maragliano, Ana
              %td Lunes
              %td 9 a 10
            %tr   
              %td Piano (Adultos y Jóvenes avanzados)
              %td Maragliano, Ana
              %td Lunes
              %td 10 a 11
            %tr   
              %td Composi. Fotogr. identidad y creatividad (+25 años)
              %td Cambieri, Cecilia
              %td Lunes
              %td 15:30 a 17:30
            %tr   
              %td Composi. Fotogr. identidad y creatividad  (18 a 25 años)
              %td Cambieri, Cecilia
              %td Miércoles
              %td 8:30 a 10:30
            %tr   
              %td Piano (12 a 20 años sin conocimiento)
              %td Maragliano, Ana
              %td Miércoles
              %td 13 a 14
            %tr   
              %td Piano (12 a 20 años avanzados)
              %td Maragliano, Ana
              %td Miércoles
              %td 14 a 15
            %tr   
              %td Piano (12 a 20 años sin conocimiento)
              %td Maragliano, Ana
              %td Viernes
              %td 16 a 17
            %tr   
              %td Piano (12 a 20 años avanzados)
              %td Maragliano, Ana
              %td Viernes
              %td 17 a 18
            %tr   
              %td Piano (7 a 12 años)
              %td Maragliano, Ana
              %td Viernes
              %td 18 a 19
            %tr   
              %td Piano (avanzados)
              %td Maragliano, Ana
              %td Viernes
              %td 19 a 20
            %tr   
              %td Piano (7 a 12 años)
              %td Maragliano, Ana
              %td Sábados
              %td 9 a 10
            %tr   
              %td Piano (Adultos  sin conocimiento)
              %td Maragliano, Ana
              %td Sábados
              %td 10 a 11
            %tr   
              %td Piano (Adultos y Jóvenes avanzados)
              %td Maragliano, Ana
              %td Sábados
              %td 11 a 12
    .item
      .data
        %p
          ASOCIACION VECINAL BARRIO CRISOL - Brandsen 3415 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Plástica
              %td Ciardelli, Sandra
              %td Martes
              %td 17:30 a 19:30
            %tr
              %td Plástica
              %td Ciardelli, Sandra
              %td Viernes
              %td 15:30 a 17:30
            %tr
              %td Plástica
              %td Ciardelli, Sandra
              %td Viernes
              %td 17:30 a 19:30
            %tr
              %td Coro abuelos
              %td Gamarra, Sandra
              %td Viernes
              %td 9:30 a 11:30
            %tr
              %td Danza árabe
              %td Leone, Gisela
              %td Jueves
              %td 17:30 a 19:30
            %tr
              %td Danzas folclóricas
              %td Pedemonte, Leonardo
              %td Lunes y Miércoles
              %td Lunes y Miércoles
            %tr
              %td Salsa y Bachata
              %td Ramirez, Eduardo
              %td Lunes
              %td 19 a 20
            %tr
              %td Canto
              %td Santillán. Olga
              %td Miércoles
              %td 19 a 21
    .item
      .data
        %p
          RED BARRIO SAN JOSÉ - Cerveto 650 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Danzas folclóricas
              %td Martínez, Franco
              %td Jueves
              %td 18 a 20
            %tr
              %td Narración oral para niños
              %td Ronchi, Norma
              %td Viernes
              %td 17 a 19
    .item
      .data
        %p
          CENTRO DE CIEGOS Y DISMINUIDOS VISUALES - Besares 1240 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Tango
              %td Báez, Oscar
              %td Lunes y jueves
              %td 13 a 15
            %tr
              %td Cestería
              %td Formoso, Susana
              %td Lunes
              %td 13 a 15
    .item
      .data
        %p
          CENTRO COMUNITARIO MARÍA ESTRELLA - Ayacucho y De Marzi -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Panadería
              %td Bigé, Carlos
              %td Martes
              %td 9 a 11
            %tr
              %td Dibujo y pintura para niños
              %td Capra, Ana Clara
              %td Martes
              %td 18 a 20
            %tr
              %td Bordado en cintas
              %td Gómez, Mirta
              %td Jueves
              %td 14 a 16
    .item
      .data
        %p
          CÍRCULO CATÓLICO - 3 de Febrero 842 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Repostería 
              %td Arcuri, Lina
              %td Jueves
              %td 17 a 19
            %tr
              %td Cocina
              %td Cejas, Claudia
              %td Jueves
              %td 15 a 17
    .item
      .data
        %p
          CLUB NUEVA VICTORIA - Simón de Iriondo 1823 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Tango 
              %td Conti, Marcela / Agnes, Agustín
              %td Martes
              %td 18 a 20
            %tr
              %td Danzas folclóricas
              %td Rivas, Susana
              %td Miércoles
              %td 16:30 a 18:30
            %tr
              %td Teatro Infantil
              %td Yunes, Virginia
              %td Jueves
              %td 18 a 20
    .item
      .data
        %p
          CLUB SIRIO LIBANÉS - Lavalle 690 -
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Circo integral 
              %td Dabruzzo, Hernan
              %td Martes y jueves
              %td 17 a 19
    .item
      .data
        %p
          Informes: Centro Cultural "El Andén" - Rosario y Madero (Estación San Fernando del Tren de la Costa) - 
          Tel. 4580-5737 - Inscripción: Centros Culturales Municipales de Lunes a Viernes de 10 a 18 hs.
        %p
          *Las incripciones para las Escuelas Municipales de Teatro y Comedia Musical se realizan en el Centro Cultural El Andén y en el Teatro Municipal Julio Martinelli de Lunes a Viernes de 10 a 17 hs.
    .item
      .data
        %p
          CENTRO CULTURAL MANUEL BELGRANO - Miguel Cané y Sgto. Díaz - Tel. 4746-4561     
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Crea tu duende
              %td Salcedo, Alejandra
              %td Lunes
              %td 10 a 12
            %tr
              %td Flores en telas y cintas  
              %td Gómez, Dolores  
              %td Lunes 
              %td 14 a 16
            %tr
              %td Tejido a dos agujas / Crochet 
              %td Barrientos, Marta 
              %td Lunes 
              %td 14 a 16
            %tr
              %td Teatro  
              %td Merello, Marina 
              %td Lunes 
              %td 16 a 18
            %tr
              %td Maquillaje artístico y murguero 
              %td Centracchio, Sofía  
              %td Lunes 
              %td 18 a 20
            %tr
              %td Hacé Revista (La revista de mi barrio) 
              %td Dall´occhio / Zappacosta  
              %td Lunes 
              %td 18 a 20
            %tr
              %td Zumba 
              %td Gamba, Alberto  
              %td Lunes y Miércoles 
              %td 8:30 a 10
            %tr
              %td Telar 
              %td Torrano, Ana  
              %td Martes  
              %td 9 a 11
            %tr
              %td Pintura sobre madera  
              %td De Acetis, Cristina 
              %td Martes  
              %td 14 a 16
            %tr
              %td Ensamble de Flautas y Guitarras para niños  
              %td Aguilera, Alfredo / Cola, Ariana 
              %td Martes  
              %td 16 a 18
            %tr
              %td Danzas folclóricas para niños 
              %td Martínez, Franco  
              %td Martes  
              %td 18 a 19
            %tr
              %td Danzas folclóricas  
              %td Martínez, Franco  
              %td Martes  
              %td 19 a 21
            %tr
              %td Canto 
              %td Bazzarelli, Andrea  
              %td Miércoles 
              %td 10 a 12
            %tr
              %td Entradas y licores  
              %td Arcuri, Lina  
              %td Miércoles 
              %td 14 a 16
            %tr
              %td Panadería 
              %td Cejas, Claudia  
              %td Miércoles 
              %td 16 a 18
            %tr
              %td Tango 
              %td Giménez, Virginia 
              %td Miércoles 
              %td 19 a 21
            %tr
              %td Pintura sobre tela  
              %td Gioco, Liliana  
              %td Jueves  
              %td 9 a 11
            %tr
              %td Corte y confección  
              %td Gómez, Mirta  
              %td Jueves  
              %td 11 a 13
            %tr
              %td Ornamentación para eventos  
              %td Ramirez, María Laura  
              %td Jueves  
              %td 14 a 16
            %tr
              %td Arte y juguetes (7 a 10 años) 
              %td Silva, Romina 
              %td Jueves  
              %td 16 a 18
            %tr
              %td Arte y juguetes (10 a 12 años)  
              %td Silva, Romina 
              %td Jueves  
              %td 18 a 20
            %tr
              %td Tejido a dos agujas / Crochet 
              %td Barrientos, Marta 
              %td Viernes 
              %td 9 a 11
            %tr
              %td Danza jazz infantil 
              %td Leone, Gisela 
              %td Viernes 
              %td 16 a 17
            %tr
              %td Danza árabe infantil  
              %td Leone, Gisela 
              %td Viernes 
              %td 17 a 18
            %tr
              %td Danza jazz  
              %td Leone, Gisela 
              %td Viernes 
              %td 18 a 19
            %tr
              %td Danza árabe 
              %td Leone, Gisela 
              %td Viernes 
              %td 19 a 20
            %tr
              %td Teatro infantil 
              %td Beltrame, Paola 
              %td Sábados 
              %td 14 a 16
            %tr
              %td Ensamble de percusión (Nivel inicial) 
              %td Martínez, Pedro 
              %td Sábados 
              %td 16 a 18
            %tr
              %td Guitarra  
              %td Olivera, Gonzalo  
              %td Sábados 
              %td 12 a 14
    .item
      .data
        %p
          BIBLIOTECA LEOPOLDO MURCHO - Nuestra Sra. Aranzazu 10-           
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Maquillaje y Manicuría  
              %td Ziliani, Yamila 
              %td Lunes 
              %td 18 a 20
            %tr
              %td Diseño Gráfico  
              %td Zagari, Mariano 
              %td Martes  
              %td 17 a 20
            %tr
              %td Astronomía  
              %td Caratozzolo, Vicente  
              %td Miércoles 
              %td 18:30 a 20:30
            %tr
              %td Informática 
              %td Machado, David  
              %td Jueves  
              %td 10 a 12
            %tr
              %td Flores en telas y cintas
              %td Gómez, Dolores  
              %td Jueves  
              %td 14 a 16
            %tr
              %td Hacé Revista (La revista de mi barrio)  
              %td Dall´occhio / Zappacosta  
              %td Jueves  
              %td 17 a 19
            %tr
              %td Taller creativo de Radio y locución (Espiker)
              %td Amica, Sebastián  
              %td Sábados 
              %td 14 a 16
    .item
      .data
        %p
          CENTRO DE EX COMBATIENTES - Av. Avellaneda 2080 -                
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Guitarra  
              %td Espinosa, Damian  
              %td Lunes 
              %td 18 a 20
            %tr
              %td Dibujo y pintura  
              %td Ruberto, Ana  
              %td Miércoles 
              %td 14 a 16
            %tr
              %td Danzas folclóricas  
              %td Rivas, Susana 
              %td Jueves  
              %td 18 a 20
            %tr
              %td Dibujo y pintura  
              %td Ruberto, Ana  
              %td Viernes 
              %td 14 a 16
    .item
      .data
        %p
          SOCIEDAD DE FOMENTO SAN GINÉS -Chacabuco 4463-                     
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Teatro adultos y adolescentes 
              %td Montefalcone / Portela 
              %td Martes  
              %td 13:30 a 15:30
            %tr
              %td Teatro adultos y adolescentes 
              %td Montefalcone / Portela 
              %td Miércoles 
              %td 18 a 20
            %tr
              %td Danza Contemporanea 
              %td Ramirez, Eduardo  
              %td Viernes 
              %td 16 a 18
    .item
      .data
        %p
          HOGAR ZANOCCHI -Kennedy 2041-                          
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Panadería
              %td Bigé, Carlos 
              %td Martes  
              %td 13:30 a 15:30
    .item
      .data
        %p
          Informes: Centro Cultural "El Andén" - Rosario y Madero (Estación San Fernando del Tren de la Costa) - 
          Tel. 4580-5737 - Inscripción: Centros Culturales Municipales de Lunes a Viernes de 10 a 18 hs.
        %p
          *Las incripciones para las Escuelas Municipales de Teatro y Comedia Musical se realizan en el Centro Cultural El Andén y en el Teatro Municipal Julio Martinelli de Lunes a Viernes de 10 a 17 hs.
    .item
      .data
        %p
          HOGAR ZANOCCHI -Kennedy 2041-                          
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Panadería  
              %td Bigé, Carlos  
              %td Lunes 
              %td 16:30 a 18:30
            %tr
              %td Crea tu duende  
              %td Salcedo, Alejandra  
              %td Lunes 
              %td 14:30 a 16:30
            %tr
              %td Circo   
              %td Senas, Maximiliano  
              %td Lunes 
              %td 16 a 18
            %tr
              %td Rap Freestyle 
              %td Mansilla, Ezequiel  
              %td Lunes 
              %td 18:30 a 20:30
            %tr
              %td Huerta y jardinería 
              %td Micelotta / Ortiz 
              %td Lunes 
              %td 15 a 17
            %tr
              %td Zumba 
              %td Gamba, Alberto  
              %td Martes y Jueves 
              %td 18 a 19:30
            %tr
              %td Decoración artesanal de tortas  
              %td Ramirez, María Laura  
              %td Martes  
              %td 14 a 17
            %tr
              %td Maquillaje artístico y murguero 
              %td Centracchio, Sofía  
              %td Martes  
              %td 17.30 a 19:30
            %tr
              %td Huerta y jardinería 
              %td Micelotta / Ortiz 
              %td Miércoles 
              %td 17 a 19
            %tr
              %td Ritmos Latinos  
              %td Ramirez, Eduardo  
              %td Miércoles 
              %td 19 a 21
            %tr
              %td Danza árabe 
              %td Aguirre, Almendra 
              %td Miércoles 
              %td 18 a 20
            %tr
              %td Bordado en lentejuelas  
              %td Collazo, Beatriz  
              %td Miércoles 
              %td 15 a 17
            %tr
              %td Telar 
              %td Torrano, Ana  
              %td Jueves  
              %td 14 a 16
            %tr
              %td Maquillaje y Manicuría  
              %td Ziliani, Yamila 
              %td Jueves  
              %td 14 a 16
            %tr
              %td Danzas folclóricas infantiles 
              %td Pedemonte, Leonardo 
              %td Jueves  
              %td 19:30 a 21:30
            %tr
              %td Tejido a dos agujas / Crochet 
              %td Barrientos, Marta 
              %td Viernes 
              %td 14:30 a 16:30
            %tr
              %td Porcelana fría  
              %td Diaz, Julia Margarita 
              %td Viernes 
              %td 15 a 17
            %tr
              %td Guitarra  
              %td Espinosa, Damian  
              %td Viernes 
              %td 17 a 19
            %tr
              %td Arte y juguetes 
              %td Silva, Romina 
              %td Viernes 
              %td 17:30 a 19:30
    .item
      .data
        %p
          ZONA IMAGINARIA -Chile 3386- (Villa Jardín)                              
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Canto
              %td Santillán, Olga / Duarte, Gabriel
              %td Martes  
              %td 17 a 19
    .item
      .data
        %p
          ZONA IMAGINARIA -Chile 3386- (Villa Jardín)                              
        %table.table.table-striped
          %thead
            %tr
              %th Taller
              %th Profesor
              %th Día
              %th Hora
          %tbody
            %tr
              %td Tango
              %td Giménez, Virginia
              %td Lunes  
              %td 19 a 21
            %tr
              %td Danzas folclóricas
              %td Martín, Silvina
              %td Jueves  
              %td 18 a 20
    .item
      .data
        %p
          Informes: Centro Cultural "El Andén" - Rosario y Madero (Estación San Fernando del Tren de la Costa) - 
          Tel. 4580-5737 - Inscripción: Centros Culturales Municipales de Lunes a Viernes de 10 a 18 hs.
        %p
          *Las incripciones para las Escuelas Municipales de Teatro y Comedia Musical se realizan en el Centro Cultural El Andén y en el Teatro Municipal Julio Martinelli de Lunes a Viernes de 10 a 17 hs.