.row-fluid.subtitle
  %h1 TALLERES CULTURALES
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %p
          La inscripción comienza el 26 de marzo en el Museo de San Fernando y las clases el 16 de Abril.
          %br/
          %br/
          Informes: 4580-5686 , Ituzaingo 1053
        %ul
          %li.bullet
            %h4 Chicos por la Fé: Barrio San José
            %p Canto/Guitarra/Teclado
          %li.bullet
            %h4 Red Barrial San José: Servetto y Marzi
            %p Narración Oral/ Folklore
          %li.bullet
            %h4 Centro María Estrella: De Marzi y Ayacucho
            %p Plástica Niños
          %li.bullet
            %h4 Casa del Tango: Ituzaingo 1149
            %p Danza Tango
          %li.bullet
            %h4 Hogar Zanoqui: Kennedy 2041
            %p Panadería/ Telar/Teatro
          %li.bullet
            %h4 Escuela Científico Basilio, Alsina 1550
            %p Dibujo y Pintura/ Tejidos a 2 Agujas
          %li.bullet
            %h4 Asoc Católica, 3 de Febrero 842
            %p Cocina
          %li.bullet
            %h4 Ateneo Esteban Echeverría, 25 de Mayo 1168
            %p Guitarra/ Charango
          %li.bullet
            %h4 Club San Fernando, Escalada y Sarmiento
            %p Fotografía
          %li.bullet
            %h4 Museo, Ituzaingo 1053
            %p Canto/ Piano
          %li.bullet
            %h4 Teatro Martín Fierro, Lavalle y Pasteur
            %p Coro Abuelos/Percusión
          %li.bullet
            %h4 Corazones de América, Pocitos 2449
            %p Tejidos a 2 agujas/ crochet
          %li.bullet
            %h4 Corazones de América, Pocitos 2449
            %p Tejidos a 2 agujas/ crochet
          %li.bullet
            %h4 Obrador
            %p Salsa/Telar/Teatro
          %li.bullet
            %h4 Unión R Vecinal Infico, Alvear 3028
            %p Folklore
          %li.bullet
            %h4 Biblioteca Murcho, Alvear 3032
            %p Informática/ Radio y Locución
          %li.bullet
            %h4 Centro de Día    Besares 1240
            %p Danza Tango/Cestería
          %li.bullet
            %h4 Taller Protegido
            %p Dibujo/ Canto
          %li.bullet
            %h4 Esc de Arte Raúl Silva
            %p Coro Infantil/ Teatro
          %li.bullet
            %h4 Soc Fomento Virreyes
            %p Guitarra/ Salsa
          %li.bullet
            %h4 C.E.M Nº 1, Pascuala de Uncal y 25 de Mayo
            %p Títeres/Plásticas
          %li.bullet
            %h4 Esc Nº 8
            %p Teatro/Folklore
          %li.bullet
            %h4 Asoc Vecinal Barrio Crisol, Brandsen 3415
            %p Danza Árabe/Dibujo/Pintura/Teatro
          %li.bullet
            %h4 Ex Combatiente, Avellaneda 2030
            %p Folklore/ Guitarra/Plásticas
          %li.bullet
            %h4 Esc Nº 4
            %p Fotografía/ Telar/ Folklore/Tango
          %li.bullet
            %h4 Esc Nº 36
            %p Teatro/ Efectos Especiales
          %li.bullet
            %h4 Biblioteca Moreau de Justo
            %p Crochet
          %li.bullet
            %h4 C.E.M.2, Gallo y Quintana
            %p Plásticas/Teatro
          %li.bullet
            %h4 Merendero 12 de Octubre, Hueyo y Pje González
            %p Títeres/ Teatro
          %li.bullet
            %h4 C.I.C, calle 26 y Guatemala:
            %p
              Plásticas Niños/Teatro/Guitarra/
              Folklore/Danza Árabe/Ritmo Latino
          %li.bullet
            %h4 C.P.C , Miguel Cané y Roberto Pairo
            %p
              Plásticas Niños/Teatro/Guitarra/
              Folklore/Danza Árabe/Ritmo Latino