.row-fluid.subtitle
  %h1 TEATROS DE SAN FERNANDO
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/teatros1.jpg")
        / END SLIDER
      .data
        %h4 TEATROS
        %ul
          %li.bullet
            %p
              %strong TEATRO MUNICIPAL Y CENTRO CULTURAL “JULIO MARTINELLI”
              %br/
              Ubicado en la calle Lavalle 3021, el teatro tiene capacidad para 200 personas que asisten a diversos espectáculos y funciones de Cineclub que organiza el Municipio. El centro cultural ofrece clases de teatro y otros talleres artísticos y culturales para vecinos y vecinas de todas las edades. En las instalaciones también funciona la Biblioteca Popular “Rómulo Naón”.
              Para más información, dirigirse al link
              %strong CENTROS CULTURALES
              en el menú Gobierno de esta Web.
          %li.bullet
            %p
              %strong ATENEO POPULAR “ESTEBAN ECHEVERRÍA”
              %br/
              Creado por un grupo de jóvenes en el año 1941, para formar un espacio de fomento de la cultura -junto con la Biblioteca y Museo Popular “Juan Nepomuceno Madero”-, el Ateneo está ubicado en la calle 25 de Mayo 1168. Desde su fundación se realizaron “Salones de Arte de San Fernando”, los que a partir de 1955, pasaron a llamarse “Salones de Otoño” y se desarrollaban anualmente. Fue visitado por personalidades como Santiago Chierico -autor del relieve escultórico que aún conserva el frente del edificio-, Alicia Moreau de Justo, el tenor italiano Schipa, y Jorge Luís Borges.