.top.top-section
  %h1 TORNEOS
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %ul
            %li.bullet
              %p
                %strong Liga de Fútbol 5 Infantil (LFI):
                %br/
                Esta abierta la inscripción. Participan clubes, sociedades de fomento, etc. Las categorías son 9 (tira completa) y van de la 1998 a la 2006.
                %br/
                %br/
                Se juega el “Apertura” del domingo 15 de abril hasta agosto, son aprox. 18 instituciones y juegan todos contra todos en sus canchas. Los domingos de 10 a 17,30 hs.
                %br/
                Al termino del Apertura se reacomodan en dos zonas según el puesto obtenido y juegan el “Clausura” con aprox. 8 fechas más. Finaliza a mediados de noviembre
            %li.bullet
              %p
                %strong Fútbol 11 Jóvenes:
                %br/
                Esta abierta la inscripción. Participan clubes, sociedades de fomento, asociaciones barriales, etc.
                %br/
                %br/
                Las categorías son: Infantiles (2000-01), Menores (98-99), Cadetes (96-97) y Juveniles (94-95)
                %br/
                Se inicia el “Apertura” el sábado 14 de abril, hasta agosto aprox.
                Juegan los sábados en el CEDEC Nº 2.
                Torneo “Clausura” se realizará en dos Zonas, según cantidad de inscriptos.
            %li.bullet
              %p
                %strong Fútbol 11 Veteranos:
                %br/
                Esta abierta la inscripción. Participan clubes, sociedades de fomento, asociaciones barriales, etc.
                %br/
                %br/
                La categoría es para nacidos en 1976 o antes (cumplen 36 años o más en el 2012).
                %br/
                Se juega el “Apertura” del domingo 15 de abril hasta agosto, son aprox. 20 instituciones y juegan todos contra todos. Los viernes de 20 a 22 hs en el CEDEC Nº 1 y los domingos de 9 a 14,00 hs. en los CEDEC Nº 1 y 2.
            %li.bullet
              %p
                %strong Torneos Intercolegiales Municipales
                %br/
                Participarán escuelas de gestión pública y privada de San Fernando en estos deportes:
                %br/
                %br/
                %strong Fútsal
                (Masc y Fem), Cadetes (96-97), Menores (98-99-2000). Para primaria la cat. Infantiles (2000-01). (Modalidad Escolar Abierta)
                %br/
                %br/
                %strong Fútbol Once
                (Masc), Juveniles
                %br/
                %br/
                %strong Handbol
                (Masc y Fem), Infantil, Menores, Cadetes y Juveniles
                %br/
                %br/
                %strong Voleibol
                (Masc y Fem), Infantil, Menores, Cadetes y Juveniles
                %br/
                %br/
                %strong Atletismo
                (Masc y Fem), Infantil y Menores
                %br/
                %br/
                %strong Hockey
                (Fem). Infantil, Menores, Cadetes y Juveniles
                %br/
                %br/
                Las categorías para secundarias son: Juveniles (94-95), Cadetes (96-97), Menores (98-99-2000). Para primaria la cat. Infantiles (2000-01).
                %br/
                %br/
                Modalidades: Infantiles y Menores es LIBRE, en Cadetes y Juveniles es NO FEDERADO (salvo en Fútsal (Modalidad Escolar Abierta)
                %br/
                %br/
              %ul
              %p Cierres de inscripción y periodo de juego:
            %li.bullet
              %p Fútbol: C.I. el viernes 18/5.  Juegan del 29/5 al 2/6, luego las finales.
            %li.bullet
              %p Voleibol: C.I. el miércoles 20/6. Juegan del 29/6 al 5/7, luego las finales.
            %li.bullet
              %p Handbol: C.I. el viernes 24/8. Juegan del 3 al 6 de septiembre, luego las finales.
            %li.bullet
              %p Atletismo y Hockey: Fechas a confirmar
          %li.bullet
            %p
              %strong
                Los Juegos BA 2012: La información completa (reglamentos, Listas de Buena Fe, etc.) se pueden bajar desde
                %a.link-bullet{:href => "http://www.juegos.gba.gov.ar"} www.juegos.gba.gov.ar
              %br/
              Cronograma: Inscripción desde el 19 de marzo hasta el 18 de mayo.
              Etapa Municipal: del 19 de mayo al 13 de julio.
              (En forma previa se disputarán los Encuentros Masivos Inter-escolares de acuerdo a lo previsto por la Dirección de Educación Física de la Provincia).
              Etapa Regional / Inter-regional: del 14 de julio al 7 de octubre.
              Final Provincial: octubre/noviembre.
          %li.bullet
            %p
              %strong Inter-escuelas de Islas:
              %br/
              Se realizarán 3 jornadas de todo el día. Participan  alumnos desde el nivel Inicial hasta el Secundario. Actividad coordinada con la Inspección de Ed. Física
          %li.bullet
            %p
              %strong Encuentros para personas con discapacidad:
              %br/
              Participarán en Fútbol discapacitados intelectuales, en  Atletismo disc. Intelectuales, motores y sensoriales  y actividades recreativas para los más chicos.
          %li.bullet
            %p
              %strong Encuentros masivos para escuelas deportivas:
              %br/
              Se harán de  voleibol, fútbol, hándbol, hockey. Para todas las categorías
          %h4 INFORMES:
          %p
            Área de Torneos
            %br/
            CE.DE.C. N°1 (Int. Arnoldi y Pasteur)
            %br/
            Te: 4580 - 5684