.top.top-section
  %h1
    Unidad de Facilitación de Resolución
    %br/
    Alternativa de Conflictos Ciudadanos
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        .data
          %p
            La
            Unidad de Facilitación de Resolución Alternativa de Conflictos Ciudadanos
            (UFRACC), es una dependencia municipal                                  que
            permite la rápida intervención de terceros, de modo preventivo o temprano en
            los conflictos, promoviendo relaciones solidarias y cooperativas en la
            comunidad. Es accesible a toda la población, promoviendo la inclusión social,
            esencialmente a partir de la gratuidad del procedimiento. Esta Mediación
            Comunitaria aporta a descomprimir los problemas cotidianos entre vecinos,
            poniendo en valor atributos tales como la tolerancia y la solidaridad,
            prestigiando a su vez la palabra empeñada, plasmada en un acuerdo
            privado.
            %br/
            %br/
            Para consultas, los vecinos pueden
            acercarse a Rosario 1000 (Estación San
            Fernando del Tren de la Costa), llamar
            al 4580- 5737 en el horario de 8 a 14
            horas, o escribir a
            %a.link{:href => "mailto:ufracc@sanfernando.gov.ar"} ufracc@sanfernando.gov.ar.