.top.top-section
  %h1 UNIDADES DE DESARROLLO INFANTIL
  .cierre-oscuro
/ LEFT
.left
  .grid-8-12
    .news-inside
      .item
        / SLIDER
        .slider-contenido
          %a.prevContenido{:href => "#"}
          %a.nextContenido{:href => "#"}
          .container
            .ph
              = image_tag("sections/unidadesdedesarrollo.jpg")
          / END SLIDER
        .data
          %p
            Las Unidades de Desarrollo Infantil  están destinadas a niños de 18 meses a 3 años y funcionan de lunes a viernes de 8 a 16.30 horas, brindando una propuesta gratuita de aprendizaje y contención, para aquellos niños de hogares con bajos recursos cuyos padres deben ausentarse de su hogar para ir a trabajar.
            Son cinco sedes ubicadas en diferentes barrios de la ciudad, que recientemente fueron remodeladas:
          %ul
            %li.bullet
              %p En Villa Jardín: Guatemala 3089.
            %li.bullet
              %p En Villa del Carmen: Humaitá 3945.
            %li.bullet
              %p En Santa Catalina :Quintana 5056.
            %li.bullet
              %p En Don Mariano: Humaitá 2845.
            %li.bullet
              %p En Virgen de Luján: Quintana 5892.
          %p
            Esta primera etapa de refacciones y puesta en valor de los edificios permite dar inicio al ciclo lectivo 2012 recibiendo a los niños en mejores aulas. Este cambio en materia edilicia es acompañado por una nueva propuesta pedagógica, una dieta equilibrada y balanceada, la cual incorpora mayor cantidad de lácteos y nutrientes. Estas decisiones apuntan a brindar un servicio educativo integral, superador al concepto de “Guardería Infantil”.
            Más información: Constitución 1044, San Fernando. Tel. 4725-3500 – 4725-3188 – 4746-5600