.row-fluid.subtitle
  %h1
    XX Salón Primavera - 2014
    %br/
    PREMIADOS, MENCIONADOS Y SELECCIONADOS
  .cierre-oscuro
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %p
          La Secretaría de Educación, Cultura y Contención Social del Municipio agradece la participación de todos los artistas y se enorgullece de haber recibido un total de 257 obras en el Museo de la Ciudad de San Fernando, todas de excelente nivel. Quienes tuvieron la difícil tarea de elegir ganadores y seleccionar los trabajos que se exhibirán fueron Carmen Dalone, Claudia Ligorria y Norberto José Martínez.
          %br/
          El acto inaugural y la entrega de premios se realizarán el martes 7 de octubre, con entrada libre y gratuita, desde las 20hs en el Palacio Sans Souci, Paz 705, Victoria. La puesta del Salón también se podrá apreciar en visitas guiadas, los días miércoles 8 y jueves 9, con el área municipal de Turismo. Los interesados deberán enviar un correo electrónico a la casilla turismo@sanfernando.gov.ar
          %br/
          A continuación, el listado de los 58 premiados y seleccionados.

        %h4 Categoría Pintura
        %p
          Premiados y mencionados:
          %br/
          %br/
          - Jorge Luis De Lorenzo
          %br/
          - María Mercedes Herreros
          %br/
          - Andrea Conde
          %br/ 
          - Alicia Ceballos
          %br/
          %br/
          Seleccionados categoría Pintura:
          %br/ 
          %br/ 
          - Elsa Manna, N° 225
          %br/ 
          - Verónica Monroy, N° 023
          %br/ 
          - Cecilia Mórtola, N° 145
          %br/ 
          - Carmen Pellizzón, N° 218
          %br/ 
          - Mariana Paula Zuetta, N° 200
          %br/ 
          - Nieves Armijo, N° 250
          %br/ 
          - Ruben Tulio García, N° 148
          %br/ 
          - Berta Dalis, N° 229
          %br/ 
          - Jesús Romero, N° 014
          %br/ 
          - Fabricio Cascio, N° 236
          %br/ 
          - Jerónimo Gregorini, N° 230
          %br/ 
          - Maximiliano Sánchez Sosa, N° 244
          %br/ 
          - Mercedes Campana, N° 067
          %br/ 
          - Estela Perosio, N° 126
          %br/ 
          - Raúl Víctor Otálora, N° 134
          %br/ 
          - Alexander Nedashovsky, N° 235
          %br/ 
          - Laura Brarda, N° 160
          %br/ 
          - Anahi Stelatto, N° 066
          %br/ 
          - Patricio Mendiondo, N° 026
          %br/ 
          - María Lucía Sanguinetti, N° 144

        %h4 Categoría Dibujo
        %p
          Premiados y mencionados:
          %br/
          %br/
          - Majo Caporaletti
          %br/
          - Alejandro Telo
          %br/
          - Jesús Romero 
          %br/
          - Emanuel L. Gómez
          %br/
          - Braulio Sapia
          %br/
          %br/
          Seleccionados categoría dibujo:
          %br/
          %br/
          - Silvia Presa, N° 224
          %br/
          - María Adela Naim, N° 175
          %br/
          - María Juana Areal, N° 122
          %br/
          - Carmen Pellizón, N° 215
          %br/
          - Gabriela Lewcowicz, N° 078
          %br/
          - Alejandra Barsuck, N° 086
          %br/
          - Patricio Mendiondo, N° 025
          %br/
          - Jimena Onsari, N° 034
          %br/
          - Verónica Martin, N° 101

        %h4 Categoría Grabado
        %p
          Premiados y mencionados:
          %br/
          %br/
          - María Lorena Bianco
          %br/
          - Alejandra Coirini
          %br/
          - María José “Pipa” Estefanell
          %br/
          - Maite Stinga
          %br/
          - Floki Gauvry
          %br/
          Seleccionados categoría grabado
          %br/
          %br/
          - Graciela Alvarez, N° 159
          %br/
          - Laura Zunino, N° 004
          %br/
          - Charito Estrada, N° 202
          %br/
          - Hilda Díaz Vieyra, N° 163
          %br/
          - Lucía Torres, N° 209
          %br/
          - Cristina Neumann, N° 248
          %br/
          - Rubén Tulio García, N° 147
          %br/
          - Silvina Baz, N° 220
          %br/
          - Carolina Gutiérrez, N° 022
          %br/
          - María de los Ángeles Birchmeyer, N° 178
          %br/
          - Dorotea Finsterbusch, N° 138
          %br/
          - Gabriela M. de Fernández Madero, N° 048
          %br/
          - Ana Erman, N° 213
          %br/
          - Juan Sánchez, N°042
          %br/
          - Roxana Blanco, N° 168
          
        %h4 ¡Felicitaciones!



