.item
  .data
    %p
      CENTRO CULTURAL MANUEL BELGRANO - Miguel Cané y Sgto. Díaz - Tel. 4746-4561
    %table.table.table-striped
      %thead
        %tr
          %th TALLER
          %th PROFESOR
          %th DÍA
          %th HORA
      %tbody
        %tr
          %td Crea tu duende
          %td Salcedo, Alejandra
          %td Lunes
          %td 10 a 12
        %tr
          %td Flores en telas y cintas
          %td Gómez, Dolores
          %td Lunes
          %td 14 a 16
        %tr
          %td Tejido a dos agujas / Crochet Barrientos, Marta Lunes 14 a 16
          %td Teatro  Merello, Marina Lunes 16 a 18
          %td Maquillaje artístico y murguero Centracchio, Sofía  Lunes 18 a 20
          %td Hacé Revista (La revista de mi barrio)  Dall´occhio / Zappacosta  Lunes 18 a 20
          %td Zumba Gamba, Alberto  Lunes y Miércoles 8:30 a 10
          %td Telar Torrano, Ana  Martes  9 a 11
          %td Pintura sobre madera  De Acetis, Cristina Martes  14 a 16
          %td Ensamble de Flautas y Guitarras para niños  Aguilera, Alfredo/ Cola, Ariana Martes  16 a 18
          %td Danzas folclóricas para niños Martínez, Franco  Martes  18 a 19
          %td Danzas folclóricas  Martínez, Franco  Martes  19 a 21
          %td Canto Bazzarelli, Andrea  Miércoles 10 a 12
          %td Entradas y licores  Arcuri, Lina  Miércoles 14 a 16
          %td Panadería Cejas, Claudia  Miércoles 16 a 18
          %td Tango Giménez, Virginia Miércoles 19 a 21
          %td Pintura sobre tela  Gioco, Liliana  Jueves  9 a 11
          %td Corte y confección  Gómez, Mirta  Jueves  11 a 13
          %td rnamentación para eventos  Ramirez, María Laura  Jueves  14 a 16
          %td Arte y juguetes (7 a 10 años) Silva, Romina Jueves  16 a 18
          %td Arte y juguetes (10 a 12 años)  Silva, Romina Jueves  18 a 20
          %td Tejido a dos agujas / Crochet Barrientos, Marta Viernes 9 a 11
          %td Danza jazz infantil Leone, Gisela Viernes 16 a 17
          %td Danza árabe infantil  Leone, Gisela Viernes 17 a 18
          %td Danza jazz  Leone, Gisela Viernes 18 a 19
          %td Danza árabe Leone, Gisela Viernes 19 a 20
          %td Teatro infantil Beltrame, Paola Sábados 14 a 16
          %td Ensamble de percusión (Nivel inicial) Martínez, Pedro Sábados 16 a 18
          %td Guitarra  Olivera, Gonzalo  Sábados 12 a 14  