.span4
	.twitter(style="margin-top:3px;")
		%a.twitter-timeline(width="304" height="235" href="https://twitter.com/SanFdoMunicipio" data-widget-id="346749529896398848") Tweets por @SanFdoMunicipio
		%script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	.fbbox(style="margin-top:4px; float:left; background:#fff; border:1px solid #DDDDDD;")
		.fb-like-box(data-href="http://www.facebook.com/pages/San-Fernando-Municipio/317140548314140" data-width="301" data-height="190" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false")
	.header(style="margin:15px 0px 0px 0px;")
		.icon-servicios(style="margin-top:15px;")
		%h1(style="margin-top:4px;") servicios on line
		.cierre
	.item
		%ul.servicios
			%li
				%a(href="http://sanfernando.gmssa.com.ar/digesto/") digesto on-line 
				%span
				%p.inprocess En proceso de modernización
			%li
				%a(href="http://sanfernando.gmssa.com.ar/") pago de tasas 
				%span
				%p.inprocess En proceso de modernización
			%li
				%a(href="http://sanfernando.gmssa.com.ar/expedientes/") expedientes 
				%span
				%p.inprocess En proceso de modernización
			%li
				%a(href="http://reclamos.sanfernando.gob.ar/sirgov/Tsoliweb.aspx?INS,0") envío de reclamos 
				%span
	.item.centro-atencion
		%h2 
			centro de 
			%br 
			atención al vecino
		%h1 0800-777-6864
		%form(method="post")
			%input(type="text" name="nombre" value="" placeholder="Nombre")
			%input(type="text" name="correo" value="" placeholder="Correo electrónico")
			%input(type="text" name="mensaje" value="" placeholder="Mensaje")
			%input(type="submit" value="Enviar consulta")