#footer
	#footer-inside
		%ul
			%li
				%h4 Contacto
				%a(href="mailto:info@sanfernando.gov.ar")info@sanfernando.gov.ar
			%li
				%h4 Soporte
				%a(href="mailto:web@sanfernando.gov.ar")web@sanfernando.gov.ar
			%li
				%h4.simple
				%a(href="#") Condiciones de uso
			%li.nuevediez
				%h4.simple
				%a(href="http://www.nuevediez.com.ar" target="_blank")design by 0910
			%li.municipio(style="float:right")
				%a(href="http://www.sanfernando.gov.ar")
			%li.facebook(style="float:right")
				%a(href="http://www.facebook.com/SanFerMunicipio" target="_blank")
			%li.twitter(style="float:right")
				%a(href="https://twitter.com/SanFdoMunicipio" target="_blank")

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-70717627-1', 'auto');
	ga('send', 'pageview');

