.grid-4-12
	.item
		=# image_tag("masSanFerBanner1.jpg")					
	.item
		=# image_tag("masSanFerBanner2.jpg")
	.item.centro-atencion
		%h2 
			centro de 
			%br 
			atención al vecino
		%h1 0800-777-6864
		%form(method="post")
			%input(type="text" name="nombre" value="" placeholder="Nombre")
			%input(type="text" name="correo" value="" placeholder="Correo electrónico")
			%input(type="text" name="mensaje" value="" placeholder="Mensaje")
			%input(type="submit" value="Enviar consulta")
		