#media
	#media-inside
		.grid-4-12
			.header
				.icon-video
				%h1.simple videos
				.cierre-claro(style="margin-top:8px;")
				%iframe#ytplayer(type="text/html" width="307" height="229" src="http://www.youtube.com/embed/playlist?list=UUmS91yVvo4RjtJPVU0oOb8A" frameborder="0" allowfullscreen)
		.grid-4-12
			.header
				.icon-mas
				%h1 puntos de interés
				.cierre-claro

			.item
				/ %iframe(width="307" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ar/maps/ms?msid=201373823230886532325.0004b99649d0ef93e0c82&amp;msa=0&amp;ie=UTF8&amp;ll=-34.445229,-58.559167&amp;spn=0.068992,0.110378&amp;t=m&amp;output=embed")
		.grid-4-12
			.header
				.icon-fotos
				%h1 galería de fotos
				.cierre-claro
			.item.fotos
				%a.prev(href="#")
				%a.next(href="#")
				.container