#media
	#media-inside
		.grid-4-12
			.header
				.icon-video
				%h1.simple videos
				.cierre-claro(style="margin-top:8px;")
				%iframe#ytplayer(type="text/html" width="307" height="229" src="http://www.youtube.com/embed/playlist?list=UUmS91yVvo4RjtJPVU0oOb8A" frameborder="0" allowfullscreen)
		.grid-4-12
			.header
				.icon-mas
				%h1 puntos de interés
				.cierre-claro

			.item
				#map_canvas
		.grid-4-12
			.header
				.icon-fotos
				%h1 galería de fotos
				.cierre-claro
			.item.fotos
				%a.prev(href="#")
				%a.next(href="#")
				.container

:javascript
	myCenter = new google.maps.LatLng(-34.4430618,-58.5579643);
	function initialize() {
		var mapOptions = {
		  center: myCenter,
		  zoom: 15,
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"),
		    mapOptions);
		var marker=new google.maps.Marker({
		  position:myCenter,
		});

		marker.setMap(map);

	}