/FACEBOOK 
#fb-root
:javascript
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

#main
	#top
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					%button.btn.btn-navbar(type="button" data-toggle="collapse" data-target=".nav-collapse")
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					.row-fluid	
						%a.brand(href="#")
					.nav-collapse.collapse
						%ul.nav
							%li.active
								%a(href="#") Inicio
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#") La Ciudad
								%ul.dropdown-menu
									%li
										%a(href="#") Actions
									%li
										%a(href="#") Actions
									%li.dropdown-submenu
										%a(href="#") Actions
										%ul.dropdown-menu
											%li
												%a(href="#") Sub Actions
											%li
												%a(href="#") Sub Actions
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#") Gobierno
								%ul.dropdown-menu
									%li
										%a(href="#") Actions
										%a(href="#") Actions
										%a(href="#") Actions
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#") Prensa
								%ul.dropdown-menu
									%li
										%a(href="#") Actions
										%a(href="#") Actions
										%a(href="#") Actions
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#") Agenda
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#") Noticias
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#") Contacto
					.nav-border

